<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BBQ몰 상품등록</title>


    <th:block th:replace="~{fragments/head :: common}"></th:block>

    <link rel="stylesheet" th:href="@{/admin/resources/stylesheets/createProduct.css}">
    <script defer th:src="@{/admin/resources/scripts/createProduct.js}"></script>
    <script th:if="${session.user==null || !session.user.isAdmin()}">
        alert("없는 페이지입니다.");//일반인에게 어드민 페이지를 숨긴다.
        window.location.href=`/`;
    </script>

</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block> <!-- block 자리에 body.html 파일의 replace 태그와 치환한다. -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: floatingBanner}"></th:block>

<main >

    <th:block th:replace="~{fragments/body ::adminSideBar}"></th:block>
    <div class="content">
        <div class="title-container">
            <h1>상품등록</h1>
        </div>

        <form id="form">
            <table>
                <tbody>
                <tr>
                    <th>
                        상품종류
                    </th>

                    <td>
                        <label>
                            <select name="menuIndex">
                                <option value="0" selected>
                                    선택
                                </option>
                                <option value=1>
                                    치킨
                                </option>
                                <option value=2>
                                    닭가슴살
                                </option>
                                <option value=3>
                                    간편식
                                </option>

                            </select>
                        </label>

                        <label>
                            <select name="detailIndex1" class="detail-index">
                                <option value="0">
                                    선택
                                </option>
                                <option value="1">
                                    튀김류
                                </option>
                                <option value="2">
                                    구이류
                                </option>
                                <option value="3">
                                    순살
                                </option>
                                <option value="4">
                                    봉
                                </option>
                                <option value="5">
                                    닭갈비
                                </option>






                            </select>
                        </label>

                        <label>
                            <select name="detailIndex2" class="detail-index">
                                <option value="0">
                                    선택
                                </option>
                                <option value="6">
                                    패키지
                                </option>
                                <option value="7">
                                    수비드
                                </option>
                                <option value="8">
                                    소세지&핫바
                                </option>
                                <option value="9">
                                    만두&육포
                                </option>
                                <option value="10">
                                    닭가슴살
                                </option>
                                <option value="11">
                                    스테이크&큐브
                                </option>
                            </select>
                        </label>

                        <label>
                            <select name="detailIndex3" class="detail-index">
                                <option value="0">
                                    선택
                                </option>
                                <option value="12">
                                    즉석간편식
                                </option>
                                <option value="13">
                                    안주
                                </option>
                                <option value="14">
                                    탕찜
                                </option>
                                <option value="15">
                                    혼합세트
                                </option>
                                <option value="16">
                                    간식류
                                </option>
                            </select>
                        </label>

                    </td>
                </tr>
                <tr>
                    <th>
                        상품이름
                    </th>
                    <td>
                        <label>

                            <input type="text" name="productName" placeholder="상품이름">
                        </label>

                    </td>
                </tr>

                <tr class="image-row">
                    <th>
                        상품이미지
                    </th>
                    <td>
                        <label>

                            <input hidden multiple class="images" name="images" type="file" accept="image/*">



                            <a class="image-select-button" rel="imageSelectButton" href="#">이미지선택...</a>

                        </label>
                        <label class="image-container" rel="imageContainer">
                            <span class="no-image" rel="noImage"> 선택된 이미지가 없습니다.</span>


                        </label>

                    </td>
                </tr>

                <tr>
                    <th>
                        상품가격
                    </th>
                    <td>
                        <label>
                            <input type="number" name="price" min="0" value="0" placeholder="상품가격">
                            <span>원</span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>
                        상품설명
                    </th>
                    <td>
                        <label>

                            <textarea  name="content" placeholder="상품설명"></textarea>
                        </label>

                    </td>
                </tr>
                <tr class="image-row">
                    <th>
                        상품상세<br>이미지
                    </th>
                    <td>
                        <label>

                            <input hidden multiple class="images" name="detailImages" type="file" accept="image/*">



                            <a class="image-select-button" rel="imageSelectButton" href="#">이미지선택...</a>

                        </label>
                        <label class="image-container"  rel="imageContainer">
                            <span class="no-image" rel="noImage"> 선택된 이미지가 없습니다.</span>


                        </label>

                    </td>

                </tr>

                <tr>
                    <th>
                        상품재고
                    </th>
                    <td>
                        <label>

                            <input type="number" name="amount" placeholder="상품재고" min="0" value="0">
                            <span>개</span>
                        </label>
                    </td>

                </tr>
                <tr class="onSale-tr">
                    <th>
                        판매개시
                    </th>
                    <td >
                        <label>
                            <span> 등록과 동시에 판매 유무</span>
                            <input type="checkbox" name="onSale">
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>
                        할인율
                    </th>
                    <td>
                        <label>
                            <input type="number" name="saleQuantity" min="0" max="100" placeholder="할인율" value="0">
                            <span>%</span>
                        </label>

                    </td>
                </tr>


                </tbody>
            </table>
            <div class="button-row">
                <label>
                    <input class="back" type="button" name="back" value="취소">
                </label>

                <label>
                    <input class="submit" type="button" name="submit" value="등록">
                </label>
            </div>
        </form>


    </div>


</main>

<th:block th:replace="~{fragments/body :: footer}"></th:block>

</body>

</html>