<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BBQ몰 -마이페이지</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/myPage/resources/stylesheets/modifyMyInfo.css}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script defer th:src="@{/myPage/resources/scripts/modifyMyInfo.js}"></script>

    <script th:if="${session.user==null}">

        alert("로그인 해주세요.");
        window.location.href='../member/login';

    </script>

</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block> <!-- block 자리에 body.html 파일의 replace 태그와 치환한다. -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: floatingBanner}"></th:block>


<main>
    <th:block th:replace="~{fragments/body ::myPageSideBar}"></th:block>


    <div class="content " th:if="${session.user}">
        <div class="title-container">
            <h1>회원정보 수정</h1>
        </div>
        <form id="form">
            <table>
                <thead class="password-check-row">
                <tr>
                    <th>
                        <h1>본인 확인을 위해서 비밀번호를 입력해주세요.</h1>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="password-check-row">
                    <td>
                        <label>
                            <input type="password" maxlength="20" placeholder="비밀번호를 입력해주세요." id="passwordCheck">
                        </label>
                        <input type="button" value="확인" id="passwordCheckButton">

                        <input hidden th:value="${session.user!=null? session.user.getId():null}" id="id">
                        <!--                    <input hidden th:value="${session.user.getPassword()}">-->
                    </td>
                </tr>
                <tr class="modify-row title-row">
                    <td>
                        <h1>회원정보</h1>
                    </td>

                </tr>
                <tr class="modify-row">
                    <th>
                        아이디
                    </th>
                    <td>
                        <label>
                            <input type="text" maxlength="16" name="userId" th:value="${session.user.getId()}" disabled>
                        </label>
                    </td>
                </tr>
                <tr class="modify-row">
                    <th>
                        이름
                    </th>
                    <td>
                        <label>
                            <input type="text" name="name" maxlength="15" th:value="${session.user.getName()}" placeholder="이름을 입력해주세요.">
                        </label>
                    </td>
                </tr>
                <tr class="modify-row password-row">
                    <th>
                        비밀번호
                    </th>
                    <td>
                        <label>
                            <input type="password" name="password" maxlength="16" placeholder="비밀번호" disabled>
                            <input class="password-button" id="passwordButton" type="button" value="비밀번호 변경">
                        </label>
                    </td>
                    <th>
                        비밀번호확인
                    </th>
                    <td>
                        <label>
                            <input type="password" name="password2" maxlength="16" placeholder="비밀번호">
                            <input class="password-button" id="passwordCancel" type="button" value="변경취소">
                        </label>
                    </td>
                </tr>

                <tr class="modify-row">
                    <th>
                        이메일
                    </th>
                    <td>
                        <label>
                            <input type="text" maxlength="16" name="email" th:value="${session.user.getEmail()}" disabled>
                        </label>
                    </td>
                </tr>
                <tr class="modify-row">
                    <th>
                        전화번호
                    </th>
                    <td>
                        <label>
                            <input type="text" name="contact" maxlength="16" placeholder="' - ' 없이 입력해주세요." th:value="${session.user.getContact()}" >
                        </label>
                    </td>
                </tr>
                <tr class="modify-row">
                    <th>
                        생일
                    </th>
                    <td>
                        <label>
                            <input type="date" name="birth" th:value="${session.user.getBirth()}">
                        </label>
                    </td>
                </tr>
                <tr class="modify-row address-row">
                    <th>주소</th>
                    <td>
                        <label >
                            <span hidden>우편번호</span>

                            <input autofocus maxlength="6" name="addressPostal"
                                   placeholder="우편번호"  type="text" disabled th:value="${session.user.getAddressPostal()}">

                            <input  name="addressFind" value="주소 변경" type="button">

                        </label>

                        <label >
                            <span hidden>기본주소</span>
                            <input autofocus  maxlength="100" name="addressPrimary"
                                   placeholder="주소찾기를 통해 주소를 입력해 주세요." disabled type="text"
                                   th:value="${session.user.getAddressPrimary()}">

                        </label>



                        <label >
                            <span hidden>상세주소</span>
                            <input autofocus  maxlength="100" name="addressSecondary"
                                   placeholder="상세주소를 입력해주세요." disabled type="text"
                                   th:value="${session.user.getAddressSecondary()}">

                        </label>
                        <div class="panel address" rel="addressFindPanel">
                            <div class="dialog" rel="addressFindPanelDialog"></div>
                        </div>


                    </td>
                </tr>



                </tbody>
            </table>

            <input type="submit" name="submit" value="정보수정">
        </form>


    </div>


</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>

