<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BBQ몰 -마이페이지</title>

    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/myPage/resources/stylesheets/myShopping.css}">

    <script defer th:src="@{/myPage/resources/scripts/myShopping.js}"></script>

    <script th:if="${session.user==null}">

        alert("로그인 해주세요.");
        window.location.href='/member/login';


    </script>


</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block> <!-- block 자리에 body.html 파일의 replace 태그와 치환한다. -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: floatingBanner}"></th:block>


<main th:if="${session.user!=null}" >
    <th:block th:replace="~{fragments/body ::myPageSideBar}"></th:block>
    <input hidden id="bid" th:value="${bid}">

    <div class="content" >
        <div class="title-container">
            <h1 th:text="${board}">주문/배송 내역</h1>
        </div>

        <div class="text" th:if="${orders==null}">


            내역이 없습니다.


        </div>
        <ul class="order">
            <li th:each=" order: ${orders}">
                <p th:text="'주문번호 : '+ ${order.getIndex()}"></p>
                <p th:text="'주문자 : '+${order.getName()}"> </p>
                <p th:text="'연락처 : '+${order.getContact()}"> </p>
                <p th:text="'주소 : '+${order.getAddressPostal()}+' '+${order.getAddressPrimary()}+ ' '+ ${order.getAddressSecondary()}"> </p>
                <p th:text="'주문일자 : '+${#dates.format(order.getOrderTime(),'yyyy-MM-dd HH:mm') }"> </p>
                <p th:text="'상품명 : '+${order.getProductName()} +' '+ ${order.getOrderAmount()}+'개' "> </p>
                <p th:text="'결제금액 : '+${order.getPrice()}+'원'"> </p>
            </li>
        </ul>
    </div>




</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>

