<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiponya.bbqmall.mappers.IAdminMapper">

    <insert id="insertProduct" parameterType="com.hiponya.bbqmall.entities.product.ProductEntity" keyProperty="productIndex"
            useGeneratedKeys="true" keyColumn="productIndex">
        INSERT INTO `bbqmall`.`products` ( `detail_index`,`product_name`,`price`,`content`,`view`,`created_on`,`modified_on`,`amount`,`on_sale`,`sale_quantity`
                                            )
        VALUES (#{detailIndex}, #{productName}, #{price} , #{content},#{view},IFNULL(#{createdOn}, default(`created_on`)),IFNULL(#{modifiedOn}, default(`modified_on`)), #{amount},#{onSale},#{saleQuantity} )

    </insert>

    <insert id="insertProductImage" parameterType="com.hiponya.bbqmall.entities.product.ProductImageEntity" keyColumn="index"
            useGeneratedKeys="true" keyProperty="index">
        INSERT INTO `bbqmall`.`product_images` (`product_index`, `data`, `type`)
        VALUES (#{reviewIndex}, #{data}, #{type})
    </insert>
    <insert id="insertDetailImage" parameterType="com.hiponya.bbqmall.entities.product.DetailImageEntity" keyColumn="index"
            useGeneratedKeys="true" keyProperty="index">
        INSERT INTO `bbqmall`.`product_images` (`product_index`, `data`, `type`)
        VALUES (#{reviewIndex}, #{data}, #{type})
    </insert>

    <insert id="insertStatusLookup" parameterType="com.hiponya.bbqmall.entities.product.StatusLookupEntity" keyColumn="index"
            useGeneratedKeys="true" keyProperty="index">
        INSERT INTO `bbqmall`.`status_lookup` (`status`, `text`, `occurred_time`)
        VALUES (#{status}, #{text}, IFNULL(#{occurredTime}, default(`occurred_time`)))
    </insert>

    <select id="selectProductsByDetailIndex" resultType="com.hiponya.bbqmall.entities.product.ProductEntity">

        SELECT `product_index`,
               `detail_index`,
               `product_name`,
               `price`,
               `content`,
               `view`,
               `created_on`,
               `modified_on`,
               `amount`,
               `on_sale`,
               sale_quantity

        FROM `bbqmall`.`products`
        WHERE `detail_index` = #{detail_index}
        ORDER BY `product_index` DESC

    </select>


</mapper>