<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiponya.bbqmall.mappers.IAdminMapper">

    <insert id="insertProduct" parameterType="com.hiponya.bbqmall.entities.product.ProductEntity" keyProperty="productIndex"
            useGeneratedKeys="true" keyColumn="product_index">
        INSERT INTO `bbqmall`.`products` ( `detail_index`,
                                           `product_name`,
                                           `price`,
                                           `content`,
                                           `view`,
                                           `created_on`,
                                           `modified_on`,
                                           `amount`,
                                           `on_sale`,
                                           `sale_quantity`
        )
        VALUES (#{detailIndex}, #{productName}, #{price} , #{content},#{view},IFNULL(#{createdOn}, default(`created_on`)),IFNULL(#{modifiedOn}, default(`modified_on`)), #{amount},#{onSale},#{saleQuantity} )

    </insert>

    <insert id="insertProductImage" parameterType="com.hiponya.bbqmall.entities.product.ProductImageEntity" keyColumn="index"
            useGeneratedKeys="true" keyProperty="index">
        INSERT INTO `bbqmall`.`product_images` (`product_index`, `data`, `type`)
        VALUES (#{productIndex}, #{data}, #{type})
    </insert>
    <insert id="insertDetailImage" parameterType="com.hiponya.bbqmall.entities.product.DetailImageEntity" keyColumn="index"
            useGeneratedKeys="true" keyProperty="index">
        INSERT INTO `bbqmall`.`detail_images` (`product_index`, `data`, `type`)
        VALUES (#{productIndex}, #{data}, #{type})
    </insert>

    <insert id="insertStatusLookup" parameterType="com.hiponya.bbqmall.entities.product.StatusLookupEntity" keyColumn="index"
            useGeneratedKeys="true" keyProperty="index">
        INSERT INTO `bbqmall`.`status_lookup` (`status`,`product_index`, `status_text`, `text`, `occurred_time`)
        VALUES (#{status},#{productIndex},  #{statusText}, #{text}, IFNULL(#{occurredTime}, default(`occurred_time`)))
    </insert>

    <update id="updateProduct" parameterType="com.hiponya.bbqmall.entities.product.ProductEntity">

        UPDATE `bbqmall`.`products` SET   `detail_index` = #{detailIndex},
                                          `product_name`= #{productName},
                                          `price` = #{price} ,
                                          `content` = #{content},
                                          `view` =  #{view},
                                          `created_on` = #{createdOn},
                                          `modified_on` =#{modifiedOn},
                                          `amount` = #{amount},
                                          `on_sale` =#{onSale},
                                          `sale_quantity` = #{saleQuantity}
        WHERE product_index = #{productIndex}
        LIMIT 1;



    </update>



    <select id="selectProductsByDetailIndex" resultType="com.hiponya.bbqmall.vos.product.ProductReadVo">

        SELECT `product_index` AS `productIndex`,
        `detail_index` AS `detailIndex`,
        `menu`.`index`AS `menuIndex`,
        `product_name` AS `productName`,
        `price` AS `price`,
        `content` AS `content`,
        `view` AS `view`,
        `created_on` AS `createdOn`,
        `modified_on` AS `modifiedOn`,
        `amount` AS `amount`,
        `on_sale` AS onSale,
        `sale_quantity` AS `saleQuantity`

        FROM `bbqmall`.`products`
        LEFT JOIN `bbqmall`.`detail_menu` on `products`.`detail_index` = `detail_menu`.`index`
        LEFT JOIN `bbqmall`.`menus` AS `menu` on `detail_menu`.`menu_index` = `menu`.`index`
        <if test='detailIndex!=null and detailIndex!=101 and detailIndex!=102 and detailIndex!=103'>
            WHERE `detail_index` = #{detailIndex}
        </if>

        <if test='detailIndex!=null and detailIndex==101 '>
            WHERE `menu`.`index` = 1

        </if>
        <if test='detailIndex!=null and detailIndex==102 '>
            WHERE `menu`.`index` = 2

        </if>
        <if test='detailIndex!=null and detailIndex==103 '>
            WHERE `menu`.`index` = 3

        </if>


        ORDER BY `modified_on` DESC

    </select>


    <select id="selectProductImagesByProductIndexExceptData" resultType="com.hiponya.bbqmall.entities.product.ProductImageEntity">
        SELECT `index`      AS `index`,
               `product_index` AS `productIndex`

        FROM `bbqmall`.`product_images`
        WHERE `product_index` = #{productIndex}
        ORDER BY `index`

    </select>

    <select id="selectDetailImagesByProductIndexExceptData" resultType="com.hiponya.bbqmall.entities.product.DetailImageEntity">
        SELECT `index`      AS `index`,
               `product_index` AS `productIndex`

        FROM `bbqmall`.`detail_images`
        WHERE `product_index` = #{productIndex}
        ORDER BY `index`

    </select>


    <select id="selectProductImageByIndex" resultType="com.hiponya.bbqmall.entities.product.ProductImageEntity">
        SELECT `index` AS `index`,
               `product_index` AS `productIndex`,
               `data` AS `data`,
               `type` AS `type`
        FROM bbqmall.`product_images`
        WHERE `index` = #{index} LIMIT 1;

    </select>
    <select id="selectDetailImageByIndex" resultType="com.hiponya.bbqmall.entities.product.DetailImageEntity">
        SELECT `index` AS `index`,
               `product_index` AS `productIndex`,
               `data` AS `data`,
               `type` AS `type`
        FROM bbqmall.`detail_images`
        WHERE `index` = #{index} LIMIT 1;

    </select>

    <select id="selectProductByProductIndex" resultType="com.hiponya.bbqmall.vos.product.ProductReadVo">

        SELECT `product_index` AS `productIndex`,
               `detail_index` AS `detailIndex`,
               `product_name` AS `productName`,
               `price` AS `price`,
               `content` AS `content`,
               `view` AS `view`,
               `created_on` AS `createdOn`,
               `modified_on` AS `modifiedOn`,
               `amount` AS `amount`,
               `on_sale` AS onSale,
               `sale_quantity` AS `saleQuantity`

        FROM `bbqmall`.`products`

        WHERE `product_index` = #{productIndex}
        LIMIT 1;

    </select>

    <select id="selectStatusLookupByStatus" resultType="com.hiponya.bbqmall.entities.product.StatusLookupEntity">

        SELECT `index` AS  `index`,
        `product_index` AS `productIndex`,
        `status` AS `status`,
        `status_text` AS `statusText`,
        `text` AS `text`,
        `occurred_time` AS `occurredTime`

        FROM `bbqmall`.`status_lookup`
        WHERE `occurred_time` > DATE_ADD(NOW(), INTERVAL -3 DAY )

        <if test="status!=null and status eq 'create'">
            AND `status` = 'CREATE'
        </if>

        <if test="status!=null and status eq 'update'">
            AND `status` = 'UPDATE'
        </if>

        <if test="status!=null and status eq 'delete'">
            AND `status` = 'DELETE'
        </if>

        ORDER BY `index`
        DESC




    </select>

    <delete id="deleteProductImageByProductIndex" parameterType="com.hiponya.bbqmall.entities.product.ProductImageEntity" >

        DELETE FROM `bbqmall`.`product_images` WHERE product_index = #{productIndex}

    </delete>

    <delete id="deleteDetailImageByProductIndex" parameterType="com.hiponya.bbqmall.entities.product.DetailImageEntity" >

        DELETE FROM `bbqmall`.`detail_images` WHERE product_index = #{productIndex}

    </delete>

    <delete id="deleteProductByProductIndex" parameterType="com.hiponya.bbqmall.entities.product.ProductEntity">

        DELETE FROM `bbqmall`.`products` WHERE  product_index = #{productIndex}


    </delete>

</mapper>