<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiponya.bbqmall.mappers.IBbsMapper">


    <select id="selectNoticeBoardId" resultType="com.hiponya.bbqmall.entities.board.NoticeBoardEntity">
        SELECT `id`   AS `id`,
               `text` AS `text`

        FROM `bbq_bbs`.`notice_board`
        where `id` = #{id}
        LIMIT 1;


    </select>




    <insert id="insertNotice"
            useGeneratedKeys="true" keyProperty="index"
            keyColumn="index"
            parameterType="com.hiponya.bbqmall.entities.board.NoticeEntity">
        INSERT INTO `bbq_bbs`.`notice` (  `board_id`, `title`, `content`, `view`,`important`
                                           , `written_on`, `modified_on`)
        VALUES ( #{boardId}, #{title}, #{content}, #{view} ,IFNULL(#{inportant}, DEFAULT(`important`))
               , IFNULL(#{writtenOn}, DEFAULT(`written_on`)), IFNULL(#{modifiedOn}, DEFAULT(`modified_on`)))


    </insert>

</mapper>