<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiponya.bbqmall.mappers.ICategoryMapper">
    <select id="selectCategoryIndexByDetailIndex" resultType="com.hiponya.bbqmall.entities.product.CategoryEntity">
        select `index` as `index`, `title` as `title`
        from bbqmall.category
        where binary `index` = #{index}
    </select>

    <select id="selectCategories" resultType="com.hiponya.bbqmall.entities.product.CategoryEntity">
        select `index` as `index`,
               `title` as `title`
        from bbqmall.category
    </select>

    <select id="selectCategories2" resultType="com.hiponya.bbqmall.entities.product.CategoryEntity">
        select `index` as `index`,
               `title` as `title`
        from bbqmall.category
        where binary `index` = #{index};
    </select>

    <select id="selectProducts" resultType="com.hiponya.bbqmall.entities.product.ProductEntity">
        select product_index as productIndex,
               detail_index as detailIndex,
               product_name as productName,
               price as price,
               content as content,
               view as view,
               created_on as createdOn,
               modified_on as modifiedOn,
               amount as amount,
               onsale as onsale,
               sale_quantity as saleQuantity
        from bbqmall.products
        where binary product_index = #{index}
    </select>

    <select id="selectSorts" resultType="com.hiponya.bbqmall.entities.product.SortEntity">
        select `index` as `index`, `sort` as `sort`
        from bbqmall.sort
        where binary `index` = #{index}
    </select>

    <select id="selectSaleQuantityByIndex" resultType="com.hiponya.bbqmall.entities.product.ProductEntity">
        select `product_index` as `productIndex`,
               `detail_index` as `detailIndex`,
               `product_name` as `productName`,
               `price` as `price`,
               `content` as `content`,
               `view` as `view`,
               `created_on` as `createdOn`,
               `modified_on` as `modifiedOn`,
               `amount` as `amount`,
               `onsale` as `onsale`,
               `sale_quantity` as `saleQuantity`
        from bbqmall.products
        where binary product_index = #{productIndex}
        order by saleQuantity desc;
    </select>

<!--    <select id="selectSaleQuantityByIndex" resultType="com.hiponya.bbqmall.entities.product.ProductEntity">-->
<!--        select `product_index` as `productIndex`,-->
<!--               `detail_index` as `detailIndex`,-->
<!--               `product_name` as `productName`,-->
<!--               `price` as `price`,-->
<!--               `content` as `content`,-->
<!--               `view` as `view`,-->
<!--               `created_on` as `createdOn`,-->
<!--               `modified_on` as `modifiedOn`,-->
<!--               `amount` as `amount`,-->
<!--               `onsale` as `onsale`,-->
<!--               `sale_quantity` as `saleQuantity`-->
<!--        from `bbqmall`.`products`-->
<!--        where binary `product_index` = #{productIndex}-->
<!--        order by saleQuantity desc-->
<!--    </select>-->


</mapper>