body>main.cs-center {
    width: 80rem;
    padding: 0;
}

body>main>.content{
    width: 100%;


    display: block;
    padding-top: 8rem;
    padding-bottom: 6.25rem;

}
body>main>.content>ul{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;


    /*padding: 0  0  5rem 0;*/



}
body>main>.content>ul>li{
    width: 100%;
    border-collapse:collapse;

    border: rgba(0,0,0,0.05) solid 0.06rem;
    border-right: none;
    display: table-cell;

}
body>main>.content>ul>li:last-of-type{

    border-right: rgba(0,0,0,0.05) solid 0.06rem;

}


body>main>.content>ul>li>a{
width: 100%;
height: calc(10rem - 0.125rem);


    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;

    font-size: 15px;
    color: rgba(0,0,0,0.8);


}
body>main>.content>ul>li>a>img{
    max-width: 55px;
    max-height:55px;
    padding-bottom: 28px;
    padding-top: 24px;
    /*filter: grayscale(100%) brightness(50%);*/
    opacity: 40%;
}



body>main>.content>.question>.title-row{

    margin-top: 62px;
    padding-bottom: 14px;
    align-items: flex-end;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;

}
body>main>.content>.question>.title-row>.more{
    font-size: 13px;
    color: rgba(0,0,0,0.8);
    font-weight: 350;
}


body>main>.content>.question>.title-row>.spring{
    flex: 1;
}


body>main>.content>.question>.title-row>.title{
    font-size: 22px;

    font-weight: 350;
}

body>main>.content>.question>.bar{
    height: 2px;
    width: 100%;
    background-color: black;
}
body>main>.content>.question>.question-ul>li{
    border-bottom: rgba(0,0,0,0.1) solid 1px;


}

body>main>.content>.question>.question-ul>li>div{
    display: flex;
    align-items: center;
}


body>main>.content>.question>.question-ul>li>div>.question-button{
    cursor: pointer;
    padding: 25px 9px 28px 13px;
    font-size: 14px;
  
}


body>main>.content>.question>.question-ul>li>div>span:not(.question-button){
    font-size: 28px;
    font-weight: 700;
    display: inline-block;
    width: 35px;
    text-align: center;
    top: 3px;
    left: 0.465rem;
    position: relative;
    color: rgba(0,0,0,0.8);
}

body>main>.content>.question>.question-ul>.answer{
    display: none;
}
body>main>.content>.question>.question-ul>.answer.visible{
    display: block;
}


body>main>.content>.question>.question-ul>.answer>div>div{
    font-size: 14px;

    padding: 15px 9px 15px 13px;

    font-weight: 500;
}

body>main>.content>.question>.question-ul>.answer>div>div>p{
    margin: unset;
    padding: 0.5rem 0;


}
body>main>.content>.question>.question-ul>li.answer>div>span{
    color: rgba(0,0,0,0.6);


}

body>main>.content>.question>.question-ul>.answer{
   background-color: rgba(0,0,0,0.03);
    color: rgba(0,0,0,0.5);


}
@media screen and (max-width : 87.5rem) {

    body > main.cs-center {

        width: 100%;

    }

    body>main>article{
        font-size: 2rem;
        padding:0 1.625rem  0.5rem 0;
    }

    body>main>.content>.question>ul>.question>div>.question-button,
    body>main>.content>.question>ul>.answer>div>div>p
    {
        font-size: 2rem;
    }
    body>main>.content>ul>li>a{
        font-size: 1rem;
    }

}
@media screen and (max-width : 53.75rem) {


    body > main > article {
        padding: 0 1rem 0.5rem 0;
    }

    body > main > article > ul > li > a {
        padding: 0.375rem 0 0.4375rem 0;
        width: 6.75rem;
    }




}
