
body > main > .content{

    width: 22.5rem;
}




body > main > .content> .form{
    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: center;

    width:100%;
    /*background-color: ivory;*/
}

td,input{
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    border: unset;

}

table{


    width: 100%;
    border-collapse: collapse;
    margin-top: 0.625rem;
}
body > main > .content> .form >.title{

    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #333333;
    padding:  4.0625rem 0 2rem 0;
    /*background-color: red;*/
    letter-spacing: -0.0625rem;
}
body > main > .content> .form > .title2{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.25rem;

    text-shadow: 0 0  0.0625rem rgba(0,0,0,0.7);

}
body > main > .content> .form > .title2>.icon{
    color: #ee3400;
    border: #FFCC00 0.1875rem solid;
    border-radius: 999rem;
}

body >main>.content>.form> table>tbody>tr,
body >main>.content>.form> table>tbody>tr>td,
body >main>.content>.form> table>tbody>tr>td>label

{width: 100%;
    height: 100%;

}


body > main > .content> .form >.email-check-page> table >tbody{

    width: 100%;
    /*align-items: center;*/
    display: flex;
    /*flex-direction:  column;*/
    justify-content: center;
    font-size: 0.9375rem;

    color: #767676;
}
body >main>.content>.form> table>tbody>tr>td{
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;

}


body >main>.content>.form> table>tbody>.login-mode-row>td{
    margin-bottom: 2.5rem;

}
body >main>.content>.form> table>tbody>.login-mode-row>td>label>input{

    cursor: pointer;
    width: 11.25rem;
    height: 2.5rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1rem;

}




body >main>.content.login-mode-user>.form> table>tbody>.login-mode-row>td>label>.login-user{
    border-top: rgba(0,0,0,0.5) solid 0.0625rem;
    border-left:  rgba(0,0,0,0.5) solid 0.0625rem;
    border-right: rgba(0,0,0,0.5) solid 0.0625rem;
    background-color: white;
}
body >main>.content.login-mode-user>.form> table>tbody>.login-mode-row>td>label>.login-null{
    border-top:    rgba(0,0,0,0.2) solid 0.0625rem;
    border-right:  rgba(0,0,0,0.2) solid 0.0625rem;
    border-bottom: rgba(0,0,0,0.5)  solid 0.0625rem;
    color: rgba(0,0,0,0.5);

}

body >main>.content.login-mode-null>.form> table>tbody>.login-mode-row>td>label>.login-user{
    border-top:    rgba(0,0,0,0.2) solid 0.0625rem;
    border-left:  rgba(0,0,0,0.2) solid 0.0625rem;
    border-bottom: rgba(0,0,0,0.5)  solid 0.0625rem;
    color: rgba(0,0,0,0.5);

}
body >main>.content.login-mode-null>.form> table>tbody>.login-mode-row>td>label>.login-null{



    border-top: rgba(0,0,0,0.5) solid 0.0625rem;
    border-left:  rgba(0,0,0,0.5) solid 0.0625rem;
    border-right: rgba(0,0,0,0.5) solid 0.0625rem;

    background-color: white;


}








body >main>.content>.form> table>tbody>.id-row>td>label>input,
body >main>.content>.form> table>tbody>.password-row>td>label>input

{
    height: 2.5rem;
    width: 100%;
    margin-bottom: 0.9375rem;
    border-radius: 0.1875rem;
    border:  rgba(0,0,0,0.2) solid 0.0625rem;
    padding: 0.9375rem;
}
body >main>.content>.form> table>tbody>.id-row>td>label>input::placeholder,
body >main>.content>.form> table>tbody>.password-row>td>label>input::placeholder
{


    color: rgba(0,0,0,0.4);
    font-weight: 600;
    font-size: 0.9375rem;
}

body >main>.content>.form> table>tbody>.id-row>td>label>input:focus,
body >main>.content>.form> table>tbody>.password-row>td>label>input:focus{
    outline: unset;
}



body >main>.content>.form> table>tbody>.checkbox-row{
    padding-bottom: 0.6875rem;
    /*background-color: red;*/
    display: block;
}
body >main>.content>.form> table>tbody>.hidden-row{
    font-size: 0.875rem;
    color: rgba(0,0,0,0.5);
    font-weight: 500;
    padding-bottom: 0.9375rem;
    display: none;
}
body >main>.content.login-mode-null>.form> table>tbody>.hidden-row{
    display: block;
}

body >main>.content.login-mode-null>.form> table>tbody>.checkbox-row,
body >main>.content.login-mode-null>.login-service-row,
body >main>.content.login-mode-null>.easy-login-row,
body >main>.content.login-mode-null>.form> table>tbody>.button-row,
body >main>.content.login-mode-user>.form> table>tbody>.button-row-null-mode

{
    display: none;
}




body >main>.content>.form> table>tbody>.checkbox-row>td>label{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    color: rgba(0,0,0,0.5);
    font-weight: 500;



}





body >main>.content>.form> table>tbody>.checkbox-row>td>label>input{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.3125rem;

    appearance: none;

    box-shadow: 0 0  0 0.0625rem  rgba(0,0,0,0.2);

    border: solid rgba(0,0,0,0.4) 0.0625rem;
}
body >main>.content>.form> table>tbody>.checkbox-row>td>label>input:checked{

    background-color: rgba(0,0,0,0.2);

    background-image: url("/resources/images/checkbox.jpg");
    background-size: 100%;
    box-shadow: 0 0  0 0.125rem  #0ea31a;
    border-radius: 0.3125rem;


}



body >main>.content>.form> table>tbody>tr>td>label>input[type='submit']
{

    height: 3rem;
    width: 22.5rem;
    background-color: #E31134;
    border: unset;

    color: white;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 450;
}
body >main>.content>.form> table>tbody>tr>td>label>input[type='submit']:hover{
    background-color: #FFCC00;
    transition-duration: 500ms;
}



body >main>.content>.form> table>tbody>.button-row-null-mode{
    padding-bottom: 10rem;
    display: block;
}



body> main> .content> .login-service-row{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: center;

    margin: unset;
    padding: unset;

    position: relative;

}
body> main> .content> .login-service-row>li>a{
    color: inherit;

}


body> main> .content> .login-service-row>li>a:hover{
    text-decoration: underline;

}


body> main> .content> .login-service-row>.bar{

    height: 0.8rem;
    border-right: rgba(0,0,0,0.2) solid 0.1rem;

    /*top: 1rem;*/
    position: relative;
}


body> main> .content> .login-service-row> li>a{

    padding: 1.125rem 0.625rem;
    font-size: 1rem;
    display: block;

}
body> main> .content> .easy-login-row{

    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: center;


}
body> main> .content> .easy-login-row>.title-row{

    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: center;

    color: rgba(0,0,0,0.3);
    font-weight: 550;
    font-size: 0.875rem;

    padding: 1.5625rem 0 0.5rem 0;
}


body> main> .content> .easy-login-row>.title-row> .bar2{
    width: 6.875rem;

    color: rgba(0,0,0,0.2);
    border-bottom: 0.0625rem solid rgba(0,0,0,0.2);;

}

body> main> .content> .easy-login-row>.title-row>.text{


    padding:0 0.625rem;

}
body> main> .content> .easy-login-row>.icon-row{
    padding-bottom: 3.75rem;

}


body> main> .content> .easy-login-row>.icon-row>ul{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: center;

    /*display: flex;*/
    margin: unset;
    padding: unset;
}


body> main> .content> .easy-login-row>.icon-row>ul>li>a{

    width: 3.125rem;
    height: 3.125rem;
    display: block;
    background-repeat: no-repeat;
    /*background-color: red;*/
    background-size: 100%;
    margin: 0.625rem;
}
body> main> .content> .easy-login-row>.icon-row>ul>li>.kakao{

    background-image: url("/resources/images/sns_icon_kakaosync.png");
}
body> main> .content> .easy-login-row>.icon-row>ul>li>.facebook{
    background-image: url("/resources/images/sns_icon_facebook.png");

}

body> main> .content> .easy-login-row>.icon-row>ul>li>.naver{
    background-image: url("/resources/images/sns_icon_naver.png");
}
body> main> .content> .easy-login-row>.icon-row>ul>li>.apple{
    background-image: url("/resources/images/apple_login.png");
    /*background-size: 110%;*/


}