<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BBQ몰 글목록</title>

    <th:block th:replace="~{fragments/head :: common}"></th:block>

    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/board.css}">
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/boardQna.css}">

    <script defer th:src="@{/bbs/resources/scripts/board.js}"></script>


</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block> <!-- block 자리에 body.html 파일의 replace 태그와 치환한다. -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: floatingBanner}"></th:block>

<!--<input class="board" name="board" id="board" hidden th:value="${bid==null || bid.equals('notice')|| bid.equals('event') || bid.equals('urgent')? 'notice':bid} ">-->
<main class="cs-center">
    <th:block th:replace="~{fragments/body ::sideBar}"></th:block>
    <div class="content notice" th:if="${bid==null ||  !bid.equals('qna')&& !bid.equals('pi') && !bid.equals('pr') && !bid.equals('bp')}">
        <div class="title-container">
            <h1>공지사항</h1>
        </div>

        <form class="form" name="form">
            <!--            <div class="search-row">-->
            <label>
                <!--                    <select name="criterion" th:with="criterion = ${#request.getParameter('criterion')}">-->
                <!--                        <option th:selected="${criterion ==null || criterion.equals('all')}" value=all>- 전체 -</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('notice')}" value="notice">공지</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('evnet')}" value="event">이벤트</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('urgent')}" value="urgent">긴급공지</option>-->
                <!--                    </select>-->
                <input hidden name="isNoticeBoard" value="notice">
                <select name="bid" class="bid" rel="bid">
                    <option value="all">- 전체 -</option>
                    <option value="notice">공지</option>
                    <option value="event">이벤트</option>
                    <option value="urgent">긴급공지</option>
                </select>

            </label>

            <span class="spring"></span>

            <label>
                <input type="text" placeholder="제목, 내용" th:value="${#request.getParameter('keyword')}" name="keyword">
            </label>

            <input type="submit" value="검색">
            <!--            </div>-->
        </form>

        <table class="content-table">
            <thead>
            <tr>
                <td><h3 class="number">번호</h3></td>
                <td><h3 class="board-id">분류</h3></td>
                <td class="content-title"><h3>제목</h3></td>
                <td><h3 class="written-on">등록일</h3></td>
                <td><h3 class="view-count">조회</h3></td>
            </tr>
            </thead>
            <tbody>
            <tr class="announce-notice" th:each="aNotice: ${announceNotice}">
                <td>
                    <img th:src="@{/resources/images/icon_notice.gif}">
                </td>

                <td>
                    <h3 class="board-id" th:text="${aNotice.getText()}">-</h3>
                </td>


                <td class="content-title">
                    <a th:href="@{/board/readNotice (bid=notice,nid=${aNotice.getIndex()}) }">
                        <h3 th:text="${aNotice.getTitle()}">제목</h3>
                        <!--                            <img  alt="new" class="is-new-icon new"-->
                        <!--                                  th:src="@{/resources/images/icon_new.gif}">-->
                        <img alt="new"
                             th:if="${aNotice.isNew()}"
                             th:src="@{/resources/images/icon_new.gif}">

                        <img alt="hot" th:if="${aNotice.getView()>0}"
                             th:src="@{/resources/images/icon_hot.gif}">

                    </a></td>


                <td>
                    <h3 class="written-on" th:text="${#dates.format(aNotice.getWrittenOn(),'yyyy.MM.dd')}">
                        2022.52.22</h3>
                </td>
                <td>
                    <h3 class="view-count" th:text="${aNotice.getView()}">1</h3>
                </td>
            </tr>

            <tr class="article" th:each="article, i: ${notice}">
                <!--공지의 특성상 10개가 넘어가지 않으므로 실사이트에선 게시물 번호가 아닌 10 내림차순으로 보여주는 듯 합니다.                    -->
                <td>
                    <h3 class="number" th:text="${i.size - i.index}">-</h3>
                </td>

                <td>
                    <h3 class="board-id" th:text="${article.getText()}">-</h3>
                </td>

                <input class="is-new" hidden th:value="${#dates.format(article.getModifiedOn(),'yyyyMMdd')}">


                <td class="content-title"><a th:href="@{/board/readNotice (bid=notice,nid=${article.getIndex()})}"><h3
                        th:text="${article.getTitle()}">-</h3>
                    <!--                        <img  alt="new" class="is-new-icon new"-->
                    <!--                             th:src="@{/resources/images/icon_new.gif}">-->
                    <img alt="new"
                         th:if="${article.isNew()}"
                         th:src="@{/resources/images/icon_new.gif}">


                    <img alt="hot" th:if="${article.getView()>0}"
                         th:src="@{/resources/images/icon_hot.gif}">


                </a></td>


                <td>
                    <h3 class="written-on" th:text="${#dates.format(article.getWrittenOn(),'yyyy.MM.dd')}">
                        2022.52.22</h3>
                </td>
                <td>
                    <h3 class="view-count" th:text="${article.getView()}">1</h3>
                </td>
            </tr>


            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <!--                            with는 변수선언이라고 보면된다.-->
                    <div class="page-container"
                         th:with="urlBulder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

                        <a class="page"
                           th:if="${paging.requestPage >1}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.minPage).build().toUriString()}}">


                            <i class="fa-solid fa-angles-left"></i>

                        </a>

                        <a class="page"
                           th:if="${paging.requestPage >1}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage -1).build().toUriString()}}">

                            <i class="fa-solid fa-angle-left"></i>
                        </a>

                        <!--                                시퀀스를하면 정수 시작부터 정수끝을 배열로 돌려준다.-->
                        <a th:each="page: ${#numbers.sequence(paging.startPage, paging.endPage)}"
                           th:class="${'page ' + (page==paging.requestPage? 'selected':'')}"
                           th:text="${page}"
                           th:href="@{${urlBulder.replaceQueryParam('page', page).build().toUriString()}}"

                        >
                            <!--                                    클릭시 값을 페이지라고 적혀ㅓ잇는곳을 페이지값으로 바꾸겟다 검색어에서도 사용하기위해 빌드쓴다-->

                        </a>


                        <a class="page"
                           th:if="${paging.requestPage < paging.maxPage}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage +1).build().toUriString()}}">


                            <i class="fa-solid fa-angle-right"></i>

                        </a>

                        <a class="page"
                           th:if="${paging.requestPage < paging.maxPage}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.maxPage).build().toUriString()}}">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>

                    </div>
                </td>

            </tr>


            </tfoot>

        </table>


        <div class="write-notice-button" th:if="${session.user!=null && session.user.isAdmin()}">
            <a th:href="@{/board/writeNotice}">공지작성</a>
        </div>
    </div>

    <div class="content qna" th:if="${bid!=null && bid.equals('qna')}">
        <div class="title-container">
            <h1>자주묻는질문</h1>
        </div>


        <ul class="qna-button-container">

            <li>
                <a class="button" href="/board/?bid=qna" id="all">전체</a>

            </li>
            <li>
                <a class="button" href="/board/?bid=qna&qid=user" id="user">회원가입/로그인</a>

            </li>
            <li>
                <a class="button" href="/board/?bid=qna&qid=payment" id="payment">주문결제</a>

            </li>
            <li>
                <a class="button" href="/board/?bid=qna&qid=shipping" id="shipping">배송문의</a>

            </li>
            <li>
                <a class="button" href="/board/?bid=qna&qid=productService" id="productService">교환&반품</a>

            </li>
            <li>
                <a class="button" href="/board/?bid=qna&qid=product" id="product">상품문의</a>

            </li>
            <li>
                <a class="button" href="/board/?bid=qna&qid=other" id="other">기타</a>

            </li>


        </ul>

        <form id="form">
            <label>
                <input hidden name="isNoticeBoard" value="qna">

                <input type="text" maxlength="15" name="text" placeholder="제목, 내용" >
                <input type="button" value="검색" name="searchButton">
                <input hidden th:value="${qid}" name="qid">
            </label>
        </form>


        <ul class="qna-container">

            <li th:each="article :${notice} ">
                <div class="question">
                    <h1>Q</h1>
                    <p class="questionOpen">
                        <span th:text="${article.getTitle()}">2</span> <span
                            th:text="${article.getContent()}"> 1 </span></p></div>

                <div class="answer" th:each="isAnswer:${answer}" th:if="${isAnswer.getQuestionIndex()==article.getIndex()}">
                    <h1>A</h1>
                    <p>
                                             <span th:utext="${isAnswer.getContent()}"
                                             >BBQ 배송과 각 브랜드 개별 배송비는 별도로 부과됩니다.
                                                 <br>브랜드 개별 배송: 브랜드 정책에 따라 무료배송 혹은 배송비 부과 (3,000원)
                                             </span>

                    </p>
                </div>

            </li>


            <!--                        <li>-->
            <!--                            <div class="question">-->
            <!--                                <h1>Q</h1>-->
            <!--                                <p class="questionOpen">-->
            <!--                                    <span>[배송문의] </span> <span> 브랜드 별 배송비 알고싶어요!</span></p></div>-->

            <!--                            <div class="anther">-->
            <!--                                <h1>A</h1>-->
            <!--                                <p>-->
            <!--                                             <span>BBQ 배송과 각 브랜드 개별 배송비는 별도로 부과됩니다.-->
            <!--                                                 <br>브랜드 개별 배송: 브랜드 정책에 따라 무료배송 혹은 배송비 부과 (3,000원)-->
            <!--                                             </span>-->

            <!--                                </p>-->
            <!--                            </div>-->

            <!--                        </li>-->

        </uL>

        <div class="qna-page-container"
             th:with="urlBulder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

            <a class="page"
               th:if="${paging.requestPage >2}"
               th:href="@{${urlBulder.replaceQueryParam('page', paging.minPage).build().toUriString()}}">


                <i class="fa-solid fa-angles-left"></i>

            </a>

            <a class="page"
               th:if="${paging.requestPage >1}"
               th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage -1).build().toUriString()}}">

                <i class="fa-solid fa-angle-left"></i>
            </a>

            <!--                                시퀀스를하면 정수 시작부터 정수끝을 배열로 돌려준다.-->
            <a th:each="page: ${#numbers.sequence(paging.startPage, paging.endPage)}"
               th:if="${paging.maxPage>1}"
               th:class="${'page ' + (page==paging.requestPage? 'selected':'')}"
               th:text="${page}"
               th:href="@{${urlBulder.replaceQueryParam('page', page).build().toUriString()}}"

            >
                <!--                                    클릭시 값을 페이지라고 적혀ㅓ잇는곳을 페이지값으로 바꾸겟다 검색어에서도 사용하기위해 빌드쓴다-->

            </a>


            <a class="page"
               th:if="${paging.requestPage < paging.maxPage}"
               th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage +1).build().toUriString()}}">


                <i class="fa-solid fa-angle-right"></i>

            </a>

            <a class="page"
               th:if="${paging.maxPage - paging.requestPage >1 }"
               th:href="@{${urlBulder.replaceQueryParam('page', paging.maxPage).build().toUriString()}}">
                <i class="fa-solid fa-angles-right"></i>
            </a>

        </div>
    </div>

    <div class="content pi" th:if="${bid!=null &&  bid.equals('pi')}">
        <div class="title-container">
            <h1>상품문의</h1>
        </div>

        <form class="form " name="form">
            <!--            <div class="search-row">-->
            <label>
                <!--                    <select name="criterion" th:with="criterion = ${#request.getParameter('criterion')}">-->
                <!--                        <option th:selected="${criterion ==null || criterion.equals('all')}" value=all>- 전체 -</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('notice')}" value="notice">공지</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('evnet')}" value="event">이벤트</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('urgent')}" value="urgent">긴급공지</option>-->
                <!--                    </select>-->
                <input hidden name="isNoticeBoard" value="pi">
                <select name="bid" class="bid" rel="bid" disabled hidden>
                    <option value="all">- 전체 -</option>
                    <option value="notice">공지</option>
                    <option value="event">이벤트</option>
                    <option value="urgent">긴급공지</option>
                </select>

            </label>

            <span class="spring"></span>

            <label>
                <input type="text" placeholder="제목, 내용, 상품평, 상품설명, 작성자" th:value="${#request.getParameter('keyword')}" name="keyword" >
            </label>

            <input type="submit" value="검색" >
            <!--            </div>-->
        </form>

        <table class="content-table">
            <thead>
            <tr>
                <td><h3 class="number">번호</h3></td>
                <td><h3 class="state">상태</h3></td>
                <td><h3 class="board-id">분류</h3></td>
                <td class="content-title"><h3>제목</h3></td>
                <td><h3 class="id">문의자</h3></td>
                <td><h3 class="written-on">등록일</h3></td>
                <td><h3 class="view-count">조회</h3></td>
            </tr>
            </thead>
            <tbody>

            <tr class="article" th:each="article, i: ${notice}" th:with="pi=''">
                <!--공지의 특성상 10개가 넘어가지 않으므로 실사이트에선 게시물 번호가 아닌 10 내림차순으로 보여주는 듯 합니다.                    -->
                <td>
                    <h3 class="number" th:text="${i.size - i.index}">-</h3>
                </td>
                <td>
                    <h3 th:text="${article.getCommentCount()<=0? '답변대기':'답변완료'}">답변전</h3>
                </td>

                <td>
                    <h3 class="board-id" th:text="${article.getText()}">-</h3>
                </td>

                <input class="is-new" hidden th:value="${#dates.format(article.getModifiedOn(),'yyyyMMdd')}">


                <td class="content-title"><a th:href="@{/board/readNotice (bid=pi,nid=${article.getIndex()})}"><h3
                        th:text="${article.getTitle()}">-</h3>
                    <!--                        <img  alt="new" class="is-new-icon new"-->
                    <!--                             th:src="@{/resources/images/icon_new.gif}">-->
                    <img alt="new"
                         th:if="${article.isNew()}"
                         th:src="@{/resources/images/icon_new.gif}">


                    <img alt="hot" th:if="${article.getView()>0}"
                         th:src="@{/resources/images/icon_hot.gif}">


                </a></td>

                <td>
                    <h3 class="id"  th:text="${article.getId()}" >성함</h3>
                </td>

                <td>
                    <h3 class="written-on" th:text="${#dates.format(article.getWrittenOn(),'yyyy.MM.dd')}">
                        2022.52.22</h3>
                </td>
                <td>
                    <h3 class="view-count" th:text="${article.getView()}">1</h3>
                </td>
            </tr>


            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <!--                            with는 변수선언이라고 보면된다.-->
                    <div class="page-container"
                         th:with="urlBulder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

                        <a class="page"
                           th:if="${paging.requestPage >1}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.minPage).build().toUriString()}}">


                            <i class="fa-solid fa-angles-left"></i>

                        </a>

                        <a class="page"
                           th:if="${paging.requestPage >1}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage -1).build().toUriString()}}">

                            <i class="fa-solid fa-angle-left"></i>
                        </a>

                        <!--                                시퀀스를하면 정수 시작부터 정수끝을 배열로 돌려준다.-->
                        <a th:each="page: ${#numbers.sequence(paging.startPage, paging.endPage)}"
                           th:class="${'page ' + (page==paging.requestPage? 'selected':'')}"
                           th:text="${page}"
                           th:href="@{${urlBulder.replaceQueryParam('page', page).build().toUriString()}}"

                        >
                            <!--                                    클릭시 값을 페이지라고 적혀ㅓ잇는곳을 페이지값으로 바꾸겟다 검색어에서도 사용하기위해 빌드쓴다-->

                        </a>


                        <a class="page"
                           th:if="${paging.requestPage < paging.maxPage}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage +1).build().toUriString()}}">


                            <i class="fa-solid fa-angle-right"></i>

                        </a>

                        <a class="page"
                           th:if="${paging.requestPage < paging.maxPage}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.maxPage).build().toUriString()}}">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>

                    </div>
                </td>

            </tr>


            </tfoot>

        </table>


        <div class="write-notice-button">
            <a th:href="@{/board/writeNotice (bid= ${bid})}">문의작성</a>
        </div>
    </div>

    <div class="content notice" th:if="${bid!=null &&  bid.equals('pr')}">
        <div class="title-container">
            <h1>상품후기</h1>
        </div>

        <form class="form" name="form">
            <!--            <div class="search-row">-->
            <label>
                <!--                    <select name="criterion" th:with="criterion = ${#request.getParameter('criterion')}">-->
                <!--                        <option th:selected="${criterion ==null || criterion.equals('all')}" value=all>- 전체 -</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('notice')}" value="notice">공지</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('evnet')}" value="event">이벤트</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('urgent')}" value="urgent">긴급공지</option>-->
                <!--                    </select>-->
                <input hidden name="isNoticeBoard" value="pr">
                <select name="bid" class="bid" rel="bid" disabled hidden>
                    <option value="all">- 전체 -</option>
                    <option value="notice">공지</option>
                    <option value="event">이벤트</option>
                    <option value="urgent">긴급공지</option>
                </select>

            </label>

            <span class="spring"></span>

            <label>
                <input type="text" placeholder="제목, 내용, 상품평, 상품설명, 작성자" th:value="${#request.getParameter('keyword')}" name="keyword" >
            </label>

            <input type="submit" value="검색" >
            <!--            </div>-->
        </form>

        <table class="content-table">
            <thead>
            <tr>
                <td><h3 class="number">번호</h3></td>
                <td><h3 class="board-id">분류</h3></td>
                <td class="content-title"><h3>제목</h3></td>
                <td><h3 class="id">문의자</h3></td>

                <td><h3 class="written-on">등록일</h3></td>
                <td><h3 class="view-count">조회</h3></td>
            </tr>
            </thead>
            <tbody>

            <tr class="article" th:each="article, i: ${notice}" th:with="pr=''">
                <!--공지의 특성상 10개가 넘어가지 않으므로 실사이트에선 게시물 번호가 아닌 10 내림차순으로 보여주는 듯 합니다.                    -->
                <td>
                    <h3 class="number" th:text="${i.size - i.index}">-</h3>
                </td>

                <td>
                    <h3 class="board-id" th:text="${article.getText()}">-</h3>
                </td>

                <input class="is-new" hidden th:value="${#dates.format(article.getModifiedOn(),'yyyyMMdd')}">


                <td class="content-title"><a th:href="@{/board/readNotice (bid=pr,nid=${article.getIndex()})}"><h3
                        th:text="${article.getTitle()}">-</h3>
                    <!--                        <img  alt="new" class="is-new-icon new"-->
                    <!--                             th:src="@{/resources/images/icon_new.gif}">-->
                    <img alt="new"
                         th:if="${article.isNew()}"
                         th:src="@{/resources/images/icon_new.gif}">


                    <img alt="hot" th:if="${article.getView()>0}"
                         th:src="@{/resources/images/icon_hot.gif}">


                </a></td>

                <td>
                    <h3 class="id"  th:text="${article.getId()}" >성함</h3>
                </td>

                <td>
                    <h3 class="written-on" th:text="${#dates.format(article.getWrittenOn(),'yyyy.MM.dd')}">
                        2022.52.22</h3>
                </td>
                <td>
                    <h3 class="view-count" th:text="${article.getView()}">1</h3>
                </td>
            </tr>


            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <!--                            with는 변수선언이라고 보면된다.-->
                    <div class="page-container"
                         th:with="urlBulder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

                        <a class="page"
                           th:if="${paging.requestPage >1}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.minPage).build().toUriString()}}">


                            <i class="fa-solid fa-angles-left"></i>

                        </a>

                        <a class="page"
                           th:if="${paging.requestPage >1}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage -1).build().toUriString()}}">

                            <i class="fa-solid fa-angle-left"></i>
                        </a>

                        <!--                                시퀀스를하면 정수 시작부터 정수끝을 배열로 돌려준다.-->
                        <a th:each="page: ${#numbers.sequence(paging.startPage, paging.endPage)}"
                           th:class="${'page ' + (page==paging.requestPage? 'selected':'')}"
                           th:text="${page}"
                           th:href="@{${urlBulder.replaceQueryParam('page', page).build().toUriString()}}"

                        >
                            <!--                                    클릭시 값을 페이지라고 적혀ㅓ잇는곳을 페이지값으로 바꾸겟다 검색어에서도 사용하기위해 빌드쓴다-->

                        </a>


                        <a class="page"
                           th:if="${paging.requestPage < paging.maxPage}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage +1).build().toUriString()}}">


                            <i class="fa-solid fa-angle-right"></i>

                        </a>

                        <a class="page"
                           th:if="${paging.requestPage < paging.maxPage}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.maxPage).build().toUriString()}}">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>

                    </div>
                </td>

            </tr>


            </tfoot>

        </table>


        <div class="write-notice-button">
            <a th:href="@{/board/writeNotice (bid= ${bid})}">후기작성</a>
        </div>
    </div>

    <div class="content bp" th:if="${bid!=null &&  bid.equals('bp')}">
        <div class="title-container">
            <h1>대량구매</h1>
        </div>

        <form class="form" name="form">
            <!--            <div class="search-row">-->
            <label>
                <!--                    <select name="criterion" th:with="criterion = ${#request.getParameter('criterion')}">-->
                <!--                        <option th:selected="${criterion ==null || criterion.equals('all')}" value=all>- 전체 -</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('notice')}" value="notice">공지</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('evnet')}" value="event">이벤트</option>-->
                <!--                        <option th:selected="${criterion != null && criterion.equals('urgent')}" value="urgent">긴급공지</option>-->
                <!--                    </select>-->
                <input hidden name="isNoticeBoard" value="bp">
                <select name="bbid" class="bbid" rel="bbid" >
                    <option value="0" >- 질문유형전체 -</option>
                    <option value="1">대량구매문의</option>
                    <option value="2">제휴문의</option>
                    <option value="3">견적문의</option>
                </select>

            </label>

            <span class="spring"></span>

            <label>
                <input type="text" placeholder="상품명, 회사명, 문의자, 제목, 내용" th:value="${#request.getParameter('keyword')}" name="keyword">
            </label>

            <input type="button" name="searchButton" value="검색">
            <!--            </div>-->
        </form>

        <table class="content-table">
            <thead>
            <tr>
                <td><h3 class="number">번호</h3></td>
                <td><h3 class="state">상태</h3></td>
                <td><h3 class="board-id">분류</h3></td>
                <td class="content-title"><h3>제목</h3></td>
                <td><h3 class="id">문의자</h3></td>
                <td><h3 class="written-on">등록일</h3></td>

            </tr>
            </thead>
            <tbody>

            <tr class="article" th:each="bpArticle, i: ${bpArticles}">
                <!--공지의 특성상 10개가 넘어가지 않으므로 실사이트에선 게시물 번호가 아닌 10 내림차순으로 보여주는 듯 합니다.                    -->
                <td>
                    <h3 class="number" th:text="${i.size - i.index }">-</h3>
                </td>

                <td>
                    <h3 th:text="${bpArticle.getCommentCount()<=0? '답변대기':'답변완료'}">답변전</h3>
                </td>

                <td>
                    <h3 class="board-id" th:text="${bpArticle.getText()}">-</h3>
                </td>



                <td class="content-title">
                    <a th:href="@{/board/readNotice (bid=bpArticle,bbid=${bpArticle.getIndex()})}">
                        <h3
                                th:text="${bpArticle.getTitle()}">-</h3>

                    </a></td>

                <td>
                    <h3 class="id"  th:text="${bpArticle.getId()}" >성함</h3>
                </td>


                <td>
                    <h3 class="written-on" th:text="${#dates.format(bpArticle.getWrittenOn(),'yyyy.MM.dd')}">
                        2022.52.22</h3>
                </td>

            </tr>


            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <!--                            with는 변수선언이라고 보면된다.-->
                    <div class="page-container"
                         th:with="urlBulder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

                        <a class="page"
                           th:if="${paging.requestPage >2}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.minPage).build().toUriString()}}">


                            <i class="fa-solid fa-angles-left"></i>

                        </a>

                        <a class="page"
                           th:if="${paging.requestPage >1}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage -1).build().toUriString()}}">

                            <i class="fa-solid fa-angle-left"></i>
                        </a>

                        <!--                                시퀀스를하면 정수 시작부터 정수끝을 배열로 돌려준다.-->
                        <a th:each="page: ${#numbers.sequence(paging.startPage, paging.endPage)}"
                           th:class="${'page ' + (page==paging.requestPage? 'selected':'')}"
                           th:text="${page}"
                           th:href="@{${urlBulder.replaceQueryParam('page', page).build().toUriString()}}"

                        >
                            <!--                                    클릭시 값을 페이지라고 적혀ㅓ잇는곳을 페이지값으로 바꾸겟다 검색어에서도 사용하기위해 빌드쓴다-->

                        </a>


                        <a class="page"
                           th:if="${paging.requestPage < paging.maxPage}"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage +1).build().toUriString()}}">


                            <i class="fa-solid fa-angle-right"></i>

                        </a>

                        <a class="page"
                           th:if="${  paging.maxPage - paging.requestPage >1  }"
                           th:href="@{${urlBulder.replaceQueryParam('page', paging.maxPage).build().toUriString()}}">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>

                    </div>
                </td>

            </tr>


            </tfoot>

        </table>


        <div class="write-notice-button">
            <a th:href="@{/board/writeBp}">대량구매 문의</a>
        </div>
    </div>











</main>


<th:block th:replace="~{fragments/body :: footer}"></th:block>

</body>
</html>