<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>BBQ몰 글읽기</title>

    <th:block th:replace="~{fragments/head :: common}"></th:block>

    <!--    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/readBpArticle.css}">-->
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/readNotice.css}">
    <script defer th:src="@{/bbs/resources/scripts/readNotice.js}"></script>

    <script th:if="${notice==null && bpArticle==null}">
        alert('존재하지 않는 게시물입니다.');

        window.location.href='/board/'
    </script>


</head>


<body>
<th:block th:replace="~{fragments/body :: header}"></th:block> <!-- block 자리에 body.html 파일의 replace 태그와 치환한다. -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: floatingBanner}"></th:block>


<main class="cs-center">
    <input id="bid" th:value=" ${bid}" hidden>
    <th:block th:replace="~{fragments/body ::sideBar}"></th:block>

    <div class="content" th:if="${notice!=null}">

        <div class="title-container">
            <h1 th:text="${!bid.equals('notice') ?'상품':'공지사항'}">공지사항</h1>
        </div>


        <table class="content-table">
            <thead>
            <tr>
                <td th:utext="${notice.getTitle()}">
                    제목
                </td>
            </tr>
            </thead>

            <tbody>


            <tr class="info-row">
                <th>
                    분류
                </th>

                <td th:text="${notice.getText()}">
                    [공지]
                </td>

                <th>
                    작성자
                </th>
                <td>
                    <img th:if="${notice.getBoardId().equals('notice')||notice.getBoardId().equals('urgent')||notice.getBoardId().equals('event') }" src="/resources/images/icon_admin.gif" alt="관리자" title="관리자" height="15">
                    <span th:if="${notice.getBoardId().equals('pi')||notice.getBoardId().equals('pr') }" th:text="${notice.getId()}"></span>
                </td>

            </tr>

            <tr class="info-row">
                <th>
                    등록일
                </th>
                <td th:text="${#dates.format(notice.getWrittenOn(),'yyyy-MM-dd HH:mm:ss')}">
                    2022-22-22
                </td>

                <th>
                    조회수
                </th>
                <td th:text="${notice.getView()}">
                    1

                </td>
            </tr>
            <tr class="content-row">
                <td th:utext="${notice.getContent()}">
                    내용물
                </td>


            </tr>

            <tr class="comment-row" th:if="${bid!=null && bid.equals('pi')}" th:each="piComment : ${piComments}">
                <td>
                    <span>답변</span> <img src="/resources/images/icon_admin.gif">

                </td>
                <td>
                    답변드립니다.
                </td>

                <td class="comment-content" th:text="${piComment.getContent()}">
                    안녕하세요<br>
                    bbq몰이에요
                </td>


                <td class="modify-comment-row">

                    <form id="modifyForm-pi">
                        <label>

                            <textarea name="content" placeholder="답변을 입력해주세요." th:text="${piComment.getContent()}"
                                      class="modify-comment-content"></textarea>
                        </label>
                        <span class="submit-row">
                            <label>
                                     <input type="button" value="작성" class="commentModifyComplete">
                            </label>
                            <label>
                                <input type="button" value="취소" class="commentModifyCancel">
                            </label>

                         </span>

                    </form>


                </td>


                <td class="delete-row visible">
                    <label>
                        <input type="button" class="modifyAdminComment" value="수정" th:if="${session.user!=null && session.user.isAdmin()}">
                    </label>
                    <label>
                        <input type="button" class="deleteAdminComment" value="삭제" th:if="${session.user!=null && session.user.isAdmin()}">
                    </label>



                    <input hidden  class="picIndex" th:value="${piComment.getIndex()}">

                </td>
            </tr>

            <tr class="comment-row write-comment-row">
                <td>
                    <span>답변작성하기</span> <img alt="답변" title="답변" src="/resources/images/icon_admin.gif">

                </td>
                <td>
                    답변을 입력해주세요.
                </td>

                <td>
                    <form id="pi-form">
                        <label>
                            <input  hidden id="noticeIndex" th:value="${notice.getIndex()}">

                            <textarea id="content" placeholder="답변을 입력해주세요."></textarea>
                        </label>
                    </form>

                </td>


                <td class="submit-row">
                    <input type="button" value="작성" id="piCommentWriteComplete">
                    <input type="button" value="취소" id="piCommentCancel">

                </td>

            </tr>

            </tbody>

            <tfoot>
            <tr class="sns-share-row">
                <td>
                    <img alt="페이스북 공유하기" src="/resources/images/sns_f0.gif" title="페이스북 공유하기">
                    <img alt="트위터 공유하기" src="/resources/images/sns_t0.gif" title="트위터 공유하기">
                    <img alt="카카오톡 공유하기" src="/resources/images/sns_k0.gif" title="카카오톡 공유하기">
                </td>

            </tr>

            <tr class="management-row">
                <td>
                    <a th:href="@{/board/ (bid=${bid})}">목록</a>

                    <span class="spring"></span>
                    <input id="important" class="important" hidden th:value="${!notice.isImportant()}" type="text">
                    <a class="announce-button"
                       th:if="${session.user != null && session.user.isAdmin()==true && bid=='notice'}">공지등록</a>
                    <!--                                <a class="announce-button"-->
                    <!--                                   th:if="${session.user != null && session.user.isAdmin()==true && notice.isImportant()}">공지해제</a>-->
                    <a th:href="@{./modifyNotice (bid=${bid}, nid=${notice.getIndex()})}"
                       th:if="${session.user!=null && session.user.isAdmin()}">
                        수정</a>
                    <a id="deleteButton" href="#"
                       th:if="${session.user!=null && (session.user.isAdmin() || session.user.getId()==notice.getId())}">
                        삭제</a>


                    <input th:if="${session.user!=null && session.user.isAdmin() && !bid.equals('notice') && !bid.equals('pr')}" type="button" id="piCommentButton"
                           value="답변남기기">

                    <input hidden id="isMine" th:value="${session.user!=null && (session.user.isAdmin() || notice.getId().equals(session.user.getId())) ? 1:0
                    }">
                    <input hidden id="isAdmin" th:value="${session.user!=null && session.user.isAdmin()?1:0}">
                </td>
            </tr>


            </tfoot>


        </table>
        <input th:value="${notice.getIndex()}" hidden id="index">
    </div>

    <div class="content" th:if="${bpArticle!=null}">

        <div class="title-container">
            <h1>대량구매</h1>
        </div>


        <table class="content-table">
            <thead>
            <tr>
                <td th:text="${bpArticle.getTitle()}">
                    제목
                </td>
            </tr>
            </thead>

            <tbody>


            <tr class="bp-info-row">
                <th>
                    문의자
                </th>

                <td th:text="${bpArticle.getId()}">
                    [id]
                </td>

                <th>
                    등록일
                </th>
                <td th:text="${#dates.format(bpArticle.getWrittenOn(),'yyyy-MM-dd HH:mm:ss')}">
                    2200-22-22
                </td>

            </tr>

            <tr class="bp-info-row">
                <th>
                    문의자정보
                </th>

                <td th:text="${'담당자 이름 : '+ bpArticle.getName()}">
                    1
                </td>

                <td th:text="${'담당자 연락처 : '+bpArticle.getContact()}">
                    2
                </td>

                <td th:text="${'회사명 : '+ bpArticle.getCompany()}">
                    3
                </td>

                <td th:text="${'담당자 이메일 : '+ bpArticle.getEmail()}">
                    4
                </td>
            </tr>

            <tr class="bp-info-row">
                <th>
                    상품정보
                </th>

                <td th:text="${bpArticle.getProductInfo()}">

                </td>
            </tr>
            <tr class="bp-info-row">
                <th>
                    희망가격
                </th>

                <td th:text="${bpArticle.getRequestPrice()}+ ' 원'">
                    1
                </td>
            </tr>
            <tr class="bp-info-row">
                <th>
                    결제/배송
                </th>

                <td th:text="${'결제수단 :' + bpArticle.getPay()}">
                    결제수단 :카드 일시불
                </td>
                <td th:text="'매출증빙:'+ ${bpArticle.getRequestEvidence()}">
                    매출증빙: 직접만나서 구매합니다
                </td>
                <td th:text="'배송예정희망일:'+ ${bpArticle.getRequestDate()}">
                    배송예정희망일 : 2020-52-64
                </td>
            </tr>

            <tr class="content-row">
                <td th:utext="${bpArticle.getContent()}">
                    내용물
                </td>


            </tr>


            <tr class="comment-row" th:each="adminComment : ${adminComments}">
                <td>
                    <span>답변</span> <img src="/resources/images/icon_admin.gif">

                </td>
                <td>
                    답변드립니다.
                </td>

                <td th:text="${adminComment.getContent()}" class="comment-content">
                    안녕하세요<br>
                    bbq몰이에요
                </td>


                <td class="modify-comment-row">

                    <form id="modifyForm">
                        <label>

                            <textarea name="content" placeholder="답변을 입력해주세요."
                                      th:text="${adminComment.getContent()}" class="modify-comment-content"></textarea>
                        </label>
                        <span class="submit-row">
                            <label>
                                     <input type="button" value="작성" class="commentModifyComplete">
                            </label>
                            <label>
                                <input type="button" value="취소" class="commentModifyCancel">
                            </label>

                         </span>

                    </form>


                </td>


                <td class="delete-row visible">
                    <label>
                        <input type="button" class="modifyAdminComment" value="수정" th:if="${session.user!=null && session.user.isAdmin()}">
                    </label>
                    <label>
                        <input type="button" class="deleteAdminComment" value="삭제" th:if="${session.user!=null && session.user.isAdmin()}">
                    </label>
                    <input hidden th:value="${adminComment.getIndex()}" class="acIndex">

                </td>
            </tr>

            <tr class="comment-row write-comment-row">
                <td>
                    <span>답변작성하기</span> <img alt="답변" title="답변" src="/resources/images/icon_admin.gif">

                </td>
                <td>
                    답변을 입력해주세요.
                </td>

                <td>
                    <form id="form">
                        <label>
                            <input th:value="${bpArticle.getIndex()}" hidden id="bbid">

                            <textarea name="content" placeholder="답변을 입력해주세요."></textarea>
                        </label>
                    </form>

                </td>


                <td class="submit-row">
                    <input type="button" value="작성" id="commentWriteComplete">
                    <input type="button" value="취소" id="commentCancel">

                </td>

            </tr>

            </tbody>

            <tfoot>
            <tr class="sns-share-row">
                <td>
                    <img alt="페이스북 공유하기" src="/resources/images/sns_f0.gif" title="페이스북 공유하기">
                    <img alt="트위터 공유하기" src="/resources/images/sns_t0.gif" title="트위터 공유하기">
                    <img alt="카카오톡 공유하기" src="/resources/images/sns_k0.gif" title="카카오톡 공유하기">
                </td>

            </tr>

            <tr class="management-row">
                <td>
                    <a href="./?bid=bp">목록</a>

                    <span class="spring"></span>

                    <!--                                <a class="announce-button"-->
                    <!--                                   th:if="${session.user != null && session.user.isAdmin()==true && notice.isImportant()}">공지해제</a>-->
                    <a th:if="${session.user!=null &&  session.user.getId==bpArticle.getId()}"
                       th:href="@{./modifyNotice (bid='bp',bbid=${bpArticle.getIndex()})}"> 수정</a>
                    <a href="#"
                       th:if="${session.user!=null && (session.user.isAdmin()|| session.user.getId==bpArticle.getId())}"
                       id="BpDeleteButton">삭제</a>

                    <input th:if="${session.user!=null && session.user.isAdmin()}" type="button" id="commentButton"
                           value="답변남기기">

                </td>
            </tr>

            </tfoot>

            <input th:value="${session.user!=null &&(session.user.isAdmin())? 'true':'false'}"
                   hidden id="authority">
            <input th:value="${bpArticle.getIndex()}" hidden id="bpIndex">


        </table>


    </div>


</main>


<th:block th:replace="~{fragments/body :: footer}"></th:block>

</body>
</html>