<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글읽기</title>

    <th:block th:replace="~{fragments/head :: common}"></th:block>

    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/readNotice.css}">
    <script defer th:src="@{/bbs/resources/scripts/readNotice.js}"></script>

</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block> <!-- block 자리에 body.html 파일의 replace 태그와 치환한다. -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>


<main class="cs-center">
    <th:block th:replace="~{fragments/body ::sideBar}"></th:block>

    <div class="content">

        <div class="title-container">
            <h1>공지사항</h1>
        </div>



        <table class="content-table">
            <thead>
            <tr>
                <td th:utext="${notice.getTitle()}">
                   제목
                </td>
            </tr>
            </thead>

            <tbody>


                    <tr class="info-row">
                        <th>
                            분류
                        </th>

                        <td th:text="${notice.getText()}">
                            [공지]
                        </td>

                        <th>
                            작성자
                        </th>
                        <td>
                            <img src="/resources/images/icon_admin.gif" alt="관리자" title="관리자" height="15px">
                        </td>

                    </tr>

                    <tr class="info-row">
                        <th>
                            등록일
                        </th>
                        <td th:text="${#dates.format(notice.getWrittenOn(),'yyyy-MM-dd HH:mm:ss')}">
                        2022-22-22

                        </td>

                        <th>
                        조회수
                        </th>
                        <td th:text="${notice.getView()}">
                            1

                        </td>
                    </tr>
                    <tr class="content-row">
                        <td th:utext="${notice.getContent()}">
                            내용물
                        </td>


                    </tr>

            </tbody>

            <tfoot>
                    <tr class="sns-share-row">
                        <td>
                            <img alt="페이스북 공유하기" src="/resources/images/sns_f0.gif" title="페이스북 공유하기">
                            <img alt="트위터 공유하기" src="/resources/images/sns_t0.gif" title="트위터 공유하기">
                            <img alt="카카오톡 공유하기" src="/resources/images/sns_k0.gif" title="카카오톡 공유하기">
                        </td>

                    </tr>

                        <tr class="management-row">
                            <td>
                              <a href="./" >목록</a>

                            <span class="spring"></span>
                                <input id="important" class="important" hidden  th:value="${!notice.isImportant()}" type="text">
                                <a class="announce-button"
                                th:if ="${session.user != null && session.user.isAdmin()==true}">공지등록</a>
<!--                                <a class="announce-button"-->
<!--                                   th:if="${session.user != null && session.user.isAdmin()==true && notice.isImportant()}">공지해제</a>-->
                                <a href="#">수정</a>
                                <a href="#">삭제</a>
                            </td>
                        </tr>

            </tfoot>







        </table>



    </div>


</main>


<th:block th:replace="~{fragments/body :: footer}"></th:block>

</body>
</html>