<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>


    <th:block th:replace="~{fragments/head :: common}"></th:block>

    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/writeBulkPurchase.css}">
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/bbs/resources/scripts/writeBulkPurchase.js}"></script>



</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block> <!-- block 자리에 body.html 파일의 replace 태그와 치환한다. -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>

<main class="cs-center">

    <th:block th:replace="~{fragments/body ::sideBar}"></th:block>
    <div class="content">

        <div class="title-container">
            <h1>대량구매</h1>
        </div>

        <form class="write-form" id="form">

            <table class="content-table" id="table">
                <tbody>
                <tr class="title-row">
                    <th>문의등록자</th>
                    <td>


                        <label class="label">
                            <!--                            <input type="text" placeholder="제목, 내용" th:value="${#request.getParameter('keyword')}" name="keyword">-->
                            <span hidden>문의등록자</span>
                            <input  maxlength="20" name="id" readonly
                                    type="text" th:value="${session.user.getId()}">

                        </label>
                    </td>
                </tr>
                <tr class="class-row">
                    <th>분류</th>
                    <td>


                        <label class="label">

                            <span hidden>보드아이디</span>
                            <select name="bbid">
                                <option  value="no">
                                    -분류선택-
                                </option>
                                <option  value="1">
                                    대량구매 문의
                                </option>

                                <option value="2">
                                    제휴 문의
                                </option>
                                <option value="3">
                                    견적 문의
                                </option>
                            </select>

                        </label>
                    </td>
                </tr>

                <tr class="title-row">
                    <th>담당자명</th>
                    <td>


                        <label class="label">

                            <span hidden>제목</span>
                            <input  maxlength="100" name="name"
                                    type="text">

                        </label>
                    </td>
                </tr>
                <tr class="title-row">
                    <th>담당자이메일</th>
                    <td>


                        <label class="label">

                            <span hidden>이메일</span>
                            <input  maxlength="30" name="email"
                                    type="email">

                        </label>
                    </td>
                </tr>
                <tr class="title-row">
                    <th>담당자연락처</th>
                    <td>


                        <label class="label">

                            <span hidden>담당자연락처</span>
                            <input  maxlength="20" name="contact" placeholder="' - ' 없이 입력해주세요"
                                    type="text">

                        </label>
                    </td>
                </tr>
                <tr class="title-row">
                    <th>회사명</th>
                    <td>


                        <label class="label">

                            <span hidden>회사명</span>
                            <input  maxlength="20" name="company"
                                    type="text">

                        </label>
                    </td>
                </tr>
                <tr class="title-row">
                    <th>배송요청일</th>
                    <td>


                        <label class="label">

                            <span hidden>배송요청일</span>
                            <input  name="requestDate"
                                    type="date">

                        </label>
                    </td>
                </tr>
                <tr class="title-row request-row">
                    <th>상품정보</th>
                    <td>


                        <label class="label">

                            <span hidden>상품정보</span>
                            <input maxlength="500" name="productInfo"
                                   type="text" placeholder="문의하시는 상품을 기술해주세요.">

                        </label>
                    </td>
                </tr>

                <tr class="title-row">
                    <th>요청금액</th>
                    <td>


                        <label class="label">

                            <span hidden>요청금액</span>
                            <input  maxlength="30" name="requestPrice"
                                    type="number">
                            <span>원</span>
                        </label>

                    </td>
                </tr>
                <tr class="title-row">
                    <th>결제수단</th>
                    <td>


                        <label class="label">

                            <span hidden>제목</span>
                            <input  maxlength="100" name="pay" placeholder="결제수단을 입력해주세요."
                                    type="text">

                        </label>
                    </td>
                </tr>
                <tr class="title-row request-row">
                    <th>필요증빙자료</th>
                    <td>


                        <label class="label">

                            <span hidden>제목</span>
                            <input  maxlength="20" name="requestEvidence" placeholder="ex:현금영수증, 세금계산서 필요합니다"
                                    type="text">

                        </label>
                    </td>
                </tr>
                <tr class="title-row reply">
                    <th>답변받기</th>
                    <td>


                        <label class="label">

                            <span> SMS</span>
                            <input   name="replySms" id="replySms" type="checkbox">
                        </label>
                        <label class="label">

                            <span> email</span>

                            <input  name="replyEmail" id="replyEmail" type="checkbox">

                        </label>
                    </td>
                </tr>


                <tr class="title-row request-row">
                    <th>제목</th>
                    <td>


                        <label class="label">

                            <span hidden>제목</span>
                            <input  maxlength="100" name="title"
                                    type="text">

                        </label>
                    </td>
                </tr>



                <tr class="text-box-row">
                    <th>내용</th>
                    <td>
                        <label class="label">
                            <span hidden>내용</span>
                            <textarea  maxlength="10000" name="content"
                                       placeholder="내용을 입력해주세요"></textarea>

                        </label>
                    </td>
                </tr>

                <tr class="button-row">
                    <th></th>
                    <td>
                        <label>
                            <input class="before" name="back" value="돌아가기" type="button">
                        </label>
                        <span class="spring"></span>
                        <label>
                            <input class="submit" name="submit" value="작성하기" type="submit">

                        </label>



                    </td>


                </tr>



                </tbody>
            </table>
        </form>








    </div>

</main>


<th:block th:replace="~{fragments/body :: footer}"></th:block>


</body>
</html>