<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BBQ몰 - 상품리스트</title>
  <th:block th:replace = "~{fragments/head :: common}"></th:block>
  <link rel="stylesheet" th:href="@{/member/resources/stylesheets/register.css}">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script defer th:src="@{/member/resources/scripts/register.js}"></script>
</head>

<body>
<th:block th:replace="~{fragments/body :: header}"></th:block> <!-- block 자리에 body.html 파일의 replace 태그와 치환한다. -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: floatingBanner}"></th:block>

<form name="goodsSearchForm" id="goodsSearchForm" method="get">
  <input type="hidden" name="osearchtext" value="">
  <input type="hidden" name="ship_grp_seq" value="">
  <input type="hidden" name="event" value="">
  <input type="hidden" name="gift" value="">
  <input type="hidden" name="page" value="1">
  <input type="hidden" name="utm_campaign" value="">
  <input type="hidden" name="utm_medium" value="">
  <input type="hidden" name="utm_source" value="">
  <input type="hidden" name="searchMode" value="catalog">
  <div id="filterResultCount">241</div>
  <div class="search_filter_wrap" data-ezmark="undo">
    <!-- 필터 -->
    <ul id="searchFilter" class="search_filter no_filter">

    </ul>

    <!-- 필터된 항목 -->
    <div id="searchFilterSelected" class="search_filter_selected" style="display:none;">
      <ul class="selected_item_area">
        <li data-filtertype="category" data-type="category" data-filteritem="category_0013" data-value="c0013"><a class="remove" href="#">NEW</a><input type="hidden" name="category" value="c0013"></li></ul>
      <div class="selected_etc_area">
        <a class="btn_all_cancel" href="#" title="전체해제" onclick="resetParams();"></a>
      </div>
    </div>

    <!--[ 추천상품 출력(추천상품 디스플레이 편집 : 관리자 > 상품리스트 페이지 > 설정 > 페이지 추천상품 ) ]-->
    <!-- 상품디스플레이 파일들 폴더 위치 : /data/design/ ( ※ /data 폴더는 /skin 폴더 상위 폴더입니다. ) -->


    <!-- 검색된 상품 정렬 -->
    <ul id="filteredItemSorting" class="filtered_item_sorting">
      <li class="item_total">
        <a href="javascript:void(0)" id="btnFilterOpen" class="total"><span class="num">241</span>개</a>
      </li>
      <li class="item_display">
        <label class="display display_lattice active"><input type="radio" name="filter_display" value="lattice" onclick="filterDisplay()" checked="">격자 반응형</label>
        <label class="display display_list"><input type="radio" name="filter_display" value="list" onclick="filterDisplay()">리스트 반응형</label>
      </li>
      <li class="item_viewnum">
        <select name="per">
          <option value="20">&nbsp;20개씩 보기&nbsp;</option>
          <option value="40" selected="">&nbsp;40개씩 보기&nbsp;</option>
          <option value="100">&nbsp;100개씩 보기&nbsp;</option>
          <option value="200">&nbsp;200개씩 보기&nbsp;</option>
        </select>
      </li>
      <li class="item_order">
        <p id="mobileSortingSelected">랭킹순</p>
        <ul class="list">
          <li>
            <label class="active"><input type="radio" name="sorting" value="ranking" checked="">랭킹순</label>
          </li>
          <li>
            <label><input type="radio" name="sorting" value="regist">신규등록순</label>
          </li>
          <li>
            <label><input type="radio" name="sorting" value="low_price">낮은가격순</label>
          </li>
          <li>
            <label><input type="radio" name="sorting" value="high_price">높은가격순</label>
          </li>
          <li>
            <label><input type="radio" name="sorting" value="review">상품평많은순</label>
          </li>
          <li>
            <label><input type="radio" name="sorting" value="sale">판매량순</label>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</form>


<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>