<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BBQ몰 - 로그인</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/login.css}">
    <script defer th:src="@{/member/resources/scripts/login.js}"></script>

</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block> <!-- block 자리에 body.html 파일의 replace 태그와 치환한다. -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: floatingBanner}"></th:block>

<main class="main">
    <div class="content login-mode-user" id="content">
        <form class="form " id="form">
            <h1 class="title">로그인</h1>
            <h2 class="title2">
                <i class="fa-regular fa-face-smile icon"></i>
                "오늘도 BBQ몰과 맛있는 경험!"</h2>
            <table>
                <tbody>
                <tr class="login-mode-row">
                    <td>

                        <label>
                            <input class="login-user" name="loginUser" value="회원" type="button">
                        </label>

                        <label>
                            <input class="login-null" name="loginNull" value="비회원" type="button">
                        </label>
                    </td>


                </tr>

                <tr class="id-row">
                    <td>
                        <label>
                            <input type="text" maxlength="20" autofocus class="id" placeholder="아이디" name="id">
                        </label>

                    </td>

                </tr>
                <tr class="password-row">
                    <td>
                        <label>
                            <input type="password" maxlength="16" class="id" placeholder="비밀번호" name="password">
                        </label>

                    </td>

                </tr>

                <tr class="hidden-row">
                    <th hidden>비회원 안내</th>
                    <td><span>비회원은 주문번호와 이메일로 주문을 조회할 수 있습니다.</span> </td>

                </tr>

                <tr class="checkbox-row">


                    <td><label><input type="checkbox" name="checkbox"><span>아이디 저장</span>

                    </label></td>

                </tr>
                <tr class="button-row">
                    <td>
                        <label>
                            <input type="submit" name="submit" value="로그인" >


                        </label>
                    </td>

                </tr>

                <tr class="button-row-null-mode">
                    <td>
                        <label>
                            <input type="submit"  value="주문하기" >
                        </label>
                    </td>

                </tr>

                </tbody>

            </table>

        </form>
        <ul class="login-service-row">
            <li><a th:href="@{/member/recover?find=id}">아이디 찾기</a></li>
            <li class="bar"></li>
            <li><a th:href="@{/member/recover?find=pw}">비밀번호 찾기</a></li>
            <li class="bar"></li>
            <li><a th:href="@{/member/register}" >회원가입</a></li>
        </ul>

        <div class="easy-login-row">
            <div class="title-row">
                <span class="bar2"></span>
                <span class="text">간편하게 시작하기</span>
                <span class="bar2"></span>

            </div>

            <div class="icon-row">
                <ul>

                    <li><a class="kakao" href="#"></a></li>
                    <li><a class="facebook" href="#"></a></li>
                    <li><a class="naver" href="#"></a></li>
                    <li><a class="apple" href="#"></a></li>


                </ul>

            </div>

        </div>


    </div>
</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>

