<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BBQ몰 - 회원가입</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/register.css}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer th:src="@{/member/resources/scripts/register.js}"></script>

</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block> <!-- block 자리에 body.html 파일의 replace 태그와 치환한다. -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: floatingBanner}"></th:block>

<main class="main">
    <div class="content">
        <form class="form step0" id="form">

            <div class="email-check-page">

                <h1 class="title">본인인증</h1>
                <table>
                    <tbody>

                    <tr class="head">

                        <td><a>이메일</a></td>

                    </tr>

                    <tr>
                        <td class="icon-container">

                            <i class="fa-solid fa-envelope icon"></i>

                            <span id="guideText">이메일을 사용하여 본인확인을 합니다.</span>
                        </td>
                    </tr>

                    <tr class="check-start">
                        <td>
                            <label>
                                <input class="email-button" id="emailButton" type="button" value="이메일 본인 인증">


                            </label>


                        </td>
                    </tr >
                    <tr class="code-send-row">
                        <td>
                            <label>
                                <input class="email-text" type="email" name="emailText" placeholder="이메일을 입력해주세요" maxlength="30" autofocus>
                                <input class="code-send-button" name="codeSendButton" type="button" value="인증번호 전송">

                            </label>


                        </td>
                    </tr>
                    <tr class="code-check-row">
                        <td>
                            <label>
                                <input class="email-Auth-Code " name="emailAuthCode" type="text" placeholder="인증번호를 입력해주세요" maxlength="20" >
                                <input class="code-check-button " name="codeCheckButton" type="button" value="인증" >
                                <input name="emailAuthSalt" type="hidden">

                            </label>


                        </td>
                    </tr>






                    </tbody>
                </table>




            </div>

            <div class="terms-page">

                <h1 class="title">약관동의</h1>
                <table>
                    <tbody>

                    <tr class="all-check-row">

                        <td>
                            <label><input type="checkbox" name="checkAll"><span>약관 전체 동의</span></label>

                        </td>



                    </tr>
                    <tr class="shop-terms-row">

                        <td>
                            <label><input type="checkbox" name="checkboxShop"><span>쇼핑몰 이용약관</span>

                            </label>
                            <h5>(필수)</h5><span class="spring"></span> <span class="terms-text-button-shop">보기</span></td>

                    </tr>
                    <tr class="user-terms-row">

                        <td>
                            <label><input type="checkbox" name="checkboxUser"><span>개인정보 수집 및 이용</span>

                            </label> <h5>(필수)</h5><span class="spring"></span> <span class="terms-text-button-user">보기</span></td>

                    </tr>
                    <tr class="marketing-check-row">

                        <td><label><input type="checkbox" name="checkboxMarketing"><span>마케팅 및 광고 활용 동의</span>

                        </label> <h5>(선택)</h5></td>

                    </tr>
                    <tr class="receive-check-row">

                        <td>
                            <label><input type="checkbox" name="checkboxEmail"><span>이메일 수신</span>

                            </label>

                            <label><input type="checkbox" name="checkboxSMS"><span>SMS 수신</span>

                            </label>


                        </td>

                    </tr>


                    </tbody>
                </table>




            </div>

            <div class="insert-userinfo-page">
                <h1 class="title">회원정보 입력</h1>
                <h5 class="title2">
                    <span><i class="fa-solid fa-circle-exclamation icon"></i></span>
                    모든 항목을 기입해 주세요.</h5>
                <table>
                    <tbody>
                    <tr class="id-row">
                        <th>아이디</th>
                        <td>
                            <label>
                                <input type="text" name="id" maxlength="20" autofocus placeholder="공백 없는 영문/숫자 포함 6~20자">
                            </label>
                        </td>
                    </tr>

                    <tr class="password-row">
                        <th>비밀번호</th>
                        <td>
                            <label>
                                <input type="password" name="password" maxlength="16" placeholder="8~16자의 영문, 숫자, 특수문자를 최소 한가지씩 포함">
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <th>비밀번호 확인</th>
                        <td>
                            <label>
                                <input type="password" name="passwordCheck" maxlength="16" >
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <th>이름</th>
                        <td>
                            <label>
                                <input type="text" name="name" maxlength="10" >
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <th>이메일</th>
                        <td>
                            <label>
                                <input type="email" name="email" maxlength="20" disabled>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <th>전화번호</th>
                        <td>
                            <label>
                                <input type="text" name="contact" maxlength="20" placeholder='" - " 없이 입력해주세요'>
                            </label>
                        </td>
                    </tr>

                    <tr class="address-row">
                        <th>주소</th>
                        <td>
                            <label class="label address-first">
                                <span hidden>우편번호</span>

                                <input autofocus class="--object-input input" maxlength="6" name="addressPostal"
                                       placeholder="우편번호"  type="text" disabled>
                                <input class="--object-button" name="addressFind" value="주소 찾기" type="button">

                            </label>

                            <label class="label address">
                                <span hidden>기본주소</span>
                                <input autofocus class="--object-input input" maxlength="100" name="addressPrimary"
                                       placeholder="주소찾기를 통해 주소를 입력해 주세요." disabled type="text">

                            </label>



                            <label class="label address">
                                <span hidden>상세주소</span>
                                <input autofocus class="--object-input input" maxlength="100" name="addressSecondary"
                                       placeholder="상세주소를 입력해주세요." disabled type="text">

                            </label>
                            <div class="panel address" rel="addressFindPanel">
                                <div class="dialog" rel="addressFindPanelDialog"></div>
                            </div>


                        </td>
                    </tr>

                    <tr class="birth-row">
                        <th>생년월일</th>
                        <td>
                            <label>
                                <input type="date" maxlength="20" name="birth">
                            </label>
                        </td>
                    </tr>



                    </tbody>
                </table>

            </div>

            <div class="complete-page ">
                <h1 class="title">가입완료</h1>
                <h5 class="title2">
                    <i class="fa-regular fa-face-smile icon"></i>
                    고객님을 진심으로 환영합니다.</h5>



            </div>
            <label>
                <input class="next" name="next" type="button" value="다음">
            </label>
            <ul class="text">
                <li>
                    실명확인이 되지 않는 경우 아래의 실명인증기관에 실명등록을 요청할 수 있습니다.
                    <br>
                    한국신용정보㈜ 1588-2486
                </li>
                <li>
                    타인의 정보 및 주민등록번호를 부정하게 사용하는 경우 3년 이하의 징역 또는 1천만원 이하의 벌금에 처해질 수 있습니다
                    <br>
                    (주민등록법 제 37조)
                </li>
            </ul>


        </form>

    </div>

    <div class="terms-content">
        <div class="terms-text-container">
            <div class="title-row"><span id="termsTitle">쇼핑몰 이용약관개인정보 수집 및 이용</span>
                <span class="spring"></span>
                <span class="exiting-button">Ｘ</span> <i class="fa-solid fa-xmark-large"></i></div>

            <span class="shop-terms-text terms-text">


       인터넷 쇼핑몰 『(주)제너시스비비큐 사이버 몰』회원 약관
            <span>&nbsp;</span>

            <span>제1조(목적)</span>

이 약관은 ㈜제너시스비비큐 회사(전자상거래 사업자)가 운영하는 ㈜제너시스비비큐 사이버 몰(이하 "몰"이라 한다)에서 제공 하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리의무 및 책임사항을 규정함을 목적으로 합니다.
            <span>&nbsp;</span>
            「PC통신, 무선 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 이 약관을 준용합니다」
            <span>&nbsp;</span>


            <span>제2조(정의)</span>
①"몰" 이란 (주)제너시스비비큐 회사가 재화 또는 용역(이하 "재화등"이라 함)을 이용자에게 제공하기 위하여 컴퓨터등 정보통신설비를 이용하여 재화등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버몰을 운영하는 사업자의 의미로도 사용합니다.
            <span>&nbsp;</span>
②"이용자"란 "몰"에 접속하여 이 약관에 따라 "몰"이 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
            <span>&nbsp;</span>
③ '회원'이라 함은 "몰"에 개인정보를 제공하여 회원등록을 한 자로서, "몰"의 정보를 지속적으로 제공받으며, "몰"이 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.
            <span>&nbsp;</span>
④ '비회원'이라 함은 회원에 가입하지 않고 "몰"이 제공하는 서비스를 이용하는 자를 말합니다.
            <span>&nbsp;</span>
<span>제3조 (약관등의 명시와 설명 및 개정)</span>
① "몰"은 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호·모사전송번호·전자우편주소, 사업자등록번호, 통신판매업신고 번호, 개인정보관리책임자등을 이용자가 쉽게 알 수 있도록 (주)제너시스비비큐 사이버몰의 초기 서비스화면(전면) 에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.
            <span>&nbsp;</span>
② "몰은 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회·배송책임·환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 합니다.
            <span>&nbsp;</span>
③ "몰"은 전자상거래등에서의소비자보호에관한법률, 약관의규제에관한법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진등에관한법률, 방문판매등에관한법률, 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
            <span>&nbsp;</span>
④ "몰"이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 몰의 초기화면에 그 적용일자 7일이전부터 적용일자 전일까지 공지합니다.
다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 "몰"은 개정전 내용과 개정후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.
            <span>&nbsp;</span>
⑤ "몰"이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간내에 '몰"에 송신하여 "몰"의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.
            <span>&nbsp;</span>
⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래등에서의소비자보호에관한법률, 약관의규제등에관한법률, 공정거래위원회가 정하는 전자상거래등에서의소비자보호지침 및 관계법령 또는 상관례에 따릅니다.
            <span>&nbsp;</span>
            <span>제4조(서비스의 제공 및 변경)</span>
            <span>① "몰"은 다음과 같은 업무를 수행합니다.</span>
            <span>1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결</span>
            <span>2. 구매계약이 체결된 재화 또는 용역의 배송</span>
            <span>3. 기타 "몰"이 정하는 업무</span>
            <span>&nbsp;</span>
②"몰"은 재화 또는 용역의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용 및 제공일자를 명시하여 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지합니다.
            <span>&nbsp;</span>
③"몰"이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 주소로 즉시 통지합니다.
            <span>&nbsp;</span>
④전항의 경우 "몰"은 이로 인하여 이용자가 입은 손해를 배상합니다. 다만, "몰"이 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.
            <span>&nbsp;</span>
            <span>제5조(서비스의 중단)</span>
① "몰"은 컴퓨터 등 정보통신설비의 보수점검·교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
            <span>&nbsp;</span>
②"몰"은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상합니다. 단, "몰"이 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.
            <span>&nbsp;</span>
③사업종목의 전환, 사업의 포기, 업체간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 "몰"은 제8조에 정한 방법으로 이용자에게 통지하고 당초 "몰"에서 제시한 조건에 따라 소비자에게 보상합니다. 다만, "몰"이 보상기준 등을 고지하지 아니한 경우에는 이용자들의 마일리지 또는 적립금 등을 "몰"에서 통용되는 통화가치에 상응하는 현물 또는 현금으로 이용자에게 지급합니다.
            <span>&nbsp;</span>
            <span>제6조(회원가입)</span>
① 이용자는 "몰"이 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.
            <span>&nbsp;</span>
            <span>② "몰"은 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각호에 해당하지 않는 한 회원으로 등록합니다.</span>
            <span>1. 가입신청자가 이 약관 제7조제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 "몰"의 회원재가입 승낙을 얻은 경우에는 예외로 한다.</span>
            <span>2. 등록 내용에 허위, 기재누락, 오기가 있는 경우</span>
            <span>3. 기타 회원으로 등록하는 것이 "몰"의 기술상 현저히 지장이 있다고 판단되는 경우</span>
            <span>&nbsp;</span>
③ 회원가입계약의 성립 시기는 "몰"의 승낙이 회원에게 도달한 시점으로 합니다.
            <span>&nbsp;</span>
④ 회원은 제15조제1항에 의한 등록사항에 변경이 있는 경우, 즉시 전자우편 기타 방법으로 "몰"에 대하여 그 변경사항을 알려야 합니다.
            <span>&nbsp;</span>
            <span>제7조(회원 탈퇴 및 자격 상실 등)</span>
① 회원은 "몰"에 언제든지 탈퇴를 요청할 수 있으며 "몰"은 즉시 회원탈퇴를 처리합니다.
            <span>&nbsp;</span>
② 회원이 다음 각호의 사유에 해당하는 경우, "몰"은 회원자격을 제한 및 정지시킬 수 있습니다.
            <span>1. 가입 신청시에 허위 내용을 등록한 경우</span>
            <span>2. "몰"을 이용하여 구입한 재화등의 대금, 기타 "몰"이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우</span>
            <span>3. 다른 사람의 "몰" 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우</span>
4. "몰"을 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
            <span>&nbsp;</span>
③ "몰"이 회원 자격을 제한·정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 "몰"은 회원자격을 상실시킬 수 있습니다.
            <span>&nbsp;</span>
④ "몰"이 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.
            <span>&nbsp;</span>
            <span>제8조(회원에 대한 통지)</span>
① "몰"이 회원에 대한 통지를 하는 경우, 회원이 "몰"과 미리 약정하여 지정한 전자우편 주소로 할 수 있습니다.
            <span>&nbsp;</span>
② "몰"은 불특정다수 회원에 대한 통지의 경우 1주일이상 "몰" 게시판에 게시함으로써 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다.
            <span>&nbsp;</span>
            <span>제9조(구매신청)</span>
"몰"이용자는 "몰"상에서 다음 또는 이와 유사한 방법에 의하여 구매를 신청하며, "몰"은 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다. 단, 회원인 경우 제2호 내지 제4호의 적용을 제외할 수 있습니다.
<span>1. 재화등의 검색 및 선택</span>
<span>2. 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력</span>
<span>3. 약관내용, 청약철회권이 제한되는 서비스, 배송료·설치비 등의 비용부담과 관련한 내용에 대한 확인</span>
<span>4. 이 약관에 동의하고 위 3.호의 사항을 확인하거나 거부하는 표시(예, 마우스 클릭)</span>
<span>5. 재화등의 구매신청 및 이에 관한 확인 또는 "몰"의 확인에 대한 동의</span>
<span>6. 결제방법의 선택</span>
            <span>&nbsp;</span>
            <span>제10조 (계약의 성립)</span>
① "몰"은 제9조와 같은 구매신청에 대하여 다음 각 호에 해당하면 승낙하지 않을 수 있습니다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 합니다.
            <span>1. 신청 내용에 허위, 기재누락, 오기가 있는 경우</span><span>2. 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우</span>
3. 기타 구매신청에 승낙하는 것이 "몰" 기술상 현저히 지장이 있다고 판단하는 경우
            <span>&nbsp;</span>
② "몰"의 승낙이 제12조제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.
            <span>&nbsp;</span>
③ "몰"의 승낙의 의사표시에는 이용자의 구매 신청에 대한 확인 및 판매가능 여부, 구매신청의 정정
취소 등에 관한 정보 등을 포함하여야 합니다.
            <span>&nbsp;</span>
            <span>제11조(지급방법)</span>
"몰"에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각 호의 방법 중 가용한 방법으로 할 수 있습니다. 단, "몰"은 이용자의 지급방법에 대하여 재화 등의 대금에 어떠한 명목의 수수료도 추가하여 징수할 수 없습니다.
            <span>1. 폰뱅킹, 인터넷뱅킹, 메일 뱅킹 등의 각종 계좌이체</span>
            <span>2. 선불카드, 직불카드, 신용카드 등의 각종 카드 결제</span>
            <span>3. 온라인무통장입금</span>
            <span>4. 전자화폐에 의한 결제</span>
<span>5. 수령시 대금지급</span>
<span>6. 마일리지 등 "몰"이 지급한 포인트에 의한 결제</span>
<span>7. "몰"과 계약을 맺었거나 "몰"이 인정한 상품권에 의한 결제</span>
<span>8. 기타 전자적 지급 방법에 의한 대금 지급 등</span>
            <span>&nbsp;</span>
<span>제12조(수신확인통지·구매신청 변경 및 취소)</span>
① "몰"은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.
            <span>&nbsp;</span>
② 수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있고 "몰"은 배송 전에 이용자의 요청이 있는 경우에는 지체 없이 그 요청에 따라 처리하여야 합니다. 다만 이미 대금을 지불한 경우에는 제15조의 청약철회 등에 관한 규정에 따릅니다.
            <span>&nbsp;</span>
            <span>제13조(재화등의 공급)</span>
① "몰"은 이용자와 재화등의 공급시기에 관하여 별도의 약정이 없는 이상, 이용자가 청약을 한 날부터 7일 이내에 재화 등을 배송할 수 있도록 주문제작, 포장 등 기타의 필요한 조치를 취합니다. 다만, "몰"이 이미 재화 등의 대금의 전부 또는 일부를 받은 경우에는 대금의 전부 또는 일부를 받은 날부터 2영업일 이내에 조치를 취합니다. 이때 "몰"은 이용자가 재화등의 공급 절차 및 진행
사항을 확인할 수 있도록 적절한 조치를 합니다.
            <span>&nbsp;</span>
②"몰"은 이용자가 구매한 재화에 대해 배송수단, 수단별 배송비용 부담자, 수단별 배송기간 등을 명시합니다. 만약 "몰"이 약정 배송기간을 초과한 경우에는 그로 인한 이용자의 손해를 배상하여야 합니다. 다만 "몰"이 고의·과실이 없음을 입증한 경우에는 그러하지 아니합니다.
            <span>&nbsp;</span>
            <span>제14조(환급)</span>
"몰"은 이용자가 구매신청한 재화등이 품절 등의 사유로 인도 또는 제공을 할 수 없을 때에는 지체없이 그 사유를 이용자에게 통지하고 사전에 재화 등의 대금을 받은 경우에는 대금을 받은 날부터 2영업일 이내에 환급하거나 환급에 필요한 조치를 취합니다.
            <span>&nbsp;</span>
            <span>제15조(청약철회 등)</span>
①"몰"과 재화등의 구매에 관한 계약을 체결한 이용자는 수신확인의 통지를 받은 날부터 7일 이내에는 청약의 철회를 할 수 있습니다.
            <span>&nbsp;</span>
② 이용자는 재화등을 배송 받은 경우 다음 각 호의 1에 해당하는 경우에는 반품 및 교환을 할 수 없습니다.
            <span>1. 이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우(다만, 재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다)</span>
            <span>2. 이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우</span>
            <span>3. 시간의 경과에 의하여 재판매가 곤란할 정도로 재화등의 가치가 현저히 감소한 경우</span>
            <span>4. 같은 성능을 지닌 재화등으로 복제가 가능한 경우 그 원본인 재화 등의 포장을 훼손한 경우</span>
            <span>&nbsp;</span>
③ 제2항제2호 내지 제4호의 경우에 "몰"이 사전에 청약철회 등이 제한되는 사실을 소비자가 쉽게 알 수 있는 곳에 명기하거나 시용상품을 제공하는 등의 조치를 하지 않았다면 이용자의 청약철회등이 제한되지 않습니다.
            <span>&nbsp;</span>
④ 이용자는 제1항 및 제2항의 규정에 불구하고 재화등의 내용이 표시 광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 당해 재화등을 공급받은 날부터 3월이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회 등을 할 수 있습니다.
            <span>&nbsp;</span>
            <span>제16조(청약철회 등의 효과)</span>
① "몰"은 이용자로부터 재화 등을 반환받은 경우 3영업일 이내에 이미 지급받은 재화등의 대금을 환급합니다. 이 경우 "몰"이 이용자에게 재화등의 환급을 지연한 때에는 그 지연기간에 대하여 공정거래위원회가 정하여 고시하는 지연이자율을 곱하여 산정한 지연이자를 지급합니다.
            <span>&nbsp;</span>
② "몰"은 위 대금을 환급함에 있어서 이용자가 신용카드 또는 전자화폐 등의 결제수단으로 재화등의 대금을 지급한 때에는 지체없이 당해 결제수단을 제공한 사업자로 하여금 재화등의 대금의 청구를 정지 또는 취소하도록 요청합니다.
            <span>&nbsp;</span>
③ 청약철회등의 경우 공급받은 재화등의 반환에 필요한 비용은 이용자가 부담합니다. "몰"은 이용자에게 청약철회등을 이유로 위약금 또는 손해배상을 청구하지 않습니다. 다만 재화등의 내용이 표시 광고 내용과 다르거나 계약내용과 다르게 이행되어 청약철회등을 하는 경우 재화등의 반환에 필요한 비용은 "몰"이 부담합니다.
            <span>&nbsp;</span>
④ 이용자가 재화등을 제공받을때 발송비를 부담한 경우에 "몰"은 청약철회시 그 비용을 누가 부담하는지를 이용자가 알기 쉽도록 명확하게 표시합니다.
            <span>&nbsp;</span>
            <span>제17조(개인정보보호)</span>
①"몰"은 이용자의 정보수집시 구매계약 이행에 필요한 최소한의 정보를 수집합니다. 다음 사항을 필수사항으로 하며 그 외 사항은 선택사항으로 합니다.
<span>1. 성명</span>
<span>2. 생년월일</span>
<span>3. 주소</span>
<span>4. 전화번호</span>
<span>5. 희망ID(회원의 경우)</span>
<span>6. 비밀번호(회원의 경우)</span>
<span>7. 전자우편주소(또는 이동전화번호)</span>
            <span>&nbsp;</span>
② "몰"이 이용자의 개인식별이 가능한 개인정보를 수집하는 때에는 반드시 당해 이용자의 동의를 받습니다.
            <span>&nbsp;</span>

③제공된 개인정보는 당해 이용자의 동의없이 목적외의 이용이나 제3자에게 제공할 수 없으며, 이에 대한 모든 책임은 　몰　이 집니다. 다만, 다음의 경우에는 예외로 합니다.
            <span>&nbsp;</span>

 <span>1. 배송업무상 배송업체에게 배송에 필요한 최소한의 이용자의 정보(성명, 주소, 전화번호)를 알려주는 경우</span>
 <span>2. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우</span>
 <span>3. 재화등의 거래에 따른 대금정산을 위하여 필요한 경우</span>
 <span>4. 도용방지를 위하여 본인확인에 필요한 경우</span>
 <span>5. 법률의 규정 또는 법률에 의하여 필요한 불가피한 사유가 있는 경우</span>
            <span>&nbsp;</span>

④"몰"이 제2항과 제3항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은자, 제공목적 및 제공할 정보의 내용) 등 정보통신망이용촉진등에관한법률 제22조제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수
있습니다.
            <span>&nbsp;</span>

⑤이용자는 언제든지 "몰"이 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 "몰"은 이에 대해 지체없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 "몰"은 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.
            <span>&nbsp;</span>

⑥ "몰"은 개인정보 보호를 위하여 관리자를 한정하여 그 수를 최소화하며 신용카드, 은행계좌 등을 포함한 이용자의 개인정보의 분실, 도난, 유출, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을 집니다.
            <span>&nbsp;</span>

⑦ "몰" 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체없이 파기합니다.
            <span>&nbsp;</span>

            <span>제18조("몰"의 의무)</span>
① "몰"은 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화·용역을 제공하는데 최선을 다하여야 합니다.
            <span>&nbsp;</span>

② "몰"은 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.
            <span>&nbsp;</span>

③ "몰"이 상품이나 용역에 대하여 「표시·광고의공정화에관한법률」 제3조 소정의 부당한 표시·광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다.
            <span>&nbsp;</span>

④ "몰"은 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.
            <span>&nbsp;</span>

            <span>제19조(회원의 ID 및 비밀번호에 대한 의무) </span>
① 제17조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.
            <span>&nbsp;</span>

② 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.
            <span>&nbsp;</span>

③ 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 "몰"에 통보하고 "몰"의 안내가 있는 경우에는 그에 따라야 합니다.
            <span>&nbsp;</span>

            <span>제20조(이용자의 의무) </span>
 <span>이용자는 다음 행위를 하여서는 안됩니다.</span>
 <span>1. 신청 또는 변경시 허위 내용의 등록</span>
 <span>2. 타인의 정보 도용</span>
 <span>3. "몰"에 게시된 정보의 변경</span>
 <span>4. "몰"이 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시</span>
 <span>5. "몰" 기타 제3자의 저작권 등 지적재산권에 대한 침해</span>
 <span>6. "몰" 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위</span>
 <span>7. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 몰에 공개 또는 게시하는 행위</span>
            <span>&nbsp;</span>

            <span>제21조(연결"몰"과 피연결"몰" 간의 관계)</span>
① 상위 "몰"과 하위 "몰"이 하이퍼 링크(예: 하이퍼링크의 대상에는 문자, 그림 및 동화상 등이 포함됨)방식 등으로 연결된 경우, 전자를 연결 "몰"(웹 사이트)이라고 하고 후자를 피연결 "몰"(웹사이트)이라고 합니다.
            <span>&nbsp;</span>

②연결"몰"은 피연결"몰"이 독자적으로 제공하는 재화등에 의하여 이용자와 행하는 거래에 대해서 보증책임을 지지 않는다는 뜻을 연결"몰"의 초기화면 또는 연결되는 시점의 팝업화면으로 명시한 경우에는 그 거래에 대한 보증책임을 지지 않습니다.
            <span>&nbsp;</span>

            <span>제22조(저작권의 귀속 및 이용제한)</span>
① "몰"이 작성한 저작물에 대한 저작권 기타 지적재산권은 "몰"에 귀속합니다.
            <span>&nbsp;</span>

② 이용자는 "몰"을 이용함으로써 얻은 정보 중 "몰"에게 지적재산권이 귀속된 정보를 "몰"의 사전 승낙없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
            <span>&nbsp;</span>

③ "몰"은 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다.
            <span>&nbsp;</span>

            <span>제23조(분쟁해결)</span>
① "몰"은 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치·운영합니다.
            <span>&nbsp;</span>

② "몰"은 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.
            <span>&nbsp;</span>

③"몰"과 이용자간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시 도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.
            <span>&nbsp;</span>

            <span>제24조(재판권 및 준거법)</span>
①"몰"과 이용자간에 발생한 전자상거래 분쟁에 관한 소송은 제소 당시의 이용자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
            <span>&nbsp;</span>

②"몰"과 이용자간에 제기된 전자상거래 소송에는 한국법을 적용합니다.
            <span>&nbsp;</span>

            <span>제 25조 (적립금과 예치금) </span>
 <span>1. 적립금과 예치금은 "몰"내에서 현금처럼 사용되는 전자화폐이며, 상품 구매시에만 이용할 수 있습니다.</span>
 <span>단, 적립금의 경우 회사는 별도의 공지없이 적립금의 이용가능범위를 제한할 수 있습니다.</span>
 <span>2. 예치금은 회원에 한하여 제공되는 서비스이며 신용카드,모바일, 현금을 이용하여 지불할 수 있습니다.</span>
 <span>3. 적립금은 회원에 한하여 제공되는 서비스입니다.</span>
 <span>4. 적립금은 1만원이상 구매 시 사용이 가능합니다.</span>
 <span>5. 적립금과 예치금은 타 결제수단(신용카드,모바일,현금)과 함께 사용될 수 있습니다.</span>
 <span>6. 회사는 각종 할인이벤트 또는 제휴이벤트 등의 특정기간에는 적립금 또는 예치금의 신청 및 이용을 제한할 수 있습니다.</span>
 <span>7. 회원이 상품구매나 이벤트 등을 통하여 회사로부터 무상 제공받은 적립금의 경우 회사에서 정한 기한에 한해서만 이용 가능합니다.</span>
 <span>8. 적립금은 지급일로 부터 1년이 경과했을 경우 자동적으로 소멸이 되며, 소멸대상자들은 공지사항과, E-mail로 통지하며, 개인정보 불일치 및 이메일 수신거부시에는 해당내용을 받지 못할 수 있습니다.</span>
 <span>9. 회사는 회원이 적립금과 예치금을 부적절한 방법으로 적립하였음이 명백하다고 판단된 경우 회원에게 지급한 해당 적립금 및 예치금을 취소하고, 회원의 몰 이용을 제한할 수 있습니다.</span>
 <span>10. 적립금은 현금으로 환불되지 않으며, 타인에게 양도가 불가합니다.</span>
            <span>&nbsp;</span>

            <span>#카카오톡 알림톡 시행에 관한 내용</span>
"몰"은 회원가입, 주문안내, 배송안내 등 비광고성 정보를 카카오톡 알림톡으로 알려드리며, 만약 알림톡 수신이 불가능하거나 수신 차단하신 경우에는 일반 문자메세지로 보내드립니다. 카카오톡 알림톡을 통해 안내되는 정보를 와이파이가 아닌 이동통신망으로 이용할 경우, 알림톡 수신 중 데이터 요금이 발생할 수 있습니다. 카카오톡을 통해 발송되는 알림톡 수신을 원치 않으실 경우 반드시 알림톡을 차단하여 주시기 바랍니다.
            <span>&nbsp;</span>

이 약관은 2022년 4월 15일부터 적용됩니다.


    </span>
            <span class="user-terms-text terms-text">



개인정보 처리방침
<span>&nbsp;</span>
주식회사 제너시스비비큐 개인정보취급방침
<span>&nbsp;</span>
주식회사 제너시스비비큐(이하 “회사”라 함)는 이용자들의 개인정보보호를 매우 중요시하며,
"정보통신망 이용촉진 및 정보보호에 관한 법률”을 준수하고 있습니다.
회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로
이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
<span>&nbsp;</span>
주식회사 제너시스비비큐의 개인정보 취급방침은 다음과 같은 내용을 담고 있습니다.
<span>&nbsp;</span>
1. 수집하는 개인정보의 항목 및 수집방법
<span>2. 개인정보의 수집 및 이용목적</span>
<span>3. 개인정보의 보유 및 이용기간</span>
<span>4. 개인정보의 파기 절차 및 방법</span>
<span>5. 개인정보의 제3자 제공</span>
<span>6. 개인정보의 취급위탁</span>
<span>7. 이용자 및 법정대리인의 권리와 그 행사방법</span>
<span>8. 쿠키(cookie)의 운영에 관한 사항</span>
<span>9. 개인정보관리책임자 및 담당자의 연락처</span>
<span>10. 고지의 의무</span>
<span>&nbsp;</span>
<span>1. 수집하는 개인정보의 항목 및 수집방법</span>
<span>회사는 회원가입, 비회원 구매, 상담, 불량이용의 방지 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.</span>
<span>- 필수항목 : 이름, ID, 비밀번호, 이메일, 전화번호, 주소, IP Address, 결제기록</span>
<span>- 선택항목 : 개인맞춤 서비스를 제공하기 위하여 회사가 필요로 하는 정보</span>
<span>&nbsp;</span>
<span>2. 개인정보의 수집 및 이용목적</span>
회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.
<span>&nbsp;</span>
가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산, 콘텐츠 제공, 구매 및 요금 결제,
물품배송 또는 청구지 등 발송, 금융거래 본인 인증 및 금융서비스
<span>&nbsp;</span>
<span>나. 회원 관리</span>
회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지,
가입 의사 확인, 연령확인, 불만처리 등 민원처리, 고지사항 전달
<span>&nbsp;</span>
<span>다. 마케팅 및 광고에 활용</span>
이벤트 등 광고성 정보 전달, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계
<span>&nbsp;</span>
라.재가입으로 인한 부정 이용 및 피해 방지를 위해 회원탈퇴 후 최대 90일간 회원 아이디, 이메일, 사업자등록번호, 본인인증정보를 보관합니다.
<span>&nbsp;</span>
<span>3. 개인정보의 보유 및 이용기간</span>
회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.
단, 상법 및 “전자상거래등에서의 소비자보호에 관한 법률” 등 관련 법령의 규정에 의하여 다음과 같이 거래
관련 관리 의무 관계의 확인 등을 이유로 일정기간 보유하여야 할 필요가 있을 경우에는 일정기간 보유합니다.
<span>- 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)</span>
<span>- 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)</span>
<span>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)</span>
<span>- 설문조사, 이벤트 등 일시적 목적을 위하여 수집한 경우 : 당해 설문조사, 이벤트 등의 종료 시점</span>
<span>- 본인확인에 관한 기록 : 6개월(정보통신망 이용촉진 및 정보보호 등에 관한 법률)</span>
<span>- 방문(로그)에 관한 기록 : 3개월(통신비밀보호법)</span>
<span>&nbsp;</span>
<span>4. 개인정보의 파기 절차 및 방법</span>
회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다.
파기절차 및 방법은 다음과 같습니다.
<span>&nbsp;</span>
<span>가. 파기절차</span>
이용자가 서비스 이용 등을 위해 입력하신 정보는 목적이 달성된 후
별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한
정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다.
별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의
다른 목적으로 이용되지 않습니다.
<span>&nbsp;</span>
나. 파기방법
<span>- 종이에 출력된 개인정보 : 분쇄기로 분쇄하거나 소각</span>
<span>- 전자적 파일 형태로 저장된 개인정보 : 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제</span>
<span>&nbsp;</span>
<span>5. 개인정보의 제3자 제공</span>
이용자의 개인정보는 개인정보의 수집 및 이용목적에서 동의한 범위 내에서 사용하며, 이용자의 사전
동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 공개하지 않습니다.
다만 아래의 경우에는 예외로 합니다.
<span>- 이용자들이 사전에 동의한 경우</span>
<span>- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</span>
<span>&nbsp;</span>
<span>6. 개인정보의 취급위탁</span>
원활한 업무 처리를 위해 이용자의 개인정보를 위탁 처리할 경우 반드시 사전에 개인정보 처리위탁을
받는 자(이하 ‘수탁자’라 합니다)와 개인정보 처리위탁을 하는 업무의 내용을 고지합니다.
현재 회사의 개인정보처리 수탁자와 그 업무의 내용은 다음과 같습니다.
<span>&nbsp;</span>
(주)메쉬코리아 : 위탁업무 내용(수탁업무)
<span>(주)메쉬코리아 : 상품 배송 업무 및 배송위치 / 도착정보 등의 서비스 제공</span>
<span>가비아 퍼스트몰 : 고객정보 DB시스템 위탁운영(전산아웃소싱)</span>
<span>NHN한국사이버결제(KCP) : 결제관련</span>
<span>&nbsp;</span>
7. 이용자 및 법정대리인의 권리와 그 행사방법
<span>&nbsp;</span>
가. 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를
조회하거나 수정할 수 있으며 가입해지(동의철회)를 요청할 수도 있습니다.
<span>&nbsp;</span>
나. 이용자 혹은 만 14세 미만 아동의 개인정보 조회, 수정을 위해서는
“개인정보변경”(또는 “회원정보수정” 등)을, 가입해지(동의철회)를 위해서는
"회원탈퇴"를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.
<span>&nbsp;</span>
다. 혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.
<span>&nbsp;</span>
라. 이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지
당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는
정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.
<span>&nbsp;</span>
마. 회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는
"3. 개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로
열람 또는 이용할 수 없도록 처리하고 있습니다.
<span>&nbsp;</span>
<span>8. 쿠키(cookie)의 운영에 관한 사항</span>
회사는 이용자(접속자)의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)' 등을 운용합니다.
쿠키란 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서
귀하의 컴퓨터 하드디스크에 저장됩니다. 회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.
<span>&nbsp;</span>
<span>가. 쿠키 등 사용 목적</span>
회원과 비회원의 접속빈도나 방문시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적,
각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟마케팅 및 개인 맞춤 서비스 제공
귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹 브라우저에서
옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나,
아니면 모든 쿠키의 저장을 거부할 수도 있습니다.
<span>&nbsp;</span>
<span>나. 쿠키 설정 거부 방법</span>
이용자는 사용하는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나,
쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부하도록 선택하여 설정할 수 있습니다.
<span>- 설정방법 예(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보</span>
<span>- 단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.</span>
<span>&nbsp;</span>
<span>9. 개인정보관리책임자 및 담당자의 연락처</span>
회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여
아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.
<span>&nbsp;</span>
고객 서비스담당 부서 : [ BBQ E-커머스팀 ]
<span>전화번호 : 1588-9282</span>
<span>이메일 : e-commerce@bbq.co.kr</span>
<span>&nbsp;</span>
개인정보관리책임자
<span>이 름 : 김현섭</span>
<span>소 속 : BBQ DX팀</span>
<span>직 위 : 상무</span>
<span>전 화 : 02-3403-9147</span>
<span>메 일 : hyeonseop@bbq.co.kr</span>
<span>&nbsp;</span>
<span>&nbsp;</span>
가. 귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을
개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다.
<span>&nbsp;</span>
나. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.
<span>&nbsp;</span>
다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
<span>- 개인분쟁조정위원회 (www.1336.or.kr / 1336)</span>
<span>- 정보보호마크인증위원회 (www.eprivacy.or.kr / 02-580-0533~4)</span>
<span>- 대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr / 02-3480-3600)</span>
<span>- 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 02-392-0330)</span>
<span>&nbsp;</span>
<span>10. 고지의 의무</span>
현 개인정보취급방침은 2022년 4월 15일부터 적용됩니다. 내용의 추가, 삭제 및 수정이
있을 시에는 개정 최소 7일전부터 홈페이지의 공지사항을 통하여 고지할 것입니다.
또한 개인정보취급방침에 버전번호 및 개정일자 등을 부여하여 개정여부를 쉽게 알 수 있도록 하고 있습니다.
<span>&nbsp;</span>


        </span>

            <div class="button-row"><span class="exiting-button">확인</span></div>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>