body>main.cs-center {

    padding: 0;
}

body>main>.qna>.qna-button-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin: 1.8125rem 0 1.875rem
}
body>main>.qna>.qna-button-container>li{

    display: flex;
}

body>main>.qna>.qna-button-container>li>a{

    padding: 0.6875rem 1.25rem;
    color: black;
    margin: 0 0.3125rem;
    font-size: 0.8125rem;
    border: 0.0625rem solid rgba(0,0,0,0.2);
}
body>main>.qna>form{
    display: flex;
    flex-direction: row;
justify-content: center;
    margin-bottom: 1.25rem;
    padding-bottom: 0.3125rem;
}
body>main>.qna>form>label{
    display: flex;
    align-items: center;

}


body>main>.qna>form>label>input[type="button"] {
    height: 2rem;
    padding: 0 1.125rem;
    font-size: 0.8125rem;

    font-family: inherit;
    border: 0.0625rem solid rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 0.125rem;

}
body>main>.qna>form>label>input[type="button"]:hover,
body>main>.qna>.qna-button-container>li>a:hover{

    border: rgba(0,0,0,0.4) solid 0.0625rem;

}


body>main>.qna>form>label>input[type="text"]{
    width: 12.375rem;
    height: 1.75rem;
    padding: 0.0625rem 0.5625rem;
    margin-right: 0.1875rem;
    font-size: 0.8125rem;
    font-family: inherit;
    border-radius: 0.125rem;
    border: 0.0625rem solid rgba(0,0,0,0.2);


}

body>main>.qna>.qna-container>li>.question{

    font-size: 0.875rem;

    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;

}
body>main>.qna>.qna-container>li>.question> p{
    font-family: inherit;
    padding: 0.875rem 0.75rem;
    width: 100%;
    margin: 0 ;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

body>main>.qna>.qna-container>li h1

{
    /*padding: unset;*/
    /*margin: unset;*/
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 700;
    margin-right: 0.6875rem;
    margin-bottom: 0.125rem;
    padding-left: 0.5rem;


}

body>main>.qna>.qna-container>li>.answer{
    font-size: 0.875rem;

    align-items: center;
    display: none;
    margin-bottom: 0.625rem;

}
body>main>.qna>.qna-container>li>.answer.visible{
    display: flex;
}


body>main>.qna>.qna-container>li>.answer>h1 {
    color: rgba(0, 0, 0, 0.4);
    height: 100%;
}


body>main>.qna>.qna-container>li>.answer>p{
    margin: unset;
    padding: 0.875rem 0.625rem 0.625rem 0.625rem;
 width: 100%;
    background-color: rgba(0, 0, 0, 0.03);


}
body>main>.qna>.qna-container>li>.answer>p>span{
    display: block;
    padding: 0.25rem;
    line-height: 2rem;
    color: rgba(0,0,0,0.6);
    font-weight: 500;
}

body>main>.qna>.qna-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
body>main>.qna>.qna-page-container>.page{
    width: 2rem;
    height: 2rem;
    color: #333333;
    border: 0.0625rem solid rgba(0,0,0,0.15);
    border-radius: 1rem;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.0625rem;
    padding: unset;


}

body>main>.qna>.qna-page-container>.page.selected{
    border:0.0625rem solid rgba(0,0,0,0.9);
    user-select: none;

}



body>main>.qna>.qna-page-container>.page:hover{

    background-color: rgba(0,0,0,0.1);
    border: 0.0625rem solid rgba(0,0,0,0.2);
}

@media screen and (max-width : 87.5rem) {

    body > main {

        width: 100%;

    }

    body>main>article{
        font-size: 2rem;

        padding:0 1.625rem  0.5rem 0;
    }

    body>main>.qna>.qna-container>li>.question> p,
    body>main>.qna>.qna-container>li>.answer>p

    {
        width: 80%;
        font-size: 2rem;

    }

    body>main>.content>ul>li>a{
        font-size: 1rem;
    }
}
@media screen and (max-width : 53.75rem) {


    body > main > article {
        padding: 0 1rem 0.5rem 0;
    }

    body > main > article > ul > li > a {
        padding: 0.375rem 0 0.4375rem 0;
        width: 6.75rem;
    }

    body>main>.qna>.qna-button-container>li>a{

        padding :0.15rem;
        /*background-color: black;*/
        color: black;
        margin: 0 0.3125rem;
        font-size: 0.8125rem;
        border: 0.0625rem solid rgba(0,0,0,0.2);
    }



    body>main>.qna>.qna-container>li h1

    {
        /*padding: unset;*/
        /*margin: unset;*/
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 700;
        margin-right: 0.6875rem;
        margin-bottom: 0.125rem;
        padding-left: 0.5rem;


    }



}
