body>main.cs-center {

    padding: 0;
}

body>main>.qna>.qna-button-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin: 29px 0 30px;
}
body>main>.qna>.qna-button-container>li{
    /*width: 100%;*/
    /*height: 100%;*/
    display: flex;
}

body>main>.qna>.qna-button-container>li>a{

    padding: 11px 20px;
    /*background-color: black;*/
    color: black;
    margin: 0 5px;
    font-size: 13px;
    border: 1px solid rgba(0,0,0,0.2);
}
body>main>.qna>form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
body>main>.qna>form>label{
    /*vertical-align: middle;*/
    display: flex;
    align-items: center;

}


body>main>.qna>form>label>input[type="button"] {
    height: 32px;
    padding: 0 18px;
    font-size: 13px;
    /*letter-spacing: -1px;*/

    font-family: inherit;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 2px;

}
body>main>.qna>form>label>input[type="button"]:hover,
body>main>.qna>.qna-button-container>li>a:hover{

    border: rgba(0,0,0,0.4) solid 0.0625rem;

}


body>main>.qna>form>label>input[type="text"]{
    width: 198px;
    height: 28px;
    padding: 1px 9px;
    margin-right: 3px;
    font-size: 13px;
    font-family: inherit;
    border-radius: 2px;



    border: 1px solid rgba(0,0,0,0.2);


}

body>main>.qna>.qna-container>li>.question{

    /*padding: 5px 10px;*/
    font-size: 14px;
    /*vertical-align: middle;*/

    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
body>main>.qna>.qna-container>li>.question> p{
    font-family: inherit;
    padding: 14px 12px;
    width: 100%;
    /*display: inline-block;*/
    /*margin-top: 4px;*/
    margin: 0 0 0 0 ;
    background-color: rgba(0,0,0,0.1);
    /*display: flex;*/
    cursor: pointer;
}

body>main>.qna>.qna-container>li h1

{
    /*padding: unset;*/
    /*margin: unset;*/
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    margin-right: 11px;
    margin-bottom: 2px;
    padding-left: 8px;


}

body>main>.qna>.qna-container>li>.answer{
    font-size: 14px;
    /*vertical-align: middle;*/

    /*display: flex;*/
    align-items: center;
    display: none;
    margin-bottom: 10px;

}
body>main>.qna>.qna-container>li>.answer.visible{
    display: flex;
}


body>main>.qna>.qna-container>li>.answer>h1 {
    color: rgba(0, 0, 0, 0.4);
    height: 100%;
}


body>main>.qna>.qna-container>li>.answer>p{
    margin: unset;
    padding: 14px 10px 10px 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);


}
body>main>.qna>.qna-container>li>.answer>p>span{
    display: block;
    padding: 4px;
    line-height: 2rem;
    color: rgba(0,0,0,0.6);
    font-weight: 500;
}

body>main>.qna>.qna-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
body>main>.qna>.qna-page-container>.page{
    /*background-color: rebeccapurple;*/
    width: 32px;
    height: 32px;
    /*padding: 0.4rem 1rem 0.4rem 1rem;*/
    color: #333333;
    border: 0.0625rem solid rgba(0,0,0,0.15);
    border-radius: 1rem;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    padding: unset;

    /*text-align: center;*/
    /*vertical-align: middle;*/
}

body>main>.qna>.qna-page-container>.page.selected{
    border:1px  solid rgba(0,0,0,0.9);
    user-select: none;

}



body>main>.qna>.qna-page-container>.page:hover{

    background-color: rgba(0,0,0,0.1);
    border: 0.0625rem solid rgba(0,0,0,0.2);
}

@media screen and (max-width : 87.5rem) {

    body > main {

        width: 100%;

    }

    body>main>article{
        font-size: 2rem;

        padding:0 1.625rem  0.5rem 0;
    }

    body>main>.qna>.qna-container>li>.question> p,
    body>main>.qna>.qna-container>li>.answer>p

    {
        width: 80%;
        font-size: 2rem;

    }

    body>main>.content>ul>li>a{
        font-size: 1rem;
    }
}
@media screen and (max-width : 53.75rem) {


    body > main > article {
        padding: 0 1rem 0.5rem 0;
    }

    body > main > article > ul > li > a {
        padding: 0.375rem 0 0.4375rem 0;
        width: 6.75rem;
    }

    body>main>.qna>.qna-button-container>li>a{

        padding :0.15rem;
        /*background-color: black;*/
        color: black;
        margin: 0 5px;
        font-size: 13px;
        border: 1px solid rgba(0,0,0,0.2);
    }



    body>main>.qna>.qna-container>li h1

    {
        /*padding: unset;*/
        /*margin: unset;*/
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 700;
        margin-right: 11px;
        margin-bottom: 2px;
        padding-left: 8px;


    }



}