
body>main>.content{
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;

    padding-bottom: 50px;
    margin-bottom: 50px;

}

body> main> .content>.title-container{
    padding-top: 65px;
    padding-bottom: 32px;
    font-size: 32px;
    text-align: center;
    letter-spacing: -2px;
}
body> main> .content>.form{
    margin-top: 9px;
    padding-bottom: 10px;

    align-items: stretch;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;

    height: 32px;

}
body> main> .content>.form>.spring{
    flex: 1;
}

body> main> .content>.form>label{
    padding: unset;
    margin: unset;
}

body> main> .content>.form>label>select{
    padding-left: 5px;
    height: 32px;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
    font-family: inherit;

    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;

}


body>main>.content>.form>input[type='submit']

{
    font-size:0.8rem;
    padding:0 9px 0 9px ;
    margin-left: 0.25rem;
    height: 32px;
    width: 60px;
    font-weight: 500;
    font-family: inherit;

    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;
    background-color: white;
    cursor: pointer;

}
body>main>.content>.form>input[type='submit']:hover{
    border: rgba(0,0,0,0.4) solid 0.0625rem;
}


body> main> .content>.form>label>input[type='text']{
    padding:0 9px 0 9px;

    font-size: 0.8rem;

    width: 200px;
    height: 30px;
    margin: 0;
    font-weight: 500;
    font-family: inherit;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;


}

body>main>.content>.content-table{
    border-top: 1px black solid;
border-bottom:  1px rgba(0,0,0,0.3) solid;

    align-items: stretch;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
color: rgba(0,0,0,0.5);
    font-weight: 500;

}
body>main>.content>.content-table>thead,
body>main>.content>.content-table>tbody

{
    width: 100%;
    /*align-items: stretch;*/
    /*display: flex;*/
    /*flex-direction: row ;*/
    /*justify-content: flex-start;*/
    display: table-row;
    font-size: 14px;
    letter-spacing: -1px;

}
body>main>.content>.content-table tr{
    width: 100%;



    display: flex;
    flex-direction: row ;
    justify-content: flex-start;

}
body>main>.content>.content-table >thead>tr{
    background-color:  #F7f7f7;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    color: rgba(0,0,0,0.8);

}


body>main>.content>.content-table tr>td{
    /*width: 100%;*/
    padding: 15px 5px;
}

body>main>.content>.content-table tr>td>.number{
    width: 38px;
    text-align: center;

}


body>main>.content>.content-table tr>td>.board-id{

    width: 70px;
    text-align: center;

}
body>main>.content>.content-table>tbody> tr>td>.board-id{

    font-size: 13px;
    font-weight: 550;

}



body>main>.content>.content-table>thead> tr>.content-title{
    flex: 1;

    display: flex;
    justify-content: center;
    /*background-color: black;*/

}


body>main>.content>.content-table>tbody> tr>.content-title>a>h3 {
    color: rgba(0,0,0,0.8);

}

body>main>.content>.content-table>tbody .content-title>a {

    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: center;


}

body>main>.content>.content-table>tbody .content-title>a>img {
    margin-left: 0.2rem;
}


body>main>.content>.content-table tr>td>.written-on{
  text-align: center;
    width: 90px;
}
body>main>.content>.content-table tr>td>.view-count{
    width: 35px;
    text-align: center;
}

body>main>.content>.content-table>tbody> tr>.content-title{
    flex: 1;

    display: flex;
    justify-content: flex-start;
}


body>main>.content>.content-table>tbody{
    align-items: flex-start;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;

}
body>main>.content>.content-table>tbody>.announce-notice{
    background-color: rgba(0,0,0,02%);
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
body>main>.content>.content-table>tbody>.announce-notice>td>img{
    margin:   0 13px ;
}



body>main>.content>.content-table>tbody>.article{

    border-bottom: 1px solid rgba(0,0,0,0.1);

}


body>main>.content>.content-table>tfoot>tr{
    display: flex;
    justify-content: center;
}
body>main>.content>.content-table>tfoot>tr>td>.page-container{
    /*display: flex;*/
    padding: unset;
    /*border-collapse: collapse;*/
    display: table;

}


body>main>.content>.content-table>tfoot>tr>td>.page-container>.page{
    /*background-color: rebeccapurple;*/
    width: 32px;
    height: 32px;
    /*padding: 0.4rem 1rem 0.4rem 1rem;*/
    color: #333333;
    border: 0.0625rem solid rgba(0,0,0,0.15);
    border-radius: 1rem;
    font-size: 12px;
    /*display: flex;*/
    justify-content: center;
    /*align-items: center;*/
    margin: -1px;
    padding: unset;
    display : table-cell;
    text-align: center;
    vertical-align: middle;
}
body>main>.content>.content-table>tfoot>tr>td>.page-container>.page.selected{
    border:1px  solid rgba(0,0,0,0.9);
    user-select: none;

}



body>main>.content>.content-table>tfoot>tr>td>.page-container>.page:hover{

    background-color: rgba(0,0,0,0.1);
    border: 0.0625rem solid rgba(0,0,0,0.2);
}



body>main>.content>.write-notice-button{
    display: flex;
justify-content: flex-end;

}
body>main>.content>.write-notice-button>a{
    padding:  0.9rem 1.3rem ;
    background-color: #CF152D;
    margin: 0.5rem ;
    border-radius: 3px;
    color: white;
}
body>main>.content>.write-notice-button>a:hover{
    background-color: rgba(0,0,0,0.8);

}

body>main>.bp>.content-table>thead>tr>td>.state,
body>main>.pi>.content-table>thead>tr>td>.state{
    width: 2.8rem;
    /*color: rebeccapurple;*/
    text-align: center;
}
body>main>.bp>form>input[type="button"]{
    background-color: white;
    cursor: pointer;
    margin-left: 0.5rem;
    border-radius: 0.2rem;
    border: rgba(0,0,0,0.3) solid 1px;
    color: rgba(0,0,0,0.6);
    font-weight: 600;
    font-family: inherit;
    padding:0 1rem ;
}
body>main>.bp>form>input[type="button"]:hover{
    border: rgba(0,0,0,0.8) solid 1px;


}
