

body>.swiper-row> .swiper>div{
    width: 100%;
    height: 34.0625rem;
    align-items: stretch;
    display: flex;
    flex-direction: row ;
    justify-content: stretch;


}



body> .swiper-row>.swiper{
    width: 100%;

}

body > main > .goods-row {
    width: 100%;
}




body > main > .goods-row1 {

    padding: 7.5rem 0 3.75rem;
    height: 100%;

}
body > main > .goods-row2 {

    padding:  3.75rem 0 7.5rem;
    height: 100%;

}

body > main > .goods-row >.title{
    font-size: 1.75rem;
    font-weight: 700;

}

body > main > .goods-row >.goods-container {


    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
    /*min-height: 20rem;*/
    /*max-height: 20rem;*/

    /*width: 100%;*/
    /*max-width: 19.25rem;*/

}

body > main > .goods-row >.goods-container>.goods {
    /*max-height: 30rem;*/
    /* max-width: 19.25rem;*/
    max-width: 18.25rem;

    padding: unset;
    /*background-color: moccasin;*/

    /*align-items: flex-start;*/
    /*display: flex;*/
    /*flex-direction:  column;*/
    /*justify-content: flex-start;*/

}
body>main>.goods-row>.goods-container>.goods>a{
    /*max-width: 18.25rem;*/
    /*max-width: 18.25rem;*/
    /*display: inline-block;*/
    width: 100%;
}

body>main>.goods-row>.goods-container>.goods>a>img{
    width: 100%;
    height: 18.25rem;

    /*display: inline-block;*/
}


body>main>.goods-row>.goods-container>.goods>.goods-info{
    padding-top: 1rem;

    align-items: flex-start;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;

}

body > main > .goods-row >.goods-container>.goods>.goods-info >a{

    font-size: 1.3125rem;
    margin-bottom: 1rem;
    color: black;
    min-height: 2.625rem;
}
body > main > .goods-row >.goods-container>.goods>.goods-info >.price{
    font-size: 1.5rem;
    font-weight: 700;
}

body > main > .goods-row >.goods-container>.goods>.goods-info >span> .small-text {
    font-size:1rem;
}
body > main > .goods-row >.goods-container>.goods>.goods-info >span> .sale-text {
    color: #CF152D;
}

body > main > .goods-row >.goods-container>.goods>.goods-info >span> .price-text {
    text-decoration: line-through;
    color: rgba(0,0,0,0.5);
}


body>main>.event-row{
    /*max-height: 45.25rem;*/
    width: 100%;
    /*position: relative;*/
    /*max-width: 118.9375rem;*/
    /*background-color: black;*/

    /*align-items: center;*/
    /*display: flex;*/
    /*flex-direction: column ;*/
    /*justify-content: center;*/

    background-color: #F7f7f7;



}
body>main>.event-row >.title{
    font-size: 1.75rem;
    font-weight: 700;
}


body>main>.event-row >ul{
    /*align-items: center;*/
    /*display: flex;*/
    /*flex-direction: row ;*/
    /*justify-content: center;*/
    display: grid;
    grid-template-columns: repeat(4,1fr);

    max-width: 80rem;
    margin-top:2.875rem ;

}
body>main>.event-row >ul>li{
    /*margin-right: 1rem;*/
    display: flex;
    justify-content: center;
}



body>main>.event-row >ul>li>a{
    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: stretch;
    max-width:19.25rem ;

}
body>main>.event-row >ul>li>a>img{
    /*max-width:19.25rem ;*/
    width: 100%;
}


body>main>.event-row >ul>li>a>.event-title{
    margin-top: 2.125rem;
    font-size: 1.5rem;
    color: #333333;
    font-weight: 600;
}

body>main>.event-row >ul>li>a>span:last-of-type{
    font-size: 1.1875rem;
    margin-top: 0.75rem;
    color: #989898;
    font-weight: 400;
}

body>main>.event-row > .page-container{
    margin-top: 4.375rem;
}
body>main>.event-row-big{
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 18.9375rem;
}
body>main>.event-row-big>img{
    width: 100%;
}


body> main> .review-row{
    max-width: 80rem;
    padding: 7.5rem 0;
}
body> main> .review-row>div{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: center;

}
body> main> .review-row>div>.title{
    font-size: 1.75rem;
    font-weight: 700;
}
body> main> .review-row>div>.more{
    font-size: 1.3125rem;
    font-weight: 400;
    color: gray;
}
body>main> .review-row> .review-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    max-width: 80rem;
    padding: unset;

    gap: 0.25rem;
    margin-top: 0.5rem;
    /*background-color: red;*/
}
body>main> .review-row> .review-container>.review{
    height: 13.125rem;
    position: relative;
}
body>main> .review-row> .review-container>.review>.review-text{
    position: absolute;
    color: white;
    font-size: 1.5rem;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.5);

    font-family: inherit;

}


body>main> .review-row> .review-container>.review>a>img{
    max-width: 13.125rem;
    /*max-width: 10.125rem;*/
    height: 13.125rem;

}

body>.floating-banner#floatingBanner{
    z-index: 100;
    position: fixed;
    top: 80%;
    right: 9.45rem;
    box-shadow: 0 0.25rem 0.3125rem 0.0625rem rgba(0,0,0,0.1);
    background-color: white;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}