body>main.cs-center {
    width: 80rem;
    padding: 0;
}


body>main>.content{
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;

    padding-bottom: 3.125rem;
    margin-bottom: 3.125rem;

}

body> main> .content>.title-container{
    padding-top: 4.0625rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: -0.125rem;
}


body>main>.content>.content-table{


    align-items: stretch;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    border-collapse: collapse;


}

body>main>.content>.content-table tr{
    width: 100%;


    display: flex;
    flex-direction: row ;
    justify-content: flex-start;


}
body>main>.content>.content-table>tbody> .info-row,
body>main>.content>.content-table>tbody> .bp-info-row{
    border-left: 0.0625rem solid rgba(0,0,0,0.1);
    border-right:  0.0625rem solid rgba(0,0,0,0.1);
    border-bottom:  0.0625rem solid rgba(0,0,0,0.1);
    font-size: 0.8125rem;
    color: rgba(0,0,0,0.8);
}



body>main>.content>.content-table>tbody> .info-row>td:first-of-type,
body>main>.content>.content-table>tbody> .bp-info-row:first-of-type>td:first-of-type{

    border-right:  0.0625rem solid rgba(0,0,0,0.1);

}


body>main>.content>.content-table>tbody> .info-row>th{
    width: 20%;
    padding:0.5rem 0.5625rem;
    background-color: rgba(0,0,0,0.05);
    font-size: 0.8125rem;
    border-right:  0.0625rem solid rgba(0,0,0,0.1);
    font-weight: 400;
}
body>main>.content>.content-table>tbody> .info-row>td{

    width: 100%;
    padding: 0.5rem 0.5625rem;
    font-weight: 400;


}




body> main> .content >.content-table> thead>tr{
    border: rgba(0,0,0,0.5) 0.0625rem solid;
    height: unset;



}


body> main> .content >.content-table> thead>tr>td{

    font-size: 1rem;
    display: flex;
    font-weight: 500;
    padding: 0.6875rem;
    color: rgba(0,0,0,0.8);

}

body> main> .content >.content-table> tbody>.content-row{
    border-left: transparent solid 0.0625rem;
    border-right: transparent solid 0.0625rem;
}


body> main> .content >.content-table> tbody>.content-row>td{



    min-height: 20rem;
    width: 100%;
    padding:  1.875rem 0.625rem
}

body> main> .content >.content-table> tbody>.content-row *{
    max-width: 100%;
}


body> main> .content >.content-table> tfoot {




}
body> main> .content >.content-table> tfoot > .sns-share-row>td{
    align-items: flex-start;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;

}


body> main> .content >.content-table> tfoot > .sns-share-row>td>img{
    width: 1.6875rem;
    height: 1.6875rem;
    padding: unset;
    margin-left: 0.25rem;
}


body> main> .content >.content-table> tfoot>.management-row {
    margin-top: 0.9rem;
}
body> main> .content >.content-table> tfoot>.management-row>td {
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    width: 100%;

}



body> main> .content >.content-table> tfoot > .management-row>td>a{

    padding:  0.55rem 1.1rem 0.55rem 1.1rem;
    background-color: rgba(0,0,0,0.4);
    color: white;
    border-radius:0.1875rem;
    font-size: 0.8125rem;
}
body> main> .content >.content-table> tfoot > .management-row>td>a:hover{
    background-color: rgba(0,0,0,0.8);
}

body> main> .content >.content-table> tfoot > .management-row>td>.spring{
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;


}


body> main> .content >.content-table> tfoot > .management-row>td>a:not(:last-of-type){
    margin-right: 0.5rem;
}
body> main> .content >.content-table> tfoot > .management-row>td>.announce-button{
    background-color: #CF152D;
    cursor: pointer;
}

body> main> .content >.content-table> tfoot > .management-row>td>input{
    padding:  0.55rem 1.1rem 0.55rem 1.1rem;
    margin-left: 1rem;
    /*height: 5rem;*/
    background-color: #CF152D;
    color: white;
    /*display: inline-block;*/
    border: unset;
    border-radius: 0.1875rem;
    font-size: 0.8125rem;
    cursor: pointer;

}
body> main> .content >.content-table> tfoot > .management-row>td>input:hover{
    background-color: #ee3400;
}




body>main>.content>.content-table>tbody> .bp-info-row:first-of-type>td{
    width: 38%;
}


body>main>.content>.content-table>tbody> .bp-info-row>th{
    width: 8%;
    padding:0.5rem 0.5625rem;
    background-color: rgba(0,0,0,0.05);
    font-size: 0.8125rem;
    border-right:  0.0625rem solid rgba(0,0,0,0.1);
    font-weight: 400;
}
body>main>.content>.content-table>tbody> .bp-info-row>td{

    padding: 0.5rem 0.5625rem;
    font-weight: 400;

}

body>main>.content>.content-table>tbody> .comment-row{
    border-top: black solid  0.0625rem;
    margin:   1rem 0 1rem 0;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    font-size: 0.875rem;

}
body>main>.content>.content-table>tbody> .comment-row>td:first-child>span{
    background-color: #007CD2;
    padding:0.3rem 0.4rem ;

    color: white;
    display: inline-block;

}
body>main>.content>.content-table>tbody> .comment-row>td:nth-child(2){
    color: blue;
    padding: 0.8rem 0;
}
body>main>.content>.content-table>tbody> .comment-row>.modify-comment-row{
    display: none;
}
body>main>.content>.content-table>tbody> .comment-row>.modify-comment-row.visible{
    display: block;
}


body>main>.content>.content-table>tbody> .comment-row>.modify-comment-row>form>.submit-row{
    display: flex;
    justify-content: flex-end;

}
body>main>.content>.content-table>tbody> .comment-row>.modify-comment-row>form>.submit-row>label{
    margin-left: 0.5rem;
}


body>main>.content>.content-table>tbody> .comment-row>.modify-comment-row>form>.submit-row>label>input{

    background-color: #007CD2;
    padding:0.3rem 0.4rem ;
    border: unset;
    color: white;

    border-radius: 0.2rem;
    cursor: pointer;
    display: inline-block;
}





body>main>.content>.content-table>tbody> .comment-row>.modify-comment-row>form>.submit-row>input:first-of-type:hover{

    background-color: #333333;
}



body>main>.content>.content-table>tbody> .comment-row>.modify-comment-row>form>label>textarea{
    width: 98.5%;
    min-height: 7rem;
    border: 0.1875rem solid rgba(0,0,0,0.2);

    resize: none;
    margin-bottom: 0.5rem;
    border-radius: 0.1875rem;

}
body>main>.content>.content-table>tbody> .comment-row>.modify-comment-row>form>label>textarea:focus{
    border: 0.1875rem solid #007CD2;
    outline: none;

}



body>main>.content>.content-table>tbody> .write-comment-row{
    display: none;
}
body>main>.content>.content-table>tbody> .write-comment-row.visible{
    display: flex;
}




body>main>.content>.content-table>tbody> .write-comment-row form> label>textarea{
    width: 98.5%;
    min-height: 7rem;
    border: 0.1875rem solid rgba(0,0,0,0.2);

    resize: none;
    margin-bottom: 0.5rem;
    border-radius: 0.1875rem;
}
body>main>.content>.content-table>tbody> .write-comment-row form> label>textarea:focus{
    border: 0.1875rem solid #007CD2;
    outline: none;

}




body>main>.content>.content-table>tbody> .write-comment-row>.submit-row{
    display: flex;
    justify-content: flex-end;
}

body>main>.content>.content-table>tbody> .write-comment-row>.submit-row>input{

    padding:  0.55rem 1.1rem 0.55rem 1.1rem;
    /*margin: 2rem;*/
    /*height: 5rem;*/
    background-color: #CF152D;
    color: white;
    /*display: inline-block;*/
    border-radius: 0.1875rem;
    font-size: 0.8125rem;
    cursor: pointer;
    border: unset;
    margin-left: 0.5rem;

}
body>main>.content>.content-table>tbody> .comment-row>.delete-row.visible{
    display: flex;
    justify-content: flex-end;

}
body>main>.content>.content-table>tbody> .comment-row>.delete-row{
    display: none;
}


body>main>.content>.content-table>tbody> .comment-row>.delete-row>label>input{
    background-color: rgba(0,0,0,0.5);
    padding:0.3rem 0.4rem ;
    border: unset;
    color: white;
    margin-left: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    display: inline-block;
}
body>main>.content>.content-table>tbody> .comment-row>.delete-row>label>input:hover,
body>main>.content>.content-table>tbody> .comment-row>.modify-comment-row>form>.submit-row>label>input:hover{
    background-color: #007CD2;

}

@media screen and (max-width : 87.5rem) {


    body > main.cs-center {

        width: 100%;

    }

    body>main>article{
        font-size: 2rem;
        padding:0 1.625rem  0.5rem 0;
    }
    body>main>.content>.content-table>thead>tr>td,
    body> main> .content>table>tbody>.info-row>td{
        font-size: 1.5rem;
    }

    body>main>.content>table>tbody>.content-row>td
    {
        font-size: 2rem;
    }

}
@media screen and (max-width : 53.75rem) {


    body > main > article {
        padding: 0 1rem 0.5rem 0;
    }

    body > main > article > ul > li > a {
        padding: 0.375rem 0 0.4375rem 0;
        width: 6.75rem;
    }




}