
body>main>.content{
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;

    padding-bottom: 50px;
    margin-bottom: 50px;

}

body> main> .content>.title-container{
    padding-top: 65px;
    padding-bottom: 32px;
    font-size: 32px;
    text-align: center;
    letter-spacing: -2px;
}


body>main>.content>.content-table{
    /*border-top: 1px black solid;*/
    /*border-bottom:  1px rgba(0,0,0,0.3) solid;*/

    align-items: stretch;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    border-collapse: collapse;


}

body>main>.content>.content-table tr{
    width: 100%;


    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    /*height: 2rem;*/


}
body>main>.content>.content-table>tbody> .bp-info-row{
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right:  1px solid rgba(0,0,0,0.1);
    border-bottom:  1px solid rgba(0,0,0,0.1);
    font-size: 13px;
    color: rgba(0,0,0,0.8);
    float: start;
}



body>main>.content>.content-table>tbody> .bp-info-row:first-of-type>td:first-of-type{

    border-right:  1px solid rgba(0,0,0,0.1);
}
body>main>.content>.content-table>tbody> .bp-info-row:first-of-type>td{
    width: 38%;
}


body>main>.content>.content-table>tbody> .bp-info-row>th{
    width: 8%;
    padding:8px 9px;
    background-color: rgba(0,0,0,0.05);
    font-size: 13px;
    border-right:  1px solid rgba(0,0,0,0.1);
    font-weight: 400;
}
body>main>.content>.content-table>tbody> .bp-info-row>td{

    float: right;
    padding: 8px 9px;
    font-weight: 400;


}




body> main> .content >.content-table> thead>tr{
    border: rgba(0,0,0,0.5) 0.0625rem solid;
    height: unset;



}


body> main> .content >.content-table> thead>tr>td{

    font-size: 16px;
    /*color: red;*/
    display: flex;
    font-weight: 500;
    padding: 11px;
    color: rgba(0,0,0,0.8);

}

body> main> .content >.content-table> tbody>.content-row{
    border-left: transparent solid 0.0625rem;
    border-right: transparent solid 0.0625rem;
}


body> main> .content >.content-table> tbody>.content-row>td{



    min-height: 20rem;
    width: 100%;
    padding:  30px 10px 30px 10px;
}

body> main> .content >.content-table> tbody>.content-row *{
    max-width: 100%;
}


/*body> main> .content >.content-table> tfoot {*/





body> main> .content >.content-table> tfoot > .sns-share-row>td{
    align-items: flex-start;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;

}


body> main> .content >.content-table> tfoot > .sns-share-row>td>img{
    width: 27px;
    height: 27px;
    padding: unset;
    margin-left: 4px;

}


body> main> .content >.content-table> tfoot>.management-row {
    margin-top: 0.9rem;
}
body> main> .content >.content-table> tfoot>.management-row>td {
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    width: 100%;

}



body> main> .content >.content-table> tfoot > .management-row>td>a{

    padding:  0.55rem 1.1rem 0.55rem 1.1rem;
    /*margin: 2rem;*/
    /*height: 5rem;*/
    background-color: rgba(0,0,0,0.4);
    color: white;
    /*display: inline-block;*/
    border-radius: 3px;
    font-size: 13px;
}
body> main> .content >.content-table> tfoot > .management-row>td>a:hover{
    background-color: rgba(0,0,0,0.8);
}

body> main> .content >.content-table> tfoot > .management-row>td>.spring{
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;


}


body> main> .content >.content-table> tfoot > .management-row>td>a:not(:last-of-type){
    margin-right: 0.5rem;
}
