
body>main>.content{
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;

    padding-bottom: 3.125rem;
    margin-bottom: 3.125rem;

}

body> main> .content>.title-container{
    padding-top: 4.0625rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: -0.125rem;
}


body>main>.content>form>table{
    width: 100%;
    border-bottom:  0.0625rem rgba(0,0,0,0.4) solid;

    border-collapse: collapse;
}

body>main>.content>form>table>tbody th{

    width: 3rem;
    height: 2rem;
    padding:0 2rem 0 2rem ;
    white-space: nowrap;
    background-color: #f8f8f8;

    color: #545454;
    font-weight: 450;
}


body>main>.content>form>table>tbody>tr{
    width: 100%;
    border-top: 0.0625rem solid rgba(0,0,0,0.2);

}

body>main>.content>form>table>tbody>tr>td{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;


}
body>main>.content>form>table>tbody>tr:not(:last-of-type)>td>label{
    margin: unset;

    width: 100%;
    height: 100%;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;

}
body>main>.content>form>table>tbody>.class-row>td>label>select{
    width: 10%;
    height: 2rem;
    padding-left: 0.5rem;
    border: 0.0625rem solid rgba(0,0,0,0.2);
    border-radius: 0.1875rem;


    font: inherit;
    font-size: 1rem;
    font-weight: 700;
}


body>main>.content>form>table>tbody>.title-row>td>label>input{
    width:100%;

    height: 2rem;
    margin: -0.0625rem;
    border-radius: 0.1875rem;
    border: 0.0625rem solid rgba(0,0,0,0.2);
    padding-left: 0.5rem;
}
body>main>.content-bp>form>table>tbody>.title-row>td>label>input{
    width: 10rem;
}
body>main>.content-bp>form>table>tbody>.request-row>td>label>input{
    width: 100%;

}
body>main>.content-bp>form.write-form>table.content-table>tbody>tr.reply>td>label.label{

    /*display: flex;*/
    /*flex-direction: row;*/
    width: 5%;

}


body>main>.content>form>table>tbody>.text-box-row>td>label>textarea{

    width: 100%;
    min-height: 22rem;
    border-radius: 0.1875rem;
    border: 0.0625rem solid rgba(0,0,0,0.2);



}
body>main>.content>form>table>tbody>.button-row> td>label{
    padding: 0.5rem;
}

body>main>.content>form>table>tbody>.button-row> td>label>input{
    height: 3rem;
    width: 7rem;
    border-radius: 0.3125rem;
    border: #F7f7f7 0.0625rem solid;
    font-size: inherit;
    font-weight: 500;
    color: white;
    cursor: pointer;
    letter-spacing: -0.0625rem;
    font-family: inherit;


}
body>main>.content>form>table>tbody>.button-row> td>label>.before{

    background-color: #333333;

}
body>main>.content>form>table>tbody>.button-row> td>label>.before>label{
    width: border-box;
}


body>main>.content>form>table>tbody>.button-row> td>label>.before:hover{
    background-color: rgba(0,0,0,0.5);
}


body>main>.content>form>table>tbody>.button-row> td>label>.submit{

    background-color: #E31134;

}
body>main>.content>form>table>tbody>.button-row> td>label>.submit:hover{
    background-color: rgba(0,0,0,0.8);
}



.ck-editor__editable{
    min-height: 20rem;
    min-width:60rem;

}



@media screen and (max-width : 87.5rem) {

    body>main>.content>form>table>tbody>.button-row>td>.spring{
        flex: unset;
    }

    body > main {

        width: 100%;
    }

    body>main>article{

        font-size: 1.5rem;
        padding:0 1.625rem  0.5rem 0;
    }

    body>main>.content>form>table>tbody th {
        padding: unset;
    }

}
@media screen and (max-width : 53.75rem) {

    body>main>article{
        padding:0 1rem  0.5rem 0;
    }
    body>main>article>ul>li>a {
        padding: 0.375rem 0 0.4375rem 0;
        display: block;
        width: 6.75rem;
        font-weight: 350;
        color: rgba(0, 0, 0, 0.7);
        letter-spacing: -0.05rem;
    }
}
