
body>main>.content{
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;

    padding-bottom: 50px;
    margin-bottom: 50px;

}

body> main> .content>.title-container{
    padding-top: 65px;
    padding-bottom: 32px;
    font-size: 32px;
    text-align: center;
    letter-spacing: -2px;
}


body>main>.content>form>table{
    width: 100%;
    border-bottom:  1px rgba(0,0,0,0.4) solid;

    border-collapse: collapse;
}

body>main>.content>form>table>tbody th{

    width: 3rem;
    height: 2rem;
    padding:0 2rem 0 2rem ;
    white-space: nowrap;
    background-color: #f8f8f8;

    color: #545454;
    font-weight: 450;
}


body>main>.content>form>table>tbody>tr{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.2);

}

 body>main>.content>form>table>tbody>tr>td{
     width: 100%;
     align-items: center;
     display: flex;
     flex-direction: row ;
     justify-content: center;


 }
body>main>.content>form>table>tbody>tr>td>label{
    margin: unset;

    width: 100%;
    height: 100%;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;

}
body>main>.content>form>table>tbody>.class-row>td>label>select{
    width: 10%;
    height: 2rem;
    padding-left: 0.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;


    font: inherit;
    font-size: 1rem;
    font-weight: 700;
}


body>main>.content>form>table>tbody>.title-row>td>label>input{
    width:100%;

    height: 2rem;
    margin: -1px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);
    padding-left: 0.5rem;
}

body>main>.content>form>table>tbody>.text-box-row>td>label>textarea{

    width: 100%;
    min-height: 22rem;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);



}

body>main>.content>form>table>tbody>.button-row> td>label>input{
    height: 3rem;
    width: 7rem;
    border-radius: 5px;
    border: #F7f7f7 1px solid;
    font-size: inherit;
    font-weight: 500;
    color: white;
    cursor: pointer;
    letter-spacing: -1px;
}
body>main>.content>form>table>tbody>.button-row> td>label>.before{

    background-color: #333333;

}
body>main>.content>form>table>tbody>.button-row> td>label>.submit{

    background-color: #E31134;

}

.ck-editor__editable{
    min-height: 20rem;

}

