@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;

    /*height: 100%;*/
}

body {

    /*background-color: black;*/
    top: 0;
    left: 0;
    width: 100%;

    min-height: 100%;
    margin: unset;
    position: absolute;

    align-items: stretch;
    display: flex;
    flex-direction:  column;
    justify-content: center;


}

body > header {

    /*background-color: cornsilk;*/

    align-items: stretch;
    display: flex;
    flex-direction: column ;
    justify-content: stretch;
    /*width: 100%;*/
    /*border-bottom: */
    box-shadow: 0 0 0.3rem  rgba(0,0,0,15%);
}

body > header > .logo-row {



    /*width: 100%;*/
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*height: 108px;*/

}


body > header > .logo-row > .logo-container {

    width: 80rem;
    padding: 0 2.5rem;
    /*background-color: yellow;*/
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    font-size: 1.2rem;
}
body > header > .logo-row > .logo-container > img{
    padding:  28px 0;
}
.button{

    /*background-color: rgba(108,122,108,0.22);*/


    font-size: 1.3rem;


    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: center;

}

body > header > .logo-row > .logo-container >.search{
    width: 24rem;
    align-items: stretch;
    display: flex;
    flex-direction: row ;
    justify-content: stretch;

    margin-left: 2.5rem;
    height: 2.5rem;
    top: 0.86rem;
    position: relative;
    border-radius: 999rem;
    background-color: rgba(108,122,108,0.15);

    padding: 0 0.75rem;
}


body > header > .logo-row > .logo-container >.search input{

    width: 100%;
    height: 2.5rem;
    background-color: transparent;
    /*background-color: red;*/
    padding: 0 9px;

    color: white;

    font-size: 1rem;
    font-weight: 550;

    letter-spacing: -2px;
    /*word-spacing:-3px;*/
    border: none;
}
body > header > .logo-row > .logo-container >.search>input::placeholder{
    color: rgba(117,131,117,0.9);

    font-size: 1rem;
    font-weight: 500;
}


body > header > .logo-row > .logo-container >.spring{
    flex: 1;
}

body > header > .logo-row > .logo-container > a{

    border-right: 0.05rem solid black;
    padding:  0 16px;
}
body > header > .logo-row > .logo-container > a:last-of-type{
    padding-left: 16px;
    border-right: none ;

}



body > header > .menu-row {


    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

body > header > .menu-row > .menu-container {
    /*background-color: blueviolet;*/

    padding: 0 2.5rem;
    width: 84rem;
    position: relative;

}

body > header > .menu-row > .menu-container > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;

    list-style-type: none;

}

body > header > .menu-row > .menu-container > ul > li{



    font-size: 1.5rem;
    font-weight: 500;
    height: 4.5rem;
    /*background-color: rosybrown;*/

    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    white-space: nowrap;
}
body > header > .menu-row > .menu-container > ul > .spring{
    flex: 1;
}

a{ text-decoration: none;
    color: black;}

body > header > .menu-row > .menu-container > ul >.menu-button{
    padding-right: 3rem;
}
body > header > .menu-row > .menu-container > ul >.menu{

    padding:0 3rem ;
}
body > header > .menu-row > .menu-container > ul > .my-menu{
    width: 3rem;

}
body >main{
    flex: 1;
}

body >footer{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: center;

    background-color: rgba(219,218,226,0.24)
}

body >footer> .foot-row{
    width: 80rem;
    /*background-color: red;*/
    padding: 68px 0 40px 80px;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column ;
}
body >footer> .foot-row > .foot-container{
    align-items: flex-start ;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    
}
body >footer> .foot-row > .foot-container >.question{
    align-items: flex-start;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    padding-left: 1rem;

}
body >footer> .foot-row > .foot-container >.question >a{
    background-color: yellow;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: black solid 0.0625rem;
    margin: 0.25rem;
    width: 10rem;

}
body >footer> .foot-row > .foot-container >.info>ul>li{
    list-style-type: none;
    font-size: 1.1rem;

    margin:  0.25rem 0 ;
}
body >footer> .foot-row > .foot-container >.info>ul{
    margin: 0;
}

body >footer> .foot-row > .foot-container >.info >ul:first-of-type{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;

}
body >footer> .foot-row > .foot-container >.info >ul:first-of-type > li{

    padding-left: 1rem;
    padding-right: 1rem;
}
body >footer> .foot-row > .foot-container >.info >ul:first-of-type > li:first-of-type{
    padding-left: 0;
}


body >footer> .foot-row > .foot-container >.info >ul:first-of-type > li:nth-of-type(2){
    border-left: black solid 0.0625rem;
    border-right: black solid 0.0625rem;
    color: rgb(255,0,0);
}


body >footer> .foot-row  >ul >li {
   list-style-type: none;
    font-size: 0.9rem;

}



