
body>main{
    width: 80rem;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    align-items: flex-start;
}



body>main>.content {
    width: 100%;


    display: block;
    padding-top: 8rem;
    padding-bottom: 6.25rem;

}


body> main> .content>.title-container{
    padding-top: 0;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: -0.125rem;
    font-weight: 700;
    border-bottom: rgba(0,0,0,0.4) solid 0.0625rem;
}





body>main>.content>ul{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;


    /*padding: 0  0  5rem 0;*/



}
body>main>.content>ul>li{
    width: 100%;
    border-collapse:collapse;

    border: rgba(0,0,0,0.05) solid 0.06rem;
    border-right: none;
    display: table-cell;

}
body>main>.content>ul>li:last-of-type{

    border-right: rgba(0,0,0,0.05) solid 0.06rem;

}
body>main>.content>ul>li>a>i{
    font-size: 3rem;
    opacity: 80%;
    max-width: 3.4375rem;
    max-height:3.4375rem;
    padding: 2rem 0;
}


body>main>.content>ul>li>a{
width: 100%;
height: 10rem;


    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;

    font-size: 0.9375rem;
    color: rgba(0,0,0,0.8);


}


body> main> .content > form>table{
    border-collapse: collapse;
}


body> main> .content > form>table> tbody> tr> th{

    background-color: rgba(0,0,0,0.05);
    padding: 1rem;
    min-width: 5rem;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
}
body> main> .content > form>table> tbody> tr> td{
    background-color: rgba(0,0,0,0.01);
    width: 100%;
    padding: 0.5rem;
}

body> main> .content > form>table> tbody> tr> td>label>select{

    padding: 0.5rem;
    border-radius: 0.2rem;
    font-family: inherit;
    font-weight: 600;
    outline: none;

}
body> main> .content > form>table> tbody> tr> td>label>.detail-index{
    display: none;
}


body> main> .content > form>table> tbody> tr> td>label>input[type="text"]
{

    padding: 0.5rem;
    border-radius: 0.2rem;
    border: rgba(0,0,0,0.5) solid 0.0625rem;
    /*font-family: inherit;*/
    font-weight: 400;
    /*outline: none;*/
    width: 50%;

}
body> main> .content > form>table> tbody> tr> td>label>input[type="number"]{
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: rgba(0,0,0,0.5) solid 0.0625rem;
    /*font-family: inherit;*/
    font-weight: 400;
    width: 10%;
    /*outline: none;*/

}
body> main> .content > form>table> tbody> .onSale-tr> td>label{
    display: flex;
    align-items: center;

}

body> main> .content > form>table> tbody> .image-row> td{
    /*display: flex;*/
    /*align-items: center;*/
    /*height: 100%;*/

}
body> main> .content > form>table> tbody> .image-row> td>label{
    display: flex;
    font-size: 0.7rem;
    text-decoration: underline;
}


body> main> .content > form>table> tbody> .image-row> td>label>.image-select-button{
    max-width: 5rem;
    max-height: 5rem;
    /*border: rgba(0,0,0,0.5) solid 0.125rem;*/
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.5rem ;
    padding: 0.5rem;
    color: white;
    /*margin-bottom: 0.5rem;*/
    /*margin: 0.5rem;*/
    white-space: nowrap;
    font-size: 1rem;
    text-decoration: transparent;


}


body> main> .content > form>table> tbody> tr> td>.image-container>img{

    max-width: 5rem;
    max-height: 5rem;
    border: rgba(0,0,0,0.1) solid 0.25rem;
    background-color: #ee3400;
    border-radius: 0.5rem ;
    margin-right: 0.1rem;
    margin-top: 0.1rem;
}





body> main> .content > form>table> tbody> tr> td>label>input[type="checkbox"]{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.3125rem;

    appearance: none;


    box-shadow: 0 0  0 0.0625rem  rgba(0,0,0,0.2);

    border: solid rgba(0,0,0,0.4) 0.0625rem;

}


body> main> .content > form>table> tbody> tr> td>label>input[type="checkbox"]:checked{

    background-color: rgba(0,0,0,0.2);

    background-image: url("/resources/images/checkbox.jpg");
    background-size: 100%;
    box-shadow: 0 0  0 0.125rem  #0ea31a;
    border-radius: 0.3125rem;


}




body> main> .content > form>table> tbody> tr> td>label>textarea{
    width: 95%;
    min-height: 5rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

body> main> .content > form >.button-row{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    padding-top: 1rem;

}


body> main> .content > form >.button-row>label> input[type="button"]{
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    border: none;
    color: white;
    font-family: inherit;
    cursor: pointer;
    font-size: 1.5rem;



    /*left: 40%;*/
    /*transform: translateX(-50%);*/
    /*display: none;*/
}
body> main> .content > form > .button-row>label>.back{
    background-color: #333333;

}
body> main> .content > form > .button-row>label>.back:hover{
    background-color: rgba(0,0,0,0.9);
}


body> main> .content > form >.button-row>label> .submit{
    background-color: #E31134;

}
body> main> .content > form >.button-row>label> .submit:hover{
    background-color: #ee3400;


}

@media screen and (max-width : 87.5rem) {
    * {
    }

    body > main {

        width: 100%;

    }

    body>main>article{
        font-size: 1.2rem;
        padding:0 1.625rem  0.5rem 0;
    }

}
@media screen and (max-width : 53.75rem) {


    body > main > article {
        padding: 0 1rem 0.5rem 0;
    }

    body > main > article > ul > li > a {
        padding: 0.375rem 0 0.4375rem 0;
        width: 6.75rem;
    }

}





