
body>main{

    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    align-items: flex-start;
}



body>main>.content {
    width: 100%;


    display: block;
    padding-top: 8rem;
    padding-bottom: 6.25rem;

}


body> main> .content>.title-container{
    padding-top: 0;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: -2px;
    font-weight: 700;
    border-bottom: rgba(0,0,0,0.4) solid 0.0625rem;
}





/*body>main>.content>ul{*/
/*    align-items: center;*/
/*    display: flex;*/
/*    flex-direction: row ;*/
/*    justify-content: flex-start;*/


/*    !*padding: 0  0  5rem 0;*!*/



/*}*/
/*body>main>.content>ul>li{*/
/*    width: 100%;*/
/*    border-collapse:collapse;*/

/*    border: rgba(0,0,0,0.05) solid 0.06rem;*/
/*    border-right: none;*/
/*    display: table-cell;*/

/*}*/
/*body>main>.content>ul>li:last-of-type{*/

/*    border-right: rgba(0,0,0,0.05) solid 0.06rem;*/

/*}*/
/*body>main>.content>ul>li>a>i{*/
/*    font-size: 3rem;*/
/*    opacity: 80%;*/
/*    max-width: 55px;*/
/*    max-height:55px;*/
/*    padding: 2rem 0;*/
/*}*/


/*body>main>.content>ul>li>a{*/
/*width: 100%;*/
/*height: 10rem;*/


/*    align-items: center;*/
/*    display: flex;*/
/*    flex-direction: column ;*/
/*    justify-content: flex-start;*/

/*    font-size: 15px;*/
/*    color: rgba(0,0,0,0.8);*/


/*}*/


body> main> .content > form>table{
    border-collapse: collapse;
}
body>main>.content>form>table>.thead>tr{
    background-color: rgba(0,0,0,0.01);

}

body>main>.content>form>table>.thead>tr>th{
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    padding: 0.5rem;


}
body>main>.content>form>table>.thead
{
    background-color: rgba(0,0,0,0.05);


}

body>main>.content>form>table>.thead>tr>th:not(:first-of-type){
    display: inline-block;
    padding: 0.5rem;
    min-width: 2rem;
    /*display: flex;*/
    /*width: 100%;*/

}
body>main>.content>form>table .image-column{
    width: 10rem;
    display: inline-block;
    padding: 0.5rem;

}

body>main>.content>form>table .number-column{
    width: 2rem;
    display: inline-block;
    /*padding: 0.5rem;*/
}

body>main>.content>form>table .name-column{
    width: 17rem;
    display: inline-block;
    padding: 0.5rem;
    /*overflow: auto;*/

}
body>main>.content>form>table .price-column{
    width: 6rem;
    display: inline-block;
    padding: 0.5rem;


}
body>main>.content>form>table .date-column{
    display: inline-block;
    padding: 0.5rem;
    /*width: 10%;*/
    width: 9rem;

}

body>main>.content>form>table>.thead>tr>th>label>.detail-index{
    display: none;
}

body>main>.content>form>table>.thead>tr>th>label>select{

    padding: 0.5rem;
    border-radius: 0.2rem;
    font-family: inherit;
    font-weight: 700;
    outline: none;
    color: rgba(0,0,0,0.8);
    margin-right: 0.5rem;

}



body> main> .content > form>table> tbody> tr> th{

    background-color: rgba(0,0,0,0.05);
    padding: 1rem;
    min-width: 5rem;
    font-weight: 500;
    color: rgba(0,0,0,0.6);

}
body> main> .content > form>table> tbody> tr> td{
    background-color: rgba(0,0,0,0.01);
    width: 100%;
    padding: 0.5rem;
}




body> main> .content > form>table> tbody> .data-row>td>ul{
    max-height: 70rem;
    overflow: auto;
    /*color: #CF152D;*/
    /*background: #CF152D;*/
    display: block;
}
body> main> .content > form>table> tbody> .data-row>td>ul>li{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    border-bottom: rgba(0,0,0,0.2) solid 0.0625rem;
    padding: 0.5rem 0;

}
body> main> .content > form>table> tbody> .data-row>td>ul>li>.image-container{
    max-width: 10rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    padding: 0 0.5rem ;
    /*padding: 0.5rem 0.5rem 0 0;*/
    /*padding-bottom: 0.5rem;*/
    overflow: auto;
}
body> main> .content > form>table> tbody> .data-row>td>ul>li>.image-container::-webkit-scrollbar{
    height: 0.5rem;
    padding-bottom: 0.5rem;

}
body> main> .content > form>table> tbody> .data-row>td>ul>li>.image-container::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.1);


}
body> main> .content > form>table> tbody> .data-row>td>ul>li>.image-container::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.5);
    border-radius: 999rem;

}



body> main> .content > form>table> tbody> .data-row>td>ul>li>span>img{
    max-height: 5rem;

}


body> main> .content > form>table> tbody> .data-row>td>ul>li>a{
    color: rgba(0,0,0,0.6);

}

body> main> .content > form>table> tbody> .data-row>td>ul>li>a>.price-column{
    text-align: end;
}
body> main> .content > form>table> tbody> .data-row>td>ul>li>.date-column{
    text-align: center;
}

body> main> .content > form>table> tbody> .data-row>td>ul>li>.number-column{
    text-align: center;
    padding-right: 0.5rem;
}















