<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer th:src = "@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
</head>

<body>

<header th:fragment="header">
    <div class="logo-row">
        <div class="logo-container">
            <a href="/">
                <img alt="" src="https://mall.bbq.co.kr/data/skin/responsive_ver1_default_gl/images/bbq/bbq_logo.svg"
                     width="118px"></a>
            <div class="search">
                <form>
                    <label>
                        <input type="text" maxlength="20" placeholder="BBQ mall 오픈! 신규가입하고 적립금3,000원 받자!">
                    </label>
                    <div class="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <!--                    제출 버튼을 숨기고 아이콘을 클릭시 제출이벤트를 만듬-->
                        <input type="submit" hidden>

                    </div>
                </form>
            </div>
            <span class="spring"></span>

            <div class="user-menu">
                <ul>
                    <li>
                        <a th:href = "@{/member/register}">회원가입</a>
                    </li>
                    <span></span>

                    <li>
                        <span class="bar"></span>
                        <a th:href = "@{/member/login}">로그인</a>
                        <span class="bar"></span>

                    </li>
                    <span></span>

                    <li class="cs">
                        <a href="#">
                            <span>고객센터</span>
                            <span class="drop-down">▼</span>
                        </a>


                    </li>
                </ul>
                <!--                <div class="tab">-->
                <!--                    <ul>-->
                <!--                        <li><a>공지사항</a></li>-->
                <!--                        <li><a>자주 뭍는질문</a></li>-->
                <!--                        <li><a>1:1 문의</a></li>-->

                <!--                    </ul>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
    <div class="menu-row">
        <div class="menu-container">
            <ul>
                <li class="menu-button">

                    <a href="#">
                        <div class="menu-trigger">
                            <span ></span>
                            <span class="hover-trigger"></span>
                            <span></span>

                        </div>
                        <strong>전체상품</strong></a>
                </li>
                <li class="menu" th:each="category : ${category}">
                    <a th:href = "@{/bbs/list (bid=${board.getId()})}"><strong class="new">NEW</strong></a>
                </li>
                <li class="menu">
                    <a href="/category"><strong class="en">669 세트</strong></a>
                </li>

                <li class="menu">
                    <a href="/category"><strong class="en">BBQ베스트</strong></a>
                </li>
                <li class="menu">
                    <a href="/category"><strong>현명한특가</strong></a>
                </li>
                <li class="menu">
                    <a href="/category"><strong>브랜드관</strong></a>
                </li>
                <li class="menu">
                    <a href="/category"><strong>이벤트/혜택</strong></a>
                </li>
                <span class="spring"></span>
                <li class="my-menu">
                    <a href="#"><img alt=""
                                     src="https://mall.bbq.co.kr/data/images/bbqnew/pc/%EB%A7%88%EC%9D%B4%ED%8E%98%EC%9D%B4%EC%A7%80.svg">
                    </a>
                </li>
                <li class="my-menu">
                    <a href="#"><img alt=""
                                     src="https://mall.bbq.co.kr/data/images/bbqnew/pc/%EC%B0%9C%ED%95%9C%EB%AA%A9%EB%A1%9D.svg">
                    </a>
                </li>
                <li class="my-menu">
                    <a href="#"><img alt=""
                                     src="https://mall.bbq.co.kr/data/images/bbqnew/pc/%EC%9E%A5%EB%B0%94%EA%B5%AC%EB%8B%88.svg"></a>
                </li>


            </ul>
        </div>
    </div>
</header>
<main>몸







</main>

<footer th:fragment="footer">

    <div class="foot-row">
        <div class="foot-container">
            <div class="question-row">
                <a href="#">
                    <img alt="" src="https://mall.bbq.co.kr/data/skin/responsive_ver1_default_gl/images/bbq/bbq_logo.svg"
                         width="208"></a>
                <div class="question-button">
                    <a href="#">1:1 문의하기

                        <i class="fa-solid fa-chevron-right icon"></i>

                    </a>
                    <a href="#">카카오 문의하기
                        <i class="fa-solid fa-chevron-right icon"></i>

                    </a>

                </div>
            </div>
            <div class="info">
                <ul class="info-use">
                    <li><a href="#"> <b>이용약관</b></a></li>
                    <li class="bar"></li>
                    <li><a href="#"><b>개인정보처리방침</b></a></li>
                    <li class="bar"></li>

                    <li><a href="#"><b>이용안내</b></a></li>
                </ul>
                <ul class="info-text">
                    <li>
                        <span><strong>법인명</strong> (주) 제너시스비비큐 유통 <b>대표자(성명)</b> 정승욱 <b>사업자 등록번호 안내</b> <a href="#"> 102-85-08362</a></span>
                    </li>
                    <li><span><strong>통신판매업 신고</strong> 제 2017-서울송파-0087 호</span></li>
                    <li>
                        <span><strong>대표전화</strong> 1588-9282 (평일 11:00 ~ 17:00, 점심시간 13:00 ~ 14:00, 주말 및 공휴일은 휴무입니다.)</span>
                    </li>
                    <li><span><strong>주소</strong> 서울특별시 송파구 중대로 64 <strong>개인정보관리책임자</strong> BBQ 전략기획팀장 김성우 (sungwoo.kim@bbq.co.kr)</span>
                    </li>
                    <li><span><strong>Contact</strong> e-commerce@bbq.co.kr for more information.</span></li>
                </ul>


            </div>

        </div>

        <div class="last">
            <p>COPYRIGHT © 2016 BBQ 온라인 공식쇼핑몰. ALL RIGHTS RESERVED.</p>
            <p>※ 모든 제작물의 저작권은 당사에 있으며, 무단 복제나 도용은 저작권법(97조 5항)에 의해 금지되어 있습니다. 이를 위반시 처벌을 받을 수 있습니다.</p>
        </div>
    </div>
</footer>


</body>
</html>