@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;

    height: 100%;
    margin: unset;
    padding: unset;
}

* {
    text-decoration: none;
    list-style-type: none;
}

body {
    top: 0;
    left: 0;
    min-height: 100%;
    margin: unset;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

body > header {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 15%);
}

main > .products-view > .products > .image-container {
    margin-right: 1.5rem;
    padding : 3rem;
}
main > .products-view > .products {
    display : grid;
    grid-template-rows : 63px 1fr;
    grid-template-columns :  1fr;
    padding-top : 1rem;

    max-width : 85%;
}

main > .products-view > .products > .products-container {
    margin-top : 3rem;
}



.image-container > .image {
    display : inline-block;
}



main > .products-view > .products {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : center;
}

main > .products-view > .products > .products-container > .products-form > .products-spec {
    align-items : stretch;
    display : flex;
    flex-direction : column;
    justify-content : center;

    font-size : 1.4rem;
    padding-bottom : 1rem;

    border-bottom : 0.0125rem solid rgb(213, 216, 220);
}

main > .products-view > .products > .products-container > .products-form > .grade-container,
main > .products-view > .products > .products-container > .products-form > .benefit-container,
main > .products-view > .products > .products-container > .products-form > .delivery-container,
main > .products-view > .products > .products-container > .products-form > .brand-container,
main > .products-view > .products > .products-container > .products-form > .quantity-container {
    padding-top : 1rem;
    padding-bottom : 1rem;
    border-bottom : 0.0125rem solid rgb(213, 216, 220);
}

main > .products-view > .products > .products-container > .products-form > .button-container {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : flex-end;

    padding : 7rem 0 0 0;
}

main > .products-view > .products > .products-container > .products-form > .button-container > .cart,
main > .products-view > .products > .products-container > .products-form > .button-container > .jjim {
    background-color: white;
    border : 0.0125rem solid rgb(213, 216, 220);
    border-radius : 0.25rem;
    padding: 2rem 3rem;
}

main > .products-view > .products > .products-container > .products-form > .button-container > .buy {
    background-color: red;
    color : white;
    border : 0.0125rem solid rgb(213, 216, 220);
    border-radius : 0.25rem;
    padding: 2rem 3rem;
}

main > .products-view > .products > .products-container > .products-form > .quantity-container {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : flex-start;
}

main > .products-view > .products > .products-container > .products-form > .quantity-container > .quantity-number {
    border-left : none;
    border-right : none;
}

main > .products-view > .products > .products-container > .products-form > .quantity-container > .add,
main > .products-view > .products > .products-container > .products-form > .quantity-container > .quantity-number,
main > .products-view > .products > .products-container > .products-form > .quantity-container > .min {
    border : 0.0125rem solid rgb(213, 216, 220);
    background-color: white;
}

main > .products-view > .products > .products-container > .products-form > .grade-container > .price {

}

main > .products-view > .products > .products-container > .products-form > .products-spec > .star-container {
    padding-bottom : 1rem;
}

main > .products-view > .products > .products-container > .products-form > .products-spec > .star-container > .review-count {
    color : gray;
}

main > .products-view > .products > .products-container > .products-form > .products-spec > .star-container > .star,
main > .products-view > .products > .products-container > .products-form > .products-spec > .star-container > .review-count{
    font-size : 1rem;
}

main > .products-view > .products > .products-container > .products-form > .products-spec > .price-container {
    font-size : 2rem;
}

main > .products-view > .products > .products-container > .products-form > .products-spec > .price-container > .sale {
    color : red;
}

main > .products-view > .products > .products-container > .products-form > .products-spec > .price-container > .won {
    font-size : 1.2rem;
}

main > .products-view > .products > .products-container > .products-form > .products-spec > .price-container > .basic-price {
    font-size : 1.2rem;
    color : gray;
    text-decoration : line-through;
}