@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");



* {
    text-decoration: none;
    list-style-type: none;
}

body {
    top: 0;
    left: 0;
    min-height: 100%;
    margin: unset;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.search-filter-wrap > .search-filter > .search-list {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
}

.search-list > .li {
    margin-top : 0.5rem;
    margin-bottom : 0.5rem;
    font : 15px "Pretendard Variable";
}

main {
    margin-left : 17.5rem;
    margin-right : 17.5rem;
}

main > .swiper > div > .catalog-page > .goods-search-form > .search-filter-wrap > .search-filter > .search-list {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : flex-end;

    line-height : normal;
    position : relative;
}

main > .swiper > div > .catalog-page > .goods-search-form > .search-filter-wrap > .search-filter > .search-list > .li + .li{
    border-left : 0.125rem solid rgb(213, 216, 220);
}

main > .swiper > div > .catalog-page > .goods-search-form > .search-filter-wrap > .search-filter > .search-list > .li > .active >.btn-container > .button {
    background-color: rgb(255, 255, 255);
    border : none;
    font-weight : 100;
}

main > .swiper > div > .catalog-page > .goods-search-form > .border-line {
    border-bottom : 0.0125rem solid rgb(213, 216, 220);
}

.product-container {
    display: grid;
    gap: 2rem 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;

    margin-top: 3rem;
    padding: unset;

}

.product-container > .products:hover {
    font-weight:500;
}

.product-container > .products {
    align-items : stretch;
    display : grid;
    flex-direction : row;
    justify-content : center;
}

.product-container > .products > .product-image {
    max-width : 18.75rem;
    min-width : 18.75rem;
}

.product-container > .products > .product-box > .title {
    color : black;
}

.product-container > .products > .product-box > .title > .comment {
    font-size : 1.25rem;
}

.product-container > .products > .product-box > .title > .sale,
.product-container > .products > .product-box > .title > .percent {
    font-size : 1.25rem;
    color : #CF152D;
}

.product-container > .products > .product-box > .title > .price {
    font-size : 1.25rem;
    font-style : inherit;
}

.product-container > .products > .product-box > .title > .base-price {
    text-decoration : line-through;
}

.goods-search-form > .search-item-display > .ul > .goods-list {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : center;
    flex-wrap: wrap;
}

.goods-search-form > .search-item-display > .ul > .goods-list > .item-area {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : center;
    padding : 0.625rem;
    margin-top : 1rem;
    flex-wrap: wrap;
}

.paging-navigation {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : center;

    padding-top : 2rem;
    box-sizing : border-box;
    text-decoration: none;
    font-size : 1rem;
    margin-bottom : 5rem;
}



.paging-navigation > .page {
    border-top : 0.0125rem solid rgb(213, 216, 220);
    border-bottom : 0.0125rem solid rgb(213, 216, 220);
    border-left : 0.0125rem solid rgb(213, 216, 220);
    font-weight : 500;
    padding : 0.5rem 0.75rem;
}

.paging-navigation > .page:last-of-type {
    border-right : 0.0125rem solid rgb(213, 216, 220);
}


@media screen and (max-width: 100rem) { /* 최대크기가 100rem 이하가 될때 적용될 것들을 적어넣으면 됨 */
    .product-container {
        max-width : 70rem;
    }
}

@media screen and (max-width : 80rem) {
    .product-container {
        max-width : 50rem;
    }

    .product-container > .products {
        gap : 1rem 1.25rem;
    }

    .product-container > .products + .products {
        gap : 1.25rem 4.25rem;
    }
}

@media screen and (max-width : 60rem) {
    .product-container {
        /*max-width : calc(100vw - 4rem);*/
    }

    .product-container > .products {
        grid-template-columns : repeat(2, 1fr);
    }
}