@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;

    height: 100%;
    margin: unset;
    padding: unset;
}

* {
    text-decoration: none;
    list-style-type: none;
}

body {
    top: 0;
    left: 0;
    min-height: 100%;
    margin: unset;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

body > header {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 15%);
}

main > #cartForm {
    align-items : stretch;
    display : flex;
    flex-direction : column;
    justify-content : stretch;
    margin : 1rem;

    padding-top : 2rem;
    padding-bottom : 2rem;
}
main > .cart-form > .title-container {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : center;

    padding-top : 1.5rem;
    padding-bottom : 2rem;

}

main > #cartForm > .title {
    border-bottom: 0.0125rem solid gray;
    padding-bottom : 0.5rem;
}

main > .cart-form > .title-container > h2 {
    font-size : 2rem;
}

main > #cartForm > .order-layout > .cartPage-container > .cart-content > .cart-list > .delivery {
    padding-top : 1rem;
    padding-bottom : 1rem;
    /*margin-left : 1rem;*/

    border-bottom : 0.0125rem solid gray;
}

main > #cartForm > .order-layout > .cartPage-container > .cart-content > .cart-list > .delivery > .shipping-modify {
    margin-left : 35rem;
    background-color : rgb(255, 255, 255);
    border : 0.0125rem solid gray;
    padding: 0.15rem 0.3rem;
    font-size : 0.8rem;
    color : gray;

}

main > #cartForm > .order-layout > .cartPage-container > .cart-content > .cart-list >.cart-goods > .cart-detail {
    margin-bottom : 0.5rem;
}

main > #cartForm > .order-layout > .cartPage-container > .cart-content > .cart-list >.cart-goods > .cart-detail > .cart-content > .block {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : stretch;
}

main > #cartForm > .order-layout > .cartPage-container > .cart-content > .cart-list >.cart-goods > .cart-detail > .cart-content > .block > .product-block {
    display : flex;
    flex-direction : row;

    padding : 1rem;
}

main > #cartForm > .order-layout > .cartPage-container > .cart-content > .cart-list > .cart-goods > .cart-detail > .cart-content > .block > .product-block > .option-container {
    align-items : stretch;
    display : flex;
    flex-direction : column;
    justify-content : stretch;

    padding : 0.5rem;
}

.sale-price-container > .sale-option > .layout {
    background-color : rgb(255, 255, 255);
    border : 0.0125rem solid gray;
    padding: 0.15rem 0.3rem;
    font-size : 0.8rem;
    color : gray;


}

main > #cartForm > .order-layout > .cartPage-container > .cart-content > .cart-list > .cart-goods > .cart-detail > .cart-content > .block > ul > .option-container > .product-name {
    font-size : 1.3rem;
    font-style: inherit;
    margin-bottom : 0.4rem;
}

.cart-content > .cart-list > .cart-goods > .cart-detail > .cart-content > .block {
    border-bottom : 0.0125rem solid gray;
}

.cart-content > .cart-list > .cart-goods > .cart-detail > .cart-content > .block > ul > .option-container > .cart-option,
.cart-content > .cart-list > .cart-goods > .cart-detail > .cart-content > .block > ul > .option-container > .cart-quantity {
    padding-top : 0.15rem;
    padding-bottom : 0.15rem;
}

.cart-content > .cart-list > .cart-goods > .cart-detail > .cart-content > .block > ul > .option-container > .cart-option > li > .product-title,
.cart-content > .cart-list > .cart-goods > .cart-detail > .cart-content > .block > ul > .option-container > .cart-quantity > .quantity {
    border : 0.0125rem solid rgb(128, 140, 152);
    color : rgb(128, 140, 152);

    padding-left : 0.3rem;
    padding-right : 0.3rem;
}

.gift-container {
    align-items : stretch;
    display : flex;
    flex-direction : column;
    justify-content : stretch;


    border-top : 0.0125rem solid rgb(128, 140, 152);
    padding-top : 0.5rem;
}

.gift-container > .title {
    margin-left : 1rem;
}

.gift-container > .gift-content {
    margin-top : 0.5rem;
    padding-top : 0.2rem;

}

.gift-container > .gift-content > .title2 {
    border-top : 0.0125rem solid rgb(128, 140, 152);
    font-size : 0.85rem;

    padding : 1rem;
}

.gift-container > .gift-content  > .list1 {
    border-bottom: 0.0125rem solid rgb(128, 140, 152);
}

.gift-container > .gift-content  > .list1 > .label1 {
    font-size : 0.85rem;
    color : rgb(128, 140, 152);

    padding : 0.5rem;
}

.sale-container {
    align-items : stretch;
    display : flex;
    flex-direction : column;
    justify-content : stretch;

    border-left : 0.0125rem solid rgb(128, 140, 152);
    padding-left : 1rem;
    padding-top : 1.5rem;
    padding-bottom : 1rem;
}

.sale-container > .sale-area > .title2 {
    display : none;
}

.sale-container > .sale-area > .list1 > .promotion-code {
    align-items : stretch;
    display : none;
    flex-direction : column;
    justify-content : stretch;
}

.sale-container > .sale-area > .list1 > .promotion-code.visible {
    display : flex;
}

.sale-container > .sale-area > .list1 > .save-money > .use-money-btn,
.sale-container > .sale-area > .list1 > .save-money > .use-all-money-btn {
    background-color : rgb(255, 255, 255);
    border : 0.0125rem solid gray;
    padding: 0.15rem 0.3rem;
    font-size : 0.8rem;
    color : gray;
}

.sale-container > .sale-area > .list1 > .save-money > .reset-btn {
    display : none;

}

.sale-container > .sale-area > .list1 >  .save-money > .reset-btn.visible {
    display : flex;
}

.sale-container2 {
    align-items : stretch;
    display : flex;
    flex-direction : column;
    justify-content : stretch;
    padding-top : 1.5rem;
    padding-bottom : 1rem;
}

.sale-container2 > .sale-area > .title2 {
    display : none;
}

.sale-container2 > .sale-area > .list1 > .coupon-container > .coupon-btn {
    background-color : rgb(255, 255, 255);
    border : 0.0125rem solid gray;
    padding: 0.15rem 0.3rem;
    font-size : 0.8rem;
    color : gray;
}

.sale-container2 > .sale-area > .list1 > .promotion-code {
    align-items : stretch;
    display : none;
    flex-direction : row;
    justify-content : stretch;
}

.sale-container2 > .sale-area > .list1 > .promotion-code.visible {
    display : flex;
}

.sale-container2 > .sale-area > .list1 > .save-money > .use-money-btn,
.sale-container2 > .sale-area > .list1 > .save-money > .use-all-money-btn {
    background-color : rgb(255, 255, 255);
    border : 0.0125rem solid gray;
    padding: 0.15rem 0.3rem;
    font-size : 0.8rem;
    color : gray;
}

.sale-container2 > .sale-area > .list1 > .save-money > .reset-btn {
    display : none;

}

.sale-container2 > .sale-area > .list1 >  .save-money > .reset-btn.visible {
    display : flex;
}

.user-info-container {
    align-items : stretch;
    display : flex;
    flex-direction : column;
    justify-content : flex-start;

    margin-top : 3rem;
}

.user-info-container > .order-info-input {
    display : none;
}

.user-info-container > .order-info-input.visible {
    display : flex;
}

.user-info-container > .title3 > .modify-button {
    background-color : rgb(255, 255, 255);
    border : 0.0125rem solid gray;
    padding: 0.15rem 0.3rem;
    font-size : 0.8rem;
    color : gray;
}

.order-info {
    align-items : stretch;
    display : flex;
    flex-direction : column;
    justify-content : stretch;

    border-bottom : 0.0125rem solid rgb(128, 140, 152);
    margin-top : 1rem;
    margin-bottom : 1rem;
}



.order-info-member > .modify-btn {
    display : none;
}

.user-info-container {
    margin-bottom : 5rem;
}

.cart-goods > .shipping-container > .title {
    align-items : stretch;
    display : flex;
    flex-direction : row;
    justify-content : stretch;

    border-bottom : 0.0125rem solid rgb(128, 140, 152);
    padding-bottom : 0.8rem;
}

.shipping-container > .title > .shipping-button > .change-address-btn,
.shipping-container > .title > .shipping-button > .modify-btn {
    background-color : rgb(255, 255, 255);
    border : 0.0125rem solid gray;
    padding: 0.15rem 0.3rem;
    font-size : 0.8rem;
    color : gray;
}

.cart-goods > .shipping-container > .delivery-info-container {
    padding-top : 1rem;
    font-weight : 400;
}

.order-button-container {
    align-items : flex-end;
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
    margin-top : 2rem;
}

.order-button-container > .button-container > .buy-button-container > .buy-button {
    background-color: #E31134;
    border : none;
    height : 2.875rem;
    font-size : 1rem;
    line-height : 1.5rem;
    color : #FFFFFF;
    width : 100%;
}