body>main{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-family: inherit;
    width: 80rem;

}

body>main>.content{
    width: 100%;


    display: block;
    padding-top: 5.5rem;
    padding-bottom: 6.25rem;

}



body>main>.my-page-content>table{
    width: 100%;
}

body>main>.my-page-content>table>tbody{
    width: 100%;
    display: block;
}
body>main>.my-page-content>table>tbody>tr>.user-menu-title{
    display: flex;
    flex-direction: column;
}
body>main>.my-page-content>table>tbody>tr>.user-menu-title>a,
body>main>.my-page-content>table>tbody>tr>td a{
    color: rgba(0,0,0,0.9);
}


body>main>.my-page-content>table>tbody>.user-tr>td>h1{
    font-size: 2rem;
    font-weight: 400;
    padding-top: 0.5rem;
    letter-spacing: -0.1rem;
}
body>main>.my-page-content>table>tbody>.user-tr>td>.modify-info{
    width: unset;
    padding: 0.4rem;
    border: 0.0625rem solid rgba(0,0,0,0.2);
    margin-top: 0.5rem;
    text-align: center;
}


body>main>.my-page-content>table>tbody>.user-tr,
body>main>.my-page-content>table>tbody>.user-order-tr
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

body>main>.my-page-content>table>tbody>.user-order-tr{
    padding-top: 4.7rem;
    padding-bottom: 5rem;
    letter-spacing: -0.1rem;
    display: flex;
    align-items: center;

}


body>main>.my-page-content>table>tbody>.user-order-tr>td>a{
    font-size: 1.3125rem;
    margin-top:  0.5rem;
    display: inline-block;
}


body>main>.my-page-content>table>tbody>tr>.spring{
    flex: 1;

}



body>main>.my-page-content>table>tbody>tr>.user-menu{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;

    font-size: 1.0625rem;
    letter-spacing: -0.1rem;
    color: rgba(0,0,0,0.6);

}

body>main>.my-page-content>table>tbody>tr>.user-menu>p{
    margin: unset;
    color: rgba(0,0,0,0.8);
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
}



body>main>.my-page-content>table>tbody>tr>.user-menu>p>span:first-of-type{
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: -0.0625rem;

}
body>main>.my-page-content>table>tbody>.user-order-tr{
    color: rgba(0,0,0,0.6);

}
body>main>.my-page-content>table>tbody>.user-order-tr>td>h1{
    font-size: 1.75rem;
    font-weight:700;
    color:rgba(0,0,0,0.8);

}

body>main>.my-page-content>table>tbody>.user-order-tr>.user-order{
    padding: 0 2rem;

}
body>main>.my-page-content>table>tbody>.user-order-tr>.user-order>p{
    margin: unset;
    font-weight: 400;
    font-size: 1.25rem;
}
body>main>.my-page-content>table>tbody>.user-order-tr>.user-order>img{
    opacity: 40%;
}




body>main>.my-page-content>table>tbody>.user-order-tr>.arrow{
    font-size: 2.5rem;

}
body>main>.my-page-content>table>tbody>.history-row{
    width: 100%;
}

body>main>.my-page-content>table>tbody>.history-row>.history-content{
    width: 100%;
    padding: 12rem 0;
}
body>main>.my-page-content>table>tbody>.history-row>.history-content>p{
    text-align: center;
    font-size: 0.9375rem;
}


body>main>.my-page-content>table>tbody>.history-row{
    display: flex;
    flex-direction: row;
}

body>main>.my-page-content>table>tbody>.service-row{
    width: 100%;
    display: flex;
    margin-top: 2rem;
}

body>main>.my-page-content>table>tbody>.service-row>.service{
    width: 100%;
    padding: 1rem;
    border: rgba(0,0,0,0.1) solid 0.0625rem;
    font-size: 1.0625rem;
    display: flex;
    justify-content: space-between;
}
body>main>.my-page-content>table>tbody>.service-row>.service:first-of-type{
    margin-right:0.625rem;
}
body>main>.my-page-content>table>tbody>.service-row>.service>h1{
    display: inline-block;
}
body>main>.my-page-content>table>tbody>.service-row>.service>span{
    color: rgba(0,0,0,0.4);
    font-weight: 500;
}

@media screen and (max-width : 87.5rem) {

    *{

    }
    body > main {

        width: 100%;

    }
    body>main>.content.my-page-content>table>tbody>tr>td,
    body>main>.content.my-page-content>table>tbody>.user-order-tr>.user-order
    {
        padding: 0;
    }

    body>main>article{
        font-size: 1.5rem;
        padding:0 1.625rem  0.5rem 0;
    }
    body>main>.my-page-content>table>tbody>.user-order-tr>.user-order>img{
        width: 2rem;
    }

}
@media screen and (max-width : 53.75rem) {

    body>main>article{
        padding:0 1rem  0.5rem 0;
    }
    body>main>article>ul>li>a{
        padding:0.375rem 0  0.4375rem 0;
        display: block;
        width: 6.75rem;
        font-weight: 350;
        color: rgba(0,0,0,0.7);
        letter-spacing: -0.05rem;
    }

}