body>main{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-family: inherit;
}

body>main>.content{
    width: 100%;


    display: block;
    padding-top: 5rem;
    padding-bottom: 6.25rem;

}

body> main> .content>.title-container{
    padding-top: 0;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    letter-spacing: -2px;
    font-weight: 700;
    /*border-bottom: rgba(0,0,0,0.4) solid 0.0625rem;*/
}



body> main> .content>.text{
    display: flex;
    justify-content: center;
    padding: 17rem 0;
    font-size: 0.9rem;
}