
body>main{
    width: 1280px;
    padding: 0 40px;
    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: center;


}
body>.swiper-row> .swiper>div{
    width: 100%;
    height: 545px;
align-items: stretch;
display: flex;
flex-direction: row ;
justify-content: stretch;

}



body> .swiper-row>.swiper{
    width: 1920px;
    height: 545px;
    /*background-color: #CF152D;*/

    background-image: url("https://mall.bbq.co.kr/data/skin/responsive_ver1_default_gl/images/banner/10/images_1.png?ver=3000");

    background-size: 100%;
    background-repeat: no-repeat;

}

body > main > .goods-row {
    width: 100%;
}


body > main > .goods-row1 {

    padding: 120px 0px 60px;
    height: 100%;

}
body > main > .goods-row2 {

    padding:  60px 0px 120px;
    height: 100%;

}

body > main > .goods-row >.goods-container {


    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    /*min-height: 20rem;*/
    /*max-height: 20rem;*/


}

body > main > .goods-row >.goods-container>div {
   height: 480px;
    max-width: 308px;

    padding: unset;
    background-color: moccasin;

    align-items: flex-start;
    display: flex;
    flex-direction:  column;
    justify-content: flex-start;

}
body>main>.goods-row>.goods-container>.goods>.goods-info{
    padding-top: 16px;

    align-items: flex-start;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;

}

body > main > .goods-row >.goods-container>.goods>.goods-info >a{

    font-size: 21px;
    margin-bottom: 16px;

}
body > main > .goods-row >.goods-container>.goods>.goods-info >.price{
    font-size: 24px;
    font-weight: 700;
}

body > main > .goods-row >.goods-container>.goods>.goods-info >span> .small-text {
        font-size:16px;
}

body>main>.event-row{
    height: 724px;
    width: 100vw;
    /*background-color: black;*/

    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: center;

    background-color: #F7f7f7;

}
body>main>.event-row >.title{
    font-size: 28px;
    font-weight: 700;
}


body>main>.event-row >ul{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: center;

    width: 1280px;
    margin-top:46px ;

}
body>main>.event-row >ul>li{
    margin-right: 16px;
}



body>main>.event-row >ul>li>a{
    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: stretch;

}

body>main>.event-row >ul>li>a>.event-title{
    margin-top: 34px;
    font-size: 24px;
    color: #333333;
    font-weight: 600;
}

body>main>.event-row >ul>li>a>span:last-of-type{
    font-size: 19px;
    margin-top: 12px;
    color: #989898;
    font-weight: 400;
}

body>main>.event-row > .page-container{
    margin-top: 70px;
}
body>main>.event-row-big{
    margin: 0;
    padding: 0;
    height: 303px;
}

body> main> .review-row{
    width: 1280px;
    padding: 120px 0;
}
body> main> .review-row>div{
    align-items: center;
    display: flex;
    flex-direction: row ;
    justify-content: center;

}
body> main> .review-row>div>.title{
    font-size: 28px;
    font-weight: 700;
}
body> main> .review-row>div>.more{
    font-size: 21px;
    font-weight: 400;
    color: gray;
}
body>main> .review-row> .review-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /*gap: 8px;*/
    width: 1280px;
    padding: unset;

    gap: 4px;
    margin-top: 8px;
    /*background-color: red;*/
}
body>main> .review-row> .review-container>.review{
    height: 210px;
}
