<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text = "${'BBQ몰 - 구매페이지'}"></title>
    <link rel="stylesheet" th:href="@{/bbq/resources/stylesheets/index.css}">
    <link rel="stylesheet" th:href="@{/cart/resources/stylesheets/cart.css}">
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer th:src="@{/cart/resources/scripts/cart.js}"></script>
</head>
<body >
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main>
    <input type="hidden" name = "pid" id="pid" th:value="${product.getProductIndex()}">
    <input type="hidden" name = "cartIndex" id="cartIndex" th:value="${cart.getIndex()}">
    <form id="cartForm" class="cart-form" name="cartForm">
        <div class="title-container">
            <h2>주문/결제</h2>
        </div>

        <h2 class="title">주문상품 정보</h2>
        <div class="order-layout" id="orderLayout">
            <div class="cartPage-container">
                <div class="cart-content">
                    <ul class="cart-list">
                        <li class="delivery">배송 :
                            <span>택배</span>
                            <span class="ship-pay">(선불)</span>
                            <span class="ship-price">무료</span>
                            <input type="button" class="shipping-modify" value="배송 변경"><!--배송 변경-->
                        </li>
                        <!--                        <li class="shipping">-->
                        <!--                            <span>택배</span>-->
                        <!--                            <span class="ship-pay">(선불)</span>-->
                        <!--                            <span class="ship-price">무료</span>-->
                        <!--                        </li>-->
                        <li class="cart-goods">
                            <div class="cart-detail">
                                <div class="cart-content">
                                    <div class="block">
                                        <ul>
                                            <li class="image-container">
                                                <a href="#">
                                                    <img src="/resources/images/event1.jpg" width="100">
                                                </a>
                                            </li>
                                            <li class="option-container">
                                                <div class="product-name">
                                                    <a href="#" th:text="${product.getProductName()}">/상품 이름 th:value 적을곳/</a>
                                                </div>
                                                <ul class="cart-option">
                                                    <li>
                                                        <span class="product-title">상품</span>
                                                        <span class="product" th:text="${product.getProductName()}">/상품 이름 2개와 가격 th적을곳/</span>
                                                    </li>
                                                </ul>
                                                <input type="hidden" name="coupon">
                                                <div class="cart-quantity">
                                                    <span class="quantity">수량</span>
                                                    <span th:text="${quantity}"></span>
                                                    <span class="price-container">
                                                        (
                                                        <span class="price">/th로 productPrice 받을곳/</span>
                                                        원)
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="sale-container">
                                            <li class="price">
                                                <span class="price-title">상품금액</span>
                                                /th로 price * quantity 받을곳/
                                            </li>
                                            <li class="sale-price-container" id="salePriceContainer">
                                                <span class="sale-title">할인금액</span>
                                                <div class="total-sale">-</div>
                                                <div class="sale-option">
                                                    <button type="button" class="layout">내역</button>
                                                    <!-- 할인내역 css로 내역버튼누를시 나오게할것 -->
                                                    <div class="detail-sale">

                                                        <h1>할인내역</h1>
                                                        <div class="sale-textarea">
                                                            <caption>할인내역</caption>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="sale-apply">
                                                <span class="title">할인적용금액</span>
                                                <span class="saled-price">th:price 할인적용금액 적을곳</span>
                                                원
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>

                            <!-- 이벤트 -->

                            <div class="gift-container">
                                <input type="hidden" name="gift" id="gift" value="y">
                                <h3 class="title">
                                    사은품
                                    <span class="desc" id="totalGift">( 1개 )</span>
                                </h3>
                                <div class="gift-content">
                                    <input type="hidden" name="gift" value="1">
                                    <h4 class="title2">금액대별 육포 증정 이벤트</h4>
                                    <ul class="list1">
                                        <li>
                                            <img src="/resources/images/new1.png" alt class="img1" width="100">
                                        </li>
                                        <label class="label1">
                                            <input type="checkbox" name="gift" checked>
                                            BBQ 육포 증정이벤트 (최대 10개)
                                        </label>
                                    </ul>
                                    <input type="hidden" name="giftLimit" value="2">
                                </div>
                            </div>

                            <!-- 적립금 -->

                            <div class="sale-container">
                                <div class="sale-area">
                                    <h3 class="title2">
                                        <span>할인</span>
                                    </h3>
                                    <ul class="list1">
                                        <li>
                                            <span class="sale-title">쿠폰할인</span>
                                            <span class="on-sale-price">
                                                <span class="save" id="totalSave">0</span>
                                                원
                                            </span>
                                            <button type="button" id="couponApply" class="coupon-btn">사용</button>
                                            (보유
                                            <span class="bold">0장</span>
                                            )
                                        </li>
                                        <br>

                                        <li class="promotion-code">
                                            <span class="sale-title">할인코드</span>
                                            <span class="sale-price">
                                                <span class="save" id="productSale">0</span>
                                                원
                                            </span>
                                            <input type="text" name="save" id="save" class="save">
                                            <span class="promotion-code">
                                                <button type="button" class = "promotion" name="promotionCode" id="promotionCode">
                                                    코드입력
                                                </button>
                                            </span>
                                            <span class="reset-button-container">
                                                <input type="button" class="reset-button" value="초기화" disabled>
                                            </span>
                                        </li>

                                        <li class="save-money">
                                            <span class="sale-title2">사용 적립금</span>
                                            <span class="sale-price2">
                                                <input type="text" name="money-view">
                                                원
                                            </span>
                                            <input type="hidden" name="emoney" value="0">
                                            <button type="button" class="use-emoney-btn">사용</button>
                                            <button type="button" class="use-all-emoney-btn">전액사용</button>
                                            <button type="button" class="reset-btn">초기화</button>
                                            <span class="user-money">
                                                (보유
                                                <span class="bold">3,000원</span>
                                                )
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="user-info-container">
                                <h3 class="title3">
                                    <span>주문자 정보</span>
                                    <button type="button" id="orderModify" class="modify-button">수정</button>
                                </h3>

                                <ul class="list1" id="orderInfo" hidden>
                                    <li>
                                        <span class="user-name">th:users name넣을곳</span>
                                        &nbsp
                                    </li>
                                    <li>
                                        <span class="phone">th:users contact넣을곳</span>
                                        <span>&nbsp&nbsp</span>
                                        <span class="phone2">--</span>
                                    </li>
                                    <li class="hide">
                                        <span class="email">th:users email넣을곳</span>
                                    </li>
                                </ul>

                                <div class="order-info">
                                    <input type="hidden" name="order-address-postal" value="0"><!--th:value=users.getAddressPostal -->
                                    <input type="hidden" name="order-address-primary" value="0"><!-- th:value=users.getAddressPrimary -->
                                    <input type="hidden" name="order-address-secondary" value="0"><!-- th:value=users.getAddressSecondary -->
                                </div>

                                <div class="order-info-member">
                                    <ul class="list1">
                                        <li class="order-user-name">"th:value=user.getName 넣을곳"</li>
                                        <li class="order-user-contact">"th:value=user.getContact 넣을곳"</li>
                                        <li class="order-user-email">"th:value=user.getEmail 넣을곳"</li>
                                    </ul>
                                    <button type="button" class="modify-btn">수정</button>
                                </div>

                                <div class="order-info-input">
                                    <ul class="list1">
                                        <li>
                                            <dl>
                                                <dt>보내는 분</dt>
                                                <dd>
                                                    <input type="text" class="order-name" value="0"><!-- th:value=users.getName -->
                                                </dd>
                                            </dl>
                                        </li>

                                        <li>
                                            <dl>
                                                <dt>휴대폰</dt>
                                                <dd>
                                                    <input type="tel" name="user-contact" value="0"><!-- th:value=users.getContact -->
                                                </dd>
                                            </dl>
                                        </li>

                                        <li>
                                            <dl>
                                                <dt>이메일</dt>
                                                <dd>
                                                    <input type="email" name="userEmail" class="user-email" title="이메일" required placeholder="이메일" value="0"> <!-- th:value=users.getEmail -->
                                                </dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="shipping-container">
                                <h3 class="title">
                                    <span class="shipping-area">배송지</span>
                                    <div>
                                        &nbsp
                                        <button type="button" class="change-address-btn">다른배송지 선택</button>
                                        <button type="button" class="modify-btn">수정</button>
                                    </div>
                                </h3>

                                <div class="delivery-area-container">

                                </div>

                                <div class="delivery-info-container">
                                    <ul class ="list">
                                        <li class="user-name">
                                            <span>배송 받는 사람</span>
                                            <span class="user-name">"th:text=users.getName 받을곳"</span>

                                        </li>
                                        <br>
                                        <li>
                                            <span class="address-postal-container">
                                                [<span class="address-postal">th:text=users.getAddressPostal 넣을곳</span>]
                                            </span>
                                            <span class="address-primary">th:text=users.getAddressPrimary 넣을곳</span>
                                            <span class="address-secondary">th:text=users.getAddressSecondary 넣을곳</span>
                                        </li>
                                        <br>
                                        <li>
                                            <span class="contact">th:text=users.getContact 넣을곳 /</span>
                                            <span class="gray">&nbsp</span>
                                            <span class="phone">추가연락처 없음</span>
                                        </li>
                                        <li class="hide" hidden>th:text=users.getEmail 넣을곳</li>
                                        <br>
                                        <li class="nation-container">
                                            배송국가 :
                                            <span class="nation">대한민국</span>
                                            <input type="hidden" id="address-nation" name=addressNation value="korea">
                                            <input type="hidden" id="address-nation-key" name="addressNationKey" value="kor">
                                        </li>

                                        <li class="desc"> ※ 매장수령상품은 매장에서 상품을 수령하세요. </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- 받는분 정보 입력 -->

                            <div class="delivery-selector" hidden>
                                <ul class="delivery-choice clearbox">
                                    <li>
                                        <a href="#">선택</a>
                                    </li>
                                    <li class="input">
                                        <a href="#">신규/수정</a>
                                    </li>
                                </ul>

                                <div class="other-delivery-area">
                                    <!-- 다른 배송지 목록 -->
                                </div>

                                <div class="ship-possible" hidden>
                                    <input type="hidden" id="shipPossible" name="shipPossible" value="y">
                                    아래의 국가(<span class="kr">대한민국</span>)로 배송이 불가능한 상품이 있습니다.
                                    <br>
                                    장바구니에서 주문 상품을 변경해주세요.
                                    <button type="button" class="btn">장바구니로 돌아가기</button>
                                </div>

                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</main>

<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>
