<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BBQ몰 - 카테고리</title>
    <link rel="stylesheet" th:href="@{/bbq/resources/stylesheets/index.css}">
    <link rel="stylesheet" th:href="@{/category/resources/stylesheets/category.css}">
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer th:src="@{/category/resources/scripts/category.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main>
    <div class="swiper">
        <div>
            <div class="catalog-page">
                <form id="form" name="goods-search-form" class="goods-search-form" method="get">
                    <div class="search-filter-wrap">
                        <div class="search-filter">
                            <ul class="search-list">
                                <li class = "li">
                                    <label class="active">
                                        <input type="button" name="ranking" value="랭킹순" class = "button" id="sorting">&nbsp
                                    </label>
                                </li>
                                <li class = "li">
                                    <label class="active">
                                        <input type="button" name="regist" value="신규등록순" class = "button">&nbsp
                                    </label>
                                </li>
                                <li class = "li">
                                    <label class="active">
                                        <input type="button" name="low-price" value="낮은가격순" class = "button">&nbsp
                                    </label>
                                </li>
                                <li class = "li">
                                    <label class="active">
                                        <input type="button" name="high-price" value="높은가격순" class = "button">&nbsp
                                    </label>
                                </li>
                                <li class = "li">
                                    <label class="active">
                                        <input type="button" name="review" value="상품평많은순" class = "button">&nbsp
                                    </label>
                                </li>
                                <li class = "li">
                                    <label class="active">
                                        <input type="button" name="sale" value="판매량순" class = "button">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class = "border-line">

                    </div>

                    <div class="search-item-display" id="searchItemDisplay">
                        <ul class="ul">
                            <li class="goods-list">
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ닭가슴살 맛보기세트 12종 2팩씩 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            41% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>

                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ간편식 골라담기 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            41% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ간편식 맛보기세트 15종 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            27% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            [냉동] BBQ 구운 왕갈비맛 삼각밥 100g 10팩
                                        </div>
                                        <div class="goods-price">
                                            13% 17,300원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                            </li>

                            <li class="goods-list">
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ닭가슴살 맛보기세트 12종 2팩씩 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            41% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>

                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ간편식 골라담기 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            41% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ간편식 맛보기세트 15종 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            27% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            [냉동] BBQ 구운 왕갈비맛 삼각밥 100g 10팩
                                        </div>
                                        <div class="goods-price">
                                            13% 17,300원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                            </li>

                            <li class="goods-list">
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ닭가슴살 맛보기세트 12종 2팩씩 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            41% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>

                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ간편식 골라담기 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            41% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ간편식 맛보기세트 15종 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            27% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            [냉동] BBQ 구운 왕갈비맛 삼각밥 100g 10팩
                                        </div>
                                        <div class="goods-price">
                                            13% 17,300원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                            </li>

                            <li class="goods-list">
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ닭가슴살 맛보기세트 12종 2팩씩 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            41% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>

                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ간편식 골라담기 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            41% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            BBQ간편식 맛보기세트 15종 (신제품)
                                        </div>
                                        <div class="goods-price">
                                            27% 44,900원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                                <div class="item-area">
                                    <a href="/detailMenu" class="goods">
                                        <img src="/resources/images/images/new1.png" width="300px" alt>
                                        <div class="goods-content">
                                            [냉동] BBQ 구운 왕갈비맛 삼각밥 100g 10팩
                                        </div>
                                        <div class="goods-price">
                                            13% 17,300원
                                        </div>
                                    </a>
                                    <div class="zzim">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="paging-navigation">
                        <a href = "#" class = "page">1</a>
                        <a href = "#" class = "page">2</a>
                        <a href = "#" class = "page">3</a>
                        <a href = "#" class = "page">4</a>
                        <a href = "#" class = "page">5</a>
                        <a href = "#" class = "page"><i class="fa-solid fa-angle-right"></i></a>
                        <a href = "#" class = "page"><i class="fa-solid fa-angles-right"></i></a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>