<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BBQ몰 - 디테일메뉴</title>
    <link rel="stylesheet" th:href="@{/bbq/resources/stylesheets/index.css}">
    <link rel="stylesheet" th:href="@{/detailmenu/resources/stylesheets/detailmenu.css}">
    <th:block th:replace="~{fragments/head :: common}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main>
    <div class="products-view">
        <div class="products">

            <div class="title-container">
                <h3>[냉동] BBQ 구운 왕갈비맛 삼각밥 100g 5팩</h3>
            </div>
            <div class="star-container">
                <i class="star fa-solid fa-star"></i>
                <i class="star fa-solid fa-star"></i>
                <i class="star fa-solid fa-star"></i>
                <i class="star fa-solid fa-star"></i>
                <i class="star fa-solid fa-star"></i>
                <a>(0)</a>
            </div>
            <div class="image-container">
                <img src="/resources/images/images/kimbob-title.png" alt>
            </div>
            <div class="pagination">
                <div class="count">
                    <i class="fa-solid fa-angle-left"></i>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="products-spec">

            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>