<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BBQ몰</title>


    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/index.css}">
    <th:block th:replace="~{fragments/head :: common}"></th:block>


</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<div class="swiper-row">
    <div class="swiper">


    </div>
</div>

<main>


    <section class="goods-row goods-row1">
        <span class="title">BBQ몰 추천상품</span>
        <div class="goods-container">
            <div class="goods">
               <a href="#"><img src="/resources/images/md1.png" alt="" width="308px"></a>

                <div class="goods-info">
                    <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                    <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
                </div>

            </div>

            <div class="goods">
                <a href="#"><img src="/resources/images/md2.png" alt="" width="308px"></a>

                <div class="goods-info">
                    <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                    <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
                </div>

            </div> <div class="goods">
            <a href="#"><img src="/resources/images/md3.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md4.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md5.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md6.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md7.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md8.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div>


        </div>


    </section>

    <section class="goods-row goods-row2">
        <span class="title">BBQ몰 추천상품</span>
        <div class="goods-container">
            <div class="goods">
                <a href="#"><img src="/resources/images/md1.png" alt="" width="308px"></a>

                <div class="goods-info">
                    <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                    <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
                </div>

            </div>

            <div class="goods">
                <a href="#"><img src="/resources/images/md2.png" alt="" width="308px"></a>

                <div class="goods-info">
                    <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                    <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
                </div>

            </div> <div class="goods">
            <a href="#"><img src="/resources/images/md3.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md4.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md5.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md6.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md7.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md8.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div>


        </div>


    </section>



    <div class="event-row">

        <a class="title">특가/이벤트</a>

        <ul>
            <li>
                <a>
                    <img src="/resources/images/event1.jpg" width="308px">

                    <span class="event-title">금액대별 육포 증정이벤트</span>
                    <span>육포도 같이가욥!</span>

                </a>
            </li>
            <li>
                <a>
                    <img src="/resources/images/event2.png" width="308px">

                    <span class="event-title">금액대별 육포 증정이벤트</span>
                    <span>육포도 같이가욥!</span>

                </a>
            </li><li>
            <a>
                <img src="/resources/images/event3.png" width="308px">

                <span class="event-title">금액대별 육포 증정이벤트</span>
                <span>육포도 같이가욥!</span>

            </a>
        </li><li>
            <a>
                <img src="/resources/images/event4.png" width="308px">

                <span class="event-title">금액대별 육포 증정이벤트</span>
                <span>육포도 같이가욥!</span>

            </a>
        </li>

        </ul>

        <div class="page-container">
            <a>123</a>

        </div>
    </div>


    <section class="goods-row goods-row1">
        <span class="title">BBQ몰 추천상품</span>
        <div class="goods-container">
            <div class="goods">
                <a href="#"><img src="/resources/images/md1.png" alt="" width="308px"></a>

                <div class="goods-info">
                    <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                    <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
                </div>

            </div>

            <div class="goods">
                <a href="#"><img src="/resources/images/md2.png" alt="" width="308px"></a>

                <div class="goods-info">
                    <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                    <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
                </div>

            </div> <div class="goods">
            <a href="#"><img src="/resources/images/md3.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md4.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md5.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md6.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div> <div class="goods">
            <a href="#"><img src="/resources/images/md7.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div>

            <div class="goods">
            <a href="#"><img src="/resources/images/md8.png" alt="" width="308px"></a>

            <div class="goods-info">
                <a href="#">BBQ닭가슴살 골라담기(신제품)</a>
                <span class="price">
                        <span> 12</span><span class="small-text">%</span>

                          <span>6980</span><span class="small-text">원</span>
                        <span class="small-text">7000</span>
                    </span>
            </div>

        </div>


        </div>


    </section>



    <div class="event-row-big">
        <img src="/resources/images/eventBig.png">
    </div>

<section class="review-row">
    <div ><img src="https://mall.bbq.co.kr/data/skin/responsive_ver1_default_gl/images/bbqnew2/pc/%EA%B3%A0%EA%B0%9D%ED%9B%84%EA%B8%B0.svg">
        <a class="title">고객후기</a> <span class="spring"></span> <a class="more" href="#">더보기 ＞</a></div>

    <ul class="review-container">
        <li class="review">
            <a href="#">
            <img src="/resources/images/review1.png" width="210px" height="210px">
            </a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review1.png" width="210px" height="210px"></a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review1.png" width="210px" height="210px"></a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review1.png" width="210px" height="210px"></a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review1.png" width="210px" height="210px"></a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review1.png" width="210px" height="210px"></a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review2.jpg" width="210px" height="210px"></a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review2.jpg" width="210px" height="210px"></a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review2.jpg" width="210px" height="210px"></a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review2.jpg" width="210px" height="210px"></a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review2.jpg" width="210px" height="210px"></a>
        </li>
        <li class="review">
            <a href="#"><img src="/resources/images/review2.jpg" width="210px" height="210px"></a>
        </li>
    </ul>

</section>
</main>

<th:block th:replace="~{fragments/body :: footer}"></th:block>


</body>
</html>