<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BBQ몰</title>
  <script src="https://kit.fontawesome.com/41d1c83ef6.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">

</head>
<body>
<header>
  <div class="logo-row">
    <div class="logo-container">
      <img  alt="" src="https://mall.bbq.co.kr/data/skin/responsive_ver1_default_gl/images/bbq/bbq_logo.svg">
      <div class="search">
        <div></div>
        <input type="text" maxlength="20" placeholder="BBQ몰 오픈! 신규가입하고 적립금 3,000원 받자!">
        <div class="button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div></div>
      </div>
      <span class="spring"></span>

      <a th:href = "@{http://localhost:8080/register}">회원가입</a>

      <a>로그인</a>
      <a>고객센터</a>
    </div>
  </div>
  <div class="menu-row">
    <div class="menu-container">
      <ul>
        <li class="menu-button">
          <span>X</span>
          <a href="#">전체상품</a>
        </li>
        <li class="menu">
          <a href="#">NEW</a>
        </li>
        <li class="menu">
          <a href="#">BBQ베스트</a>
        </li>
        <li class="menu">
          <a href="#">현명한특가</a>
        </li>
        <li class="menu">
          <a href="#">브랜드관</a>
        </li>
        <li class="menu">
          <a href="#">이벤트/혜택</a>
        </li>
        <span class="spring"></span>
        <li class="my-menu">
          <a href="#"><img alt="" src="https://mall.bbq.co.kr/data/images/bbqnew/pc/%EB%A7%88%EC%9D%B4%ED%8E%98%EC%9D%B4%EC%A7%80.svg"> </a>
        </li>
        <li class="my-menu">
          <a href="#"><img alt="" src="https://mall.bbq.co.kr/data/images/bbqnew/pc/%EC%B0%9C%ED%95%9C%EB%AA%A9%EB%A1%9D.svg"> </a>
        </li>
        <li class="my-menu">
          <a href="#"><img alt="" src="https://mall.bbq.co.kr/data/images/bbqnew/pc/%EC%9E%A5%EB%B0%94%EA%B5%AC%EB%8B%88.svg"></img></a>
        </li>


      </ul>
    </div>
  </div>
</header>
<main>몸</main>

<footer>
  발
</footer>

</body>
</html>