<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BBQ몰</title>


    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/index.css}">
    <th:block th:replace="~{fragments/head :: common}"></th:block>


</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<div class="swiper-row">
    <img class="swiper" src="https://mall.bbq.co.kr/data/skin/responsive_ver1_default_gl/images/banner/10/images_1.png?ver=3000">



</div>

<main>


    <section class="goods-row goods-row1">
        <span class="title">BBQ몰 추천상품</span>
        <ul class="goods-container">
            <li class="goods" th:each="product,i: ${products}" th:if="${i.count <9}">
               <a href="#">
<!--                   <img th:each="image : ${product.getImageIndexes()}">-->
                   <img th:src="@{/admin/productImage (index=${product.getImageIndexes()}) }" alt="이미지" title="이미지">
               </a>

                <div class="goods-info">
                    <a href="#" th:text="${product.getProductName()}">BBQ닭가슴살 골라담기(신제품)</a>
                    <span class="price">
                        <span class="sale-text" th:text="${product.getSaleQuantity()}"> 1277</span><span class="small-text">%</span>

                          <span th:text="${product.getPrice() } - ${product.getPrice()*(product.getSaleQuantity()*0.01)}">6980</span><span class="small-text">원</span>
                        <span class="small-text price-text" th:text="${product.getPrice()}">7000</span>
                    </span>
                </div>

            </li>


        </ul>


    </section>

    <section class="goods-row goods-row2">
        <span class="title">BBQ몰 추천상품</span>
        <ul class="goods-container">
            <li class="goods" th:each="product,i: ${products}" th:if="${i.count >8 and i.count < 17}">
                <a href="#"><img th:src="@{/admin/productImage (index=${product.getImageIndexes()}) }" alt="이미지" title="이미지"></a>

                <div class="goods-info">
                    <a href="#" th:text="${product.getProductName()}">BBQ닭가슴살 골라담기(신제품)</a>
                    <span class="price">
                        <span class="sale-text" th:text="${product.getSaleQuantity()}"> 12</span><span class="small-text">%</span>

                          <span th:text="${product.getPrice() } - ${product.getPrice()*(product.getSaleQuantity()*0.01)}">6980</span><span class="small-text">원</span>
                        <span class="small-text price-text" th:text="${product.getPrice()}">7000</span>
                    </span>
                </div>

            </li>


        </ul>


    </section>



    <div class="event-row">

        <a class="title">특가/이벤트</a>

        <ul>
            <li>
                <a>
                    <img src="/resources/images/event1.jpg" >

                    <span class="event-title">금액대별 육포 증정이벤트</span>
                    <span>육포도 같이가욥!</span>

                </a>
            </li>
            <li>
                <a>
                    <img src="/resources/images/event2.png" >

                    <span class="event-title">금액대별 육포 증정이벤트</span>
                    <span>육포도 같이가욥!</span>

                </a>
            </li><li>
            <a>
                <img src="/resources/images/event3.png" >

                <span class="event-title">금액대별 육포 증정이벤트</span>
                <span>육포도 같이가욥!</span>

            </a>
        </li><li>
            <a>
                <img src="/resources/images/event4.png" >

                <span class="event-title">금액대별 육포 증정이벤트</span>
                <span>육포도 같이가욥!</span>

            </a>
        </li>

        </ul>

        <div class="page-container">
            <a></a>

        </div>
    </div>


    <section class="goods-row goods-row1">
        <span class="title">BBQ몰 추천상품</span>
        <ul class="goods-container">
            <li class="goods" th:each="product,i: ${products}" th:if="${i.count >16}">
                <a href="#"><img th:src="@{/admin/productImage (index=${product.getImageIndexes()}) }" alt="이미지" title="이미지" ></a>

                <div class="goods-info">
                    <a href="#" th:text="${product.getProductName()}">BBQ닭가슴살 골라담기(신제품)</a>
                    <span class="price">
                        <span class="sale-text" th:text="${product.getSaleQuantity()}"> 12</span><span class="small-text">%</span>

                          <span th:text="${product.getPrice() } - ${product.getPrice()*(product.getSaleQuantity()*0.01)}">6980</span><span class="small-text">원</span>
                        <span class="small-text price-text" th:text="${product.getPrice()}">7000</span>
                    </span>
                </div>

            </li>



        </ul>


    </section>



    <div class="event-row-big">
        <img src="/resources/images/eventBig.png">
    </div>

<section class="review-row">
    <div ><img src="https://mall.bbq.co.kr/data/skin/responsive_ver1_default_gl/images/bbqnew2/pc/%EA%B3%A0%EA%B0%9D%ED%9B%84%EA%B8%B0.svg">
        <a class="title">고객후기</a> <span class="spring"></span> <a class="more" th:href="@{/board/ (bid=pr)}">더보기 ＞</a></div>

    <ul class="review-container">
        <li class="review" th:each="review, i: ${reviews}">
            <span class="review-text" th:text="${review.getTitle()}"> </span>
            <a th:href="@{/board/readNotice (bid='pr',nid=${review.getIndex()})}">

                <img th:src="@{/resources/images/review} + ${i.count}+.png"  alt="reviewImage">
            </a>
        </li>

    </ul>

</section>
</main>

<th:block th:replace="~{fragments/body :: footer}"></th:block>


</body>
</html>