<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${'BBQ몰 - '+ keyword}"></title>

    <th:block th:replace="~{fragments/head :: common}"></th:block>


    <!--    <link rel="stylesheet" th:href="@{/bbq/resources/stylesheets/index.css}">-->
    <link rel="stylesheet" th:href="@{/category/resources/stylesheets/search.css}">

    <script defer th:src="@{/category/resources/scripts/search.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<th:block th:replace="~{fragments/body :: floatingBanner}"></th:block>

<main>
    <!--    <input type="hidden" name = "cid" id="cid" th:value="${category.getIndex()}">-->
    <div class="content">
        <div class="title-container">
            <h1 th:text="'‘'+ ${keyword} +'’ 검색 결과'">상품찾기 검색결과</h1>
        </div>
        <form id="mainForm">
            <input type="text" placeholder="검색할 상품명을 입력하세요" id="keyword">
            <input type="submit" name="searchButton" value="검색">


        </form>

        <div class="no-result" th:if="${products.length==0}">
            <span>검색 결과가 없습니다.</span>

        </div>


        <ul class="product-container" th:if="${products!=null}">
            <li class="products"  th:each="product :${products}">
                <!--                            <div th:text = "${product.getProductIndex()}" hidden>3</div>-->
                <a class="image" th:href="@{view (pid=${product.getProductIndex()})}">
                    <img th:src="@{/admin/productImage (index=${product.getImageIndexes()}) }" alt="이미지" title="이미지">
                </a>
                <div class="product-box">
                    <a class="title">
                        <div class="comment" th:text="${product.getProductName()}">내용</div>
                        <span class="sale" th:text="${product.getSaleQuantity()}">13%</span>
                        <span class="percent">%</span>
                        <span class="price" th:text = "${product.getPrice - (product.getPrice() * product.getSaleQuantity() / 100)}">가격</span>
                        <span class="won" >원</span>
                        <span class="base-price" th:text="${product.getPrice()}">상품기본가격</span>
                    </a>
                </div>
            </li>


        </ul>


        <div class="page-container"
             th:with="urlBulder = ${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

            <a class="page"
               th:if="${paging.requestPage >1}"
               th:href="@{${urlBulder.replaceQueryParam('page', paging.minPage).build().toUriString()}}">


                <i class="fa-solid fa-angles-left"></i>

            </a>

            <a class="page"
               th:if="${paging.requestPage >1}"
               th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage -1).build().toUriString()}}">

                <i class="fa-solid fa-angle-left"></i>
            </a>

            <!--                                시퀀스를하면 정수 시작부터 정수끝을 배열로 돌려준다.-->
            <a th:each="page: ${#numbers.sequence(paging.startPage, paging.endPage)}"
               th:class="${'page ' + (page==paging.requestPage? 'selected':'')}"


               th:href="@{${urlBulder.replaceQueryParam('page', page).build().toUriString()}}"

            >
            <span  th:text="${page}"> </span>
            </a>


            <a class="page"
               th:if="${paging.requestPage < paging.maxPage}"
               th:href="@{${urlBulder.replaceQueryParam('page', paging.requestPage +1).build().toUriString()}}">


                <i class="fa-solid fa-angle-right"></i>

            </a>

            <a class="page"
               th:if="${paging.requestPage < paging.maxPage}"
               th:href="@{${urlBulder.replaceQueryParam('page', paging.maxPage).build().toUriString()}}">
                <i class="fa-solid fa-angles-right"></i>
            </a>

        </div>
    </div>

</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>