<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text = "${'BBQ몰 - 장바구니'}"></title>
    <script th:if="${session.user == null}">
        alert('로그인 되어있지 않습니다.');
        if(window.history.length > 1) {
            window.history.back();
        } else {
            window.close();
        }
    </script>
    <link rel="stylesheet" th:href="@{/bbq/resources/stylesheets/index.css}">
    <link rel="stylesheet" th:href="@{/wishlist/resources/stylesheets/wishlist.css}">
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer th:src="@{/wishlist/resources/scripts/wishlist.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: floatingBanner}"></th:block>

<th:block th:replace="~{fragments/body :: header}"></th:block>
<main th:if="${session.user != null}">
    <input type="hidden" name = "pid" id="pid" th:value="${product.getProductIndex()}">
    <div class="wishlist-wrap">
        <div class="wishlist-container">
            <div class="title-container">
                <h2>
                    <span class="title">장바구니</span>
                </h2>
            </div>

            <form class="cart-form" name="cartForm" id="cartForm" >

                <ul class="wishlist-wrap">
                    <li class="cart-left">
                        <div class="cart-contents">
                            <ul class="cart-contents-top">
                                <li class="aa">
                                    <div class="select-btn-container">

                                    </div>
                                </li>

                               <li class="shipping-modify" hidden>
                                   <input type="button" class="shipping-modify-btn" value="배송변경">
                               </li>
                            </ul>

                            <div class="cart-list">
                                <ul class="shipping-container">
                                    <li class="delivery-info" id="shippingInfo">
                                        <ul class="detail">
                                            <li class="shipping-title">배송 :
                                                <span class="title">택배</span>
                                                <span class="price">무료</span>
                                                <span class="btn-area">
                                                    <button type="button" class="resp-btn1" title="새창">묶음배송 상품보기</button>
                                                    <input type="button" class="resp-btn2" value="배송 변경">
                                                </span>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="cart-products" id="cartProducts"  th:each="wishlist : ${wishlists}">
                                        <div class="cart-products-detail">
                                            <div class="products-top">
                                                <input type="hidden" name = "wishlistIndex" id="wishlistIndex" class="wishlist-index" th:value="${wishlist.getIndex()}">
                                                <label>
                                                    <input type="checkbox" name="cart-option" checked="checked">
                                                    <span class="products-name" th:text="${product.getProductName}" id="productName">/th:text="${product.getProductName}" 넣을곳</span>
                                                </label>
                                                <button type="button" class="delete-button" title="상품 삭제" id="deleteButton">삭제</button>
                                            </div>
                                            <div class="product-contents">
                                                <div class="block">
                                                    <ul>
                                                        <li class="image-area">
                                                            <a th:href = "@{/view (pid = ${wishlist.getProductIndex()})}">
                                                                <img src = "/resources/images/new1.png" width="100">
                                                            </a>
                                                        </li>

                                                        <li class="option-area">
                                                            <div class="cart-quantity">
                                                                <span class="quantity-title">수량</span>
                                                                <span class="quantity-count" th:text="${wishlist.getQuantity()}" id="quantity">"th:text=${quantity} 넣을곳"</span>
                                                                <span class="price-quantity">(
                                                                    <span th:text="${wishlist.getPrice() * wishlist.getQuantity()}">"th:text="${wishlist.getPrice()*quantity}" 넣을곳"</span>
                                                                    )</span>
                                                                <span>원</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <ul class="block2">
                                                    <li class="base-price">
                                                        <span class="price-title">상품금액</span>
                                                        <span class="price" th:text="${wishlist.getPrice() * wishlist.getQuantity()}">"th:text="${product.getPrice * quantity}"넣을곳"</span>
                                                        <span>원</span>
                                                    </li>
                                                    <li class="sale-price">
                                                        <span class="sale-price-title"> 할인금액 </span>
                                                        <span class="sale-price" th:text="${wishlist.getPrice() / 100 * wishlist.getSaleQuantity() * wishlist.getQuantity()}">"th:text="${product.getPrice() / 100 * product.getSaleQuantity * quantity}" 넣을곳</span>
                                                        <span>원</span>
                                                    </li>
                                                    <li class="total-price">
                                                        <span class="total-price-title">할인적용금액</span>
                                                        <span class="total-price" th:text="${(wishlist.getPrice() - (wishlist.getPrice() / 100 * wishlist.getSaleQuantity())) * wishlist.getQuantity()}">"th:text="${(product.getPrice() - (product.getPrice() / 100 * product.getSaleQuantity)) * quantity}" 넣을곳</span>
                                                        <span>원</span>
                                                    </li>
                                                </ul>

                                                <ul class="block3">
                                                    <li class="option-modify-btn-container">
                                                        <button type="button" class="option-modify-btn">옵션/수량 변경</button>
                                                    </li>
                                                    <li class="direct-buy-btn-container">
                                                        <button type="button" class="direct-buy-btn">바로구매</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>




                    </li>

                    <li class="cart-right">

                        <div class="user-info-container">
                            <h3 class="title3">
                                <span>주문자 정보</span>
                                <button type="button" id="orderModify" class="modify-button" hidden>수정</button>
                            </h3>

                            <ul class="list1" id="orderInfo" hidden>
                                <li>
                                    <span class="user-name" th:text="${user.getName()}" th:value="${user.getName()}" id="userName">th:users name넣을곳</span>
                                    &nbsp
                                </li>
                                <li>
                                    <span class="phone" th:text="${user.getContact()}" th:value="${user.getContact()}" id="contact">th:users contact넣을곳</span>
                                    <span>&nbsp&nbsp</span>
                                    <span class="phone2">--</span>
                                </li>
                                <li class="hide">
                                    <span class="email" th:text="${user.getEmail()}" th:value="${user.getEmail()}" id="email">th:users email넣을곳</span>
                                </li>
                            </ul>

                            <div class="order-info">
                                <input type="hidden" name="order-address-postal" value="0"><!--th:value=users.getAddressPostal -->
                                <input type="hidden" name="order-address-primary" value="0"><!-- th:value=users.getAddressPrimary -->
                                <input type="hidden" name="order-address-secondary" value="0"><!-- th:value=users.getAddressSecondary -->
                            </div>

                            <div class="order-info-member">
                                <ul class="list1">
                                    <input type="hidden" class="id" id="id" th:value="${user.getId()}">
                                    <li class="order-user-name" th:value="${user.getName()}" th:text="${user.getName()}">"th:value=user.getName 넣을곳"</li>
                                    <li class="order-user-contact" th:value="${user.getContact()}" th:text="${user.getContact()}">"th:value=user.getContact 넣을곳"</li>
                                    <li class="order-user-email" th:value="${user.getEmail()}" th:text="${user.getEmail()}">"th:value=user.getEmail 넣을곳"</li>
                                </ul>
                                <button type="button" class="modify-btn">수정</button>
                            </div>

                            <div class="order-info-input">
                                <ul class="list1">
                                    <li>
                                        <dl>
                                            <dt>보내는 분</dt>
                                            <dd>

                                                <input type="text" class="order-name" value="0"><!-- th:value=users.getName -->
                                            </dd>
                                        </dl>
                                    </li>

                                    <li>
                                        <dl>
                                            <dt>휴대폰</dt>
                                            <dd>
                                                <input type="tel" name="user-contact" value="0"><!-- th:value=users.getContact -->
                                            </dd>
                                        </dl>
                                    </li>

                                    <li>
                                        <dl>
                                            <dt>이메일</dt>
                                            <dd>
                                                <input type="email" name="userEmail" class="user-email" title="이메일" required placeholder="이메일" value="0"> <!-- th:value=users.getEmail -->
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="shipping-container">
                            <h3 class="title">
                                <span class="shipping-area">배송지</span>
                                <div class="modify-shipping">
                                    &nbsp
                                    <button type="button" class="change-address-btn" hidden>다른배송지 선택</button>
                                    <button type="button" class="modify-btn" hidden>수정</button>
                                </div>
                            </h3>

                            <div class="delivery-area-container">

                            </div>

                            <div class="delivery-info-container">
                                <ul class ="list">
                                    <li class="user-name">
                                        <span>배송 받는 사람</span>
                                        <span class="user-name" th:text="${user.getName()}" th:value="${user.getName()}">"th:text=users.getName 받을곳"</span>

                                    </li>
                                    <br>
                                    <li>
                                            <span class="address-postal-container">
                                                [<span class="address-postal" id = "addressPostal" th:text="${user.getAddressPostal()}" th:value="${user.getAddressPostal()}">th:text=users.getAddressPostal 넣을곳</span>]
                                            </span>
                                        <span class="address-primary" id = "addressPrimary" th:text="${user.getAddressPrimary()}" th:value="${user.getAddressPrimary()}">th:text=users.getAddressPrimary 넣을곳</span>
                                        <span class="address-secondary" id = "addressSecondary" th:text="${user.getAddressSecondary()}" th:value="${user.getAddressSecondary()}">th:text=users.getAddressSecondary 넣을곳</span>
                                    </li>
                                    <br>
                                    <li>
                                        <span class="contact" th:text="${user.getContact()}">th:text=users.getContact 넣을곳 /</span>
                                        <span class="gray">&nbsp</span>
                                        <span class="phone">추가연락처 없음</span>
                                    </li>
                                    <li class="hide" hidden>th:text=users.getEmail 넣을곳</li>
                                    <br>
                                    <li class="nation-container">
                                        배송국가 :
                                        <span class="nation">대한민국</span>
                                        <input type="hidden" id="address-nation" name=addressNation value="korea">
                                        <input type="hidden" id="address-nation-key" name="addressNationKey" value="kor">
                                    </li>

                                    <li class="desc"> ※ 매장수령상품은 매장에서 상품을 수령하세요. </li>
                                </ul>
                            </div>
                        </div>

                        <!-- 받는분 정보 입력 -->

                        <div class="delivery-selector" hidden>
                            <ul class="delivery-choice clearbox">
                                <li>
                                    <a href="#">선택</a>
                                </li>
                                <li class="input">
                                    <a href="#">신규/수정</a>
                                </li>
                            </ul>

                            <div class="other-delivery-area">
                                <!-- 다른 배송지 목록 -->
                            </div>

                            <div class="ship-possible" hidden>
                                <input type="hidden" id="shipPossible" name="shipPossible" value="y">
                                아래의 국가(<span class="kr">대한민국</span>)로 배송이 불가능한 상품이 있습니다.
                                <br>
                                장바구니에서 주문 상품을 변경해주세요.
                                <button type="button" class="btn">장바구니로 돌아가기</button>
                            </div>

                        </div>

                        <h3 class="total-title">전체 주문시 금액</h3>
                        <div class="total-sum-price">
                            <input type="hidden" id="sumQuantity" th:value="${sumQuantity}">
                            <ul class="list1">
                                <li class="th">총 상품금액</li>
                                <li class="td">
                                    <span class="product-price">
                                        <span th:text="${sumPrice} + '원'">"th:text=${product.getPrice() * quantity} 넣을곳"</span>
                                    </span>
                                </li>
                            </ul>

                            <ul class="list2">
                                <li class="th">총 배송비</li>
                                <li class="td">
                                    <span class="shipping-price">
                                        <span>3000원</span>
                                    </span>
                                </li>
                            </ul>

                            <ul class="list3">
                                <li class="th">총 할인</li>
                                <li class="td">
                                    <span class="total-sale-price">
                                        <span th:text="${salePrice} + '원'">th:text="${(product.getPrice() / product.getSaleQuantity()) * quantity}" 넣을곳</span>
                                    </span>
                                </li>
                            </ul>

                            <ul class="list4">
                                <li class="th">총 결제금액</li>
                                <li class="td">
                                    <span class="total-price">
                                        <span th:text="${sumPrice - salePrice} + 3000" id="price">th:text="${(product.getPrice - (product.getPrice() / product.getSaleQuantity())) * quantity} + 3000" 넣을곳</span>
                                        <span>원</span>
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <ul class="cart-order-btn-area">
                            <li class="button-container">
                                <input type="button" class="all-order-btn" value="전체 주문하기">
                            </li>
                        </ul>

                        <div class="naver-pay" hidden>

                        </div>


                    </li>


                </ul>
                <div class="total-price-btn">

                </div>
            </form>
        </div>
    </div>

</main>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>